{% extends 'participants/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumb %}
    {% breadcrumb _("Libraries") participants:administration:list %}
    {% breadcrumb _("Create") %}

{% endblock %}

{% block action_content %}
    {% if parent %}
        {% for ancestor in parent.get_ancestors %}
            <a href="{% url participants:administration:list ancestor.id %}">{{ ancestor }}</a> →
        {% endfor %}
        {% if parent.parent_id %}
            <a href="{% url participants:administration:list parent.id %}">{{ parent }}</a>
        {% else %}
            <a href="{% url participants:administration:list %}">{{ parent }}</a>
        {% endif %}
    {% endif %}
    <style type="text/css">
    form input, textarea{
        width: 100%;
    }
    </style>
    <form class="form-horizontal" method="POST">{% csrf_token %}
        {% if parent %}
            <legend>{% trans 'Branch-library creating' %}</legend>
        {% else %}
            <legend>{% trans 'CBS creating' %}</legend>
        {% endif %}
        <fieldset>
            {% include 'administration/base_form_fields.html' with form=library_form %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
                <button type="reset" class="btn">{% trans "Cancel" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}