{% extends 'participants/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load i18n %}
{% load breadcrumbs %}
{% load mptt_tags %}
{% block breadcrumb %}
    {% breadcrumb _("Libraries") participants:administration:list %}
    {% breadcrumb _("Districts") %}
{% endblock %}

{% block action_content %}
    <ul class="list">
        {% for district in districts_page.object_list %}
            <li>
                <span class="title"><a href="{% url participants:administration:district_edit district.id %}">{{ district }}</a></span>
            <span style="float: right;">
                <a class="btn btn-danger" href="{% url participants:administration:district_delete district.id %}">
                    <i class="icon-trash icon-white"></i>
                </a>
            </span>
            </li>
        {% endfor %}
    </ul>
    {% admin_pagination districts_page %}
{% endblock %}