{% extends 'participants/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumb %}
    {% breadcrumb _("Library tipes") participants:administration:library_types_list %}
    {% breadcrumb _("Editing") %}

{% endblock %}

{% block action_content %}
    <form class="form-horizontal" method="POST">{% csrf_token %}
            <legend>{% trans 'Library tipe editing' %}</legend>
        <fieldset>
            {% include 'administration/base_form_fields.html' with form=library_form %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "Edit" %}</button>
                <button type="reset" class="btn">{% trans "Cancel" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}