{% extends 'frontend_base.html' %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <ul class="breadcrumb">

        <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
        {% if request.GET.back %}
            <li><a href="{{ request.GET.back }}">Новости</a> <span class="divider">/</span></li>
        {% else %}
            <li><a href="{% url 'news:frontend:index' %}">Новости</a> <span class="divider">/</span></li>
        {% endif %}
        <li class="active">{{ content.title }}</li>

    </ul>
    {{ content.content|safe }}
{% endblock %}