{% extends 'participants/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}
{% load mptt_tags %}
{% block breadcrumb %}
    {% breadcrumb "Библиотеки" participants:administration:list %}
    {% breadcrumb "Районы" %}
{% endblock %}

{% block action_content %}
    <ul class="list">
        {% for district in districts_page.object_list %}
            <li>
                <span class="title"><a href="{% url 'participants:administration:district_edit' district.id %}">{{ district }}</a></span>
            <span style="float: right;">
                <a class="btn btn-danger {% if not perms.participants.delete_district %} disabled {% endif %}" href="{% url 'participants:administration:district_delete' district.id %}">
                    <i class="icon-trash icon-white"></i>
                </a>
            </span>
            </li>
        {% endfor %}
    </ul>
    {% admin_pagination districts_page %}
{% endblock %}