{% extends 'participants/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}

{% block breadcrumb %}
    {% breadcrumb "Библиотеки" participants:administration:list %}
    {% breadcrumb "Районы" participants:administration:district_list %}
    {% breadcrumb "Редактирование" %}

{% endblock %}

{% block action_content %}
    <form class="form-horizontal" method="POST">{% csrf_token %}
            <legend>Редактирование района</legend>
        <fieldset>
            {% include 'administration/base_form_fields.html' with form=district_form %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Редактировать</button>
                <button type="reset" class="btn">Отменить</button>
            </div>
        </fieldset>
    </form>
{% endblock %}