{% extends 'pages/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumb %}
    {% breadcrumb _("Pages") pages:administration:pages_list %}
    {% breadcrumb _("Editing") %}
{% endblock %}

{% block action_content %}
    <h3>
        {% for ancestor in page.get_ancestors %}
            <a href="{% url pages:administration:pages_list ancestor.id %}">{{ ancestor }}</a> →
        {% endfor %}
        {{ page }}
    </h3>
    <form class="form-horizontal" method="POST">{% csrf_token %}
        <legend>{% trans 'Page editing' %}</legend>
        <fieldset>
            {% include 'administration/base_form_fields.html' with form=page_form %}
            {#            {% include 'administration/base_form_fields.html' with form=translate_form %}#}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                <button type="reset" class="btn">{% trans "Cancel" %}</button>
            </div>
        </fieldset>
    </form>
    <h3>{% trans 'Edit content of this page on next languages' %}:</h3>
    <ul>
        {% for lang in langs %}
            <li><a href="{% url pages:administration:edit_page_content page.id lang.code %}">{{ lang.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}