{% extends 'pages/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load i18n %}
{% load breadcrumbs %}
{% load mptt_tags %}
{% block breadcrumb %}
    {% breadcrumb _("Pages") pages:administration:index %}
    {% breadcrumb _("List")  %}
{% endblock %}

{% block action_content %}
    {% if parent %}
        <h3>
        {% for ancestor in parent.get_ancestors %}
            <a href="{% url pages:administration:pages_list ancestor.id %}">{{ ancestor }}</a> →
        {% endfor %}
        {{ parent }}
        </h3>
    {% endif %}
    <ul class="list">
    {% for page in pages %}
        <li>
            <span class="title">
                {% if not page.content.title %}
                    <a href="{% url pages:administration:edit_page page.id %}">{{ page.slug }}</a>
                {% else %}
                    <a href="{% url pages:administration:edit_page page.id %}">{{ page.content.title }}</a>
                {% endif %}
            </span>
            <a href="{% url pages:administration:create_page page.id %}">{% trans 'Add subpage' %}</a>
            <span class="buttons">
                <a class="btn" href="{% url pages:administration:create_page page.id %}"><i class="icon-plus"></i>{% trans 'Add subpage' %}</a>
                {% if not page.is_leaf_node %}
                    <a href="{% url pages:administration:pages_list page.id %}">{% trans 'Subpages' %}</a>
                {% endif %}
                <a class="btn btn-danger" href="{% url pages:administration:delete_page page.id %}"><i class="icon-trash icon-white"></i></a>
            </span>
        </li>
    {% endfor %}
    </ul>
    {% admin_pagination pages_page %}
{% endblock %}