{% extends 'themed_frontend_base.html' %}
{% block index_content %}
        <div class="span12">
            <h1>Ошибка 404: несуществующая страница.</h1>

        </div>
{% endblock %}

<script type="text/javascript">
    var a = {
        "status":"ok",
        "response": {
            "items": [
                {
                    "itemId": "идентификатор книги",
                    "itemDescription": "описание книги (минимальное, достаточное для идентификации)",
                    "branch_id": "идентификатор филиала где была выдана книга",
                    "issueDate":  "дата выдачи (UTC)",
                    "dateOfReturn":  "дата возврата (UTC)",
                    "extendedToDate":  "дата продления (UTC)"
                }
            ]
        }
    }
</script>