{% load i18n %}
{% load localeurl_tags %}
{% load menu_tags %}
{% load news_tags %}
{% load events_tags %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}Библиотеки г. Челябинска{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/frontend/styles.css">

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<style>
    .active{
        font-weight: bold;
    }
    .menu>ul, .news>ul{
            padding: 0;
            margin: 0;
    }
    .menu ul, .news ul {
        list-style: none;
    }
    .menu .title{
        font-size: 18px;
        font-weight: bold;
    }

    .events #id_month{
        width: 80px;
    }
    .events #id_year{
        width: 70px;
    }
    .events form{
        margin: 0;
    }
    .events table{
        width: 100%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="span8">
            <div class="row">
                <img src="{{ STATIC_URL }}images/theme/logo.png" alt="">
            </div>
        </div>
        <div class="span4">
            <div class="row">
            {% if request.user.is_authenticated %}
                Вы вошкли как: {{ request.user.username }} <a href="{% url accounts:frontend:logout %}">Выйти</a>
            {% else %}
                <a href="{% url accounts:frontend:login %}">Войти</a> <a href="#1">Зарегистрироваться</a>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <hr/>
        <div class="span2">

            <div class="row menu">
            {% drow_menu 'main' %}
                <hr/>
            </div>
            <div class="row news">
                <h3>Новости</h3>
                {% news_feed %}
                <br/>
                <a href="{% url news:frontend:index %}">Остальные новости</a>
                <hr/>
            </div>

            <div class="row events">
                <h3>События</h3>
                {% events_calendar %}
            </div>
        </div>
        <div class="span10">
            <div class="row">
            {% block content %}wefwefwef{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
