{% load i18n %}
{% load localeurl_tags %}
{% load menu_tags %}
{% load gallery_tags %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Челябинская областная универсальная научная библиотека. Информационный портал библиотек Челябинской области{% endblock %} - Челябинская областная универсальная научная библиотека</title>
    <meta name="Keywords" content="{% block meta_keywords %}Челябинская областная универсальная научная библиотека, ЧОУНБ, публичная библиотека, электронная библиотека, электронный каталог, базы данных, Виртуальный абонемент, удаленный доступ, бесплатный интернет, Виртуальная справочная служба, удаленная запись в библиотеку, библиотечно-информационное обслуживание людей с ограниченными возможностями, услуги онлайн, фонды, коллекции, поиск информации, заказ, бронирование, электронная доставка документов, межбиблиотечный абонемент, справочно-библиографическое обслуживание{% endblock %}"/>
    <meta name="Description" content="{% block meta_description %}Центральная библиотека Челябинской области: книгохранилище, информационный, культурный, методический центр. Обеспечивает свободный доступ к библиотечному фонду и электронной информации, расширение интерактивных сервисов обслуживания{% endblock %}"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/frontend/styles.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox.css">

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type='text/javascript' src='http://yandex.st/jquery/tmpl/1.0.0pre/jquery.tmpl.min.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <meta name="yandex-verification" content="9c44f9ae56a80399" />
    <style type="text/css">
        .sc_icons img {
            height: 31px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">

        <div class="span7">
            <div class="row">
                <div id="logo" style="margin: 0 0 10px 0;">

                    <a href="/{{ LANGUAGE_CODE }}/"><img src="{{ STATIC_URL }}images/theme/logo.png"
                                                         style="float: left; margin-right: 20px;"></a>

                    <h3 style="font-weight: normal; width: 500px; line-height: 20px; padding: 23px 0 0 0">ЧЕЛЯБИНСКАЯ
                        ОБЛАСТНАЯ <br/> УНИВЕРСАЛЬНАЯ НАУЧНАЯ <br/>БИБЛИОТЕКА</h3>
                    <h4 style="color: #D11314; font-weight: normal; FONT-SIZE: 13px; line-height: 15px; margin: 15px 0 0 ">
                        ИНФОРМАЦИОННЫЙ ПОРТАЛ <br/> БИБЛИОТЕК
                        ЧЕЛЯБИНСКОЙ ОБЛАСТИ</h4>

                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <div class="span5">
{#            <div style="position: absolute; margin-left: -110px; width: 350px">#}
{#                <span style="color: red">Летний график</span>:#}
{#                <b>вт-сб</b> – 9.00-19.00; <b>вс-пн</b> – выходные дни; <b>последняя пятница месяца</b> – санитарный день#}
{#            </div>#}
            <div class="buttons">
                <div class="map">
                    <a href="{% url 'pages:frontend:show' 'map' %}"></a>
                </div>
                <div class="letter">
                    <a href="mailto:lib@chelreglib.ru" title="lib@chelreglib.ru"></a>
                </div>
                <div class="home">
                    <a href="/"></a>
                </div>
                <div class="icon12"><img style="width: 24px;" src="{{ STATIC_URL }}images/icons/12.jpg" alt=""></div>
                <div style="clear: both;"></div>
            </div>

            <style>
                #slider_frame {
                    border: 0;
                    width: 390px;
                    height: 116px;
                    /*margin: 0 0 -500px -33px;*/
                    position: relative;
                    top: 18px;
                    right: 30px;
                    overflow: hidden;
                }
            </style>
            <iframe id="slider_frame" src="{% url 'index:frontend:slider' %}" frameBorder="0"></iframe>
        </div>
        <div class="row">
            <div class="span12">
                <div style="height: 20px;">
                    <ul id="service_menu">
                        <li><a href="{% url 'news:frontend:index' %}">Новости</a></li>
                        <li><a href="{% url 'forum:frontend:forums' %}">Форум</a></li>
                        <li><a href="{% url 'guestbook:frontend:index' %}">Гостевая книга</a></li>
                        <li><a href="{% url 'gallery:frontend:index' %}">Галерея</a></li>
                        <li><a href="{% url 'cid:frontend:index' %}">Календарь знаменательных дат</a></li>
                    </ul>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div class="span12">
                <div class="menu" style="background: #d11314; height: 33px">
                    {% cache 120 'main' LANGUAGE_CODE %}
                        {% drow_menu 'main' %}
                    {% endcache %}
                </div>
                {#            <hr style="clear: both;"/>#}
            </div>
        </div>
        <div class="row">
            <div class="span12">
                {% block index_content %}wefwefwef{% endblock %}
            </div>
        </div>
        {#    </div>#}
        <hr/>
        {% cache 120 gallery_carusel LANGUAGE_CODE %}
            {% gallery_carusel %}
        {% endcache %}
        <hr/>
        <div style="min-height: 50px;">
            <p style="font-size: 11px">
                <a href="/ru/pages/about/">О библиотеке</a> |
                <a href="/ru/pages/resources/">Ресурсы</a> |
                <a href="/ru/pages/readers/">Читателям</a> |
                <a href="/ru/pages/about/lib/div/kraeved/">Краеведение</a> |
                <a href="/ru/participants/">Библиотеки области</a> |
                <a href="/ru/pages/prof/">Профессионалам</a> |
                <a href="{% url 'news:frontend:index' %}">Новости</a> |
                <a href="{% url 'gallery:frontend:index' %}">Галерея</a> |
                <a href="{% url 'cid:frontend:index' %}">Календарь знаменательных дат</a> |
                <a href="{% url 'forum:frontend:forums' %}">Форум</a> |
                <a href="{% url 'guestbook:frontend:index' %}">Гостевая книга</a>

            </p>
            Государственное казенное учреждение культуры «Челябинская областная универсальная научная библиотека» (ЧОУНБ). Челябинск, 454091, пр. Ленина, 60, (351) 266-05-33,
            lib@chelreglib.ru. <br/>
            Авторские права на содержание ресурса защищены.
            <div class="sc_icons" align="right">
            <a style="float: left; padding-right: 5px;" href="https://metrika.yandex.ru/stat/?id=16630174&amp;from=informer"
                target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/16630174/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                               style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика"
                               title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"
                               onclick="try{Ya.Metrika.informer({i:this,id:16630174,lang:'ru'});return false}catch(e){}"/></a>

                <!-- Rating@Mail.ru logo -->
                <a style="float: left" href="http://top.mail.ru/jump?from=2709065">
                <img src="//top-fwz1.mail.ru/counter?id=2709065;t=479;l=1"
                style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" /></a>
                <!-- //Rating@Mail.ru logo -->
                <a target="_blank" href="http://vk.com/club39715562">
                    <img height="30" src="{{ STATIC_URL }}images/icons/48x48/vkontakte-oauth2.png" alt="">
                </a>
                <!--LiveInternet counter-->
                <script type="text/javascript"><!--
                document.write("<a style='float: left' href='//www.liveinternet.ru/click' "+
                "target=_blank><img src='//counter.yadro.ru/hit?t14.4;r"+
                escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                ";"+Math.random()+
                "' alt='' title='LiveInternet: показано число просмотров за 24"+
                " часа, посетителей за 24 часа и за сегодня' "+
                "border='0' width='88' height='31'><\/a>")
                //--></script>
                <!--/LiveInternet-->
                <a target="_blank"
                   href="https://www.facebook.com/pages/%D0%A7%D0%B5%D0%BB%D1%8F%D0%B1%D0%B8%D0%BD%D1%81%D0%BA%D0%B0%D1%8F-%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D0%BD%D0%B0%D1%8F-%D1%83%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F-%D0%BD%D0%B0%D1%83%D1%87%D0%BD%D0%B0%D1%8F-%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%B0/326427117410395"><img
                        height="30" src="{{ STATIC_URL }}images/icons/48x48/fbk.png" alt="">
                </a>
                <a target="_blank" href="http://my.mail.ru/mail/chounb/">
                    <img height="30" src="{{ STATIC_URL }}images/icons/48x48/mailru-oauth2.png" alt="">
                </a>
                <a target="_blank" href="http://chelreglib.ru/ru/news/rss/">
                    <img height="30" src="{{ STATIC_URL }}images/icons/48x48/feed.png" alt="">
                </a>
                <a target="_blank" href="http://www.youtube.com/user/Publichka74">
                    <img height="30" src="{{ STATIC_URL }}images/icons/48x48/ytbe.png" alt="">
                </a>
                <a target="_blank" alt="Челябинская областная универсальная научная библиотека"
                   href="http://www.tripadvisor.ru/Attraction_Review-g298539-d2337509-Reviews-Chelyabinsk_Regional_Scientific_Universal_Library-Chelyabinsk_Chelyabinsk_Oblast_Urals_District.html">
                    <img src="{{ STATIC_URL }}images/icons/48x48/tripadvisor.png"  alt="Челябинская областная универсальная научная библиотека">
                </a>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    var mainMenu = {
        prevLi: false
    };
    $('#main_menu').on('mouseleave', function () {
        mainMenu.prevLi = false;
    });

    var $menu = $('#main_menu>li');

    $menu.on('click', function (event) {

        var $target = $(event.currentTarget);
        var isHovered = true;
        mainMenu.prevLi = true;
        $target.addClass('opened');
        $menu.one('mouseleave', function () {
            isHovered = false;
            $target.removeClass('opened');
        });
    });

    $menu.on('mouseenter', function (event) {

        var $target = $(event.currentTarget);
        var isHovered = true;
        var openTimeout = 0;

        if (!mainMenu.prevLi) {
            openTimeout = 500;
        }
        mainMenu.prevLi = true;
        setTimeout(function () {
            if (isHovered == true) {
                $target.addClass('opened');
            }
        }, openTimeout);
        $menu.one('mouseleave', function () {
            isHovered = false;
            $target.removeClass('opened');
        });
    });
</script>
<script type="text/javascript">

    //    jQuery(document).ready(function() {
    //        jQuery('#mycarousel').jcarousel();
    //    });
    function mycarousel_initCallback(carousel) {
        carousel.buttonNext.bind('click', function () {
            carousel.startAuto(0);
        });

        carousel.buttonPrev.bind('click', function () {
            carousel.startAuto(0);
        });

        carousel.clip.hover(function () {
            carousel.stopAuto();
        }, function () {
            carousel.startAuto();
        });
    }
    ;

    jQuery(document).ready(function () {
        jQuery('#carousel').jcarousel({
            auto: 2,
            wrap: 'last',
//            visible: 5
            initCallback: mycarousel_initCallback
        });
    });
</script>

<script type="text/javascript">
    jQuery(document).ajaxSend(function (event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                        // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
        }

        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">(function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter16630174 = new Ya.Metrika({id: 16630174, enableAll: true});
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks");</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/16630174" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<!-- Rating@Mail.ru counter -->
        <script type="text/javascript">
        var _tmr = window._tmr || (window._tmr = []);
        _tmr.push({id: "2709065", type: "pageView", start: (new Date()).getTime()});
        (function (d, w, id) {
        if (d.getElementById(id)) return;
        var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
        ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
        var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
        if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
        })(document, window, "topmailru-code");
        </script><noscript><div style="position:absolute;left:-10000px;">
        <img src="//top-fwz1.mail.ru/counter?id=2709065;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
        </div></noscript>
<!-- //Rating@Mail.ru counter -->
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-34208114-1', 'auto');
    ga('send' +
            '', 'pageview');
</script>

{% block javascript %}
{% endblock %}
</body>
</html>
