{% load mptt_tags %}
{% load active_link %}
<div class="menu">
{#    <span class="title">{{ menu.title }}</span>#}
    <ul class="items">
        {% if nodes %}
            {% recursetree nodes %}
{#                <li {% if path == node.item_title.url  %}class="active"{% endif %}>#}
                {% url participants_pages:frontend:show library_id node.url_path as node_url %}
                <li class="{% if request.path == node_url %} active {% endif %}">
{#                    <a href="{{ node.item_title.url }}" {% if node.open_in_new %} target="_blank" {% endif %}>{{ node.item_title.title }}</a>#}
                    <a href="{{ node_url }}">{{ node.title }}</a>
                </li>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            {% endrecursetree %}
        {% endif %}
    </ul>
</div>

