{% extends 'backend_base.html' %}
{% load active_link %}
{% block module_menu %}
    {% include 'administration/module_menu.html' %}
{% endblock %}
{% block module_content %}
    {% active_path 'users:administration:index' %}
    <a class="{% active 'users:administration:index' %}" href="{% url users:administration:index %}">wedwed</a>
    В последнее время в сфере интернет-сообществ нельзя не заметить несколько очевидных
    изменений, о которых я хочу рассказать.

    На протяжении более 3 лет я являюсь администратором фан-сайта. На протяжении всего этого времени (и даже
    больше) я стараюсь следить за аналогичными сообществами в сети, за их жизнью и развитием. Сразу подчеркну —
    меня интересуют узкотематические сообщества, поддерживаемые энтузиастами, а не коммерческие проекты.

    По моим наблюдениям, в русскоязычном интернете расцвет таких сообществ пришелся на 2005-2009 годы. Это
    соответствует времени, когда скоростной доступ в интернет появился у широких масс населения (в частности, у
    «среднего класса» и близких к нему по доходам и образу жизни социальных слоев), а цены на хостинг и аренду
    доменных имен снизились. В итоге, человек получил возможность сравнительно просто и дешево открыть свой
    сайт, посвященный любимой команде, певице, рок-группе, актеру, своему хобби и т.п. Этот сайт мог быть
    раскручен честными методами и получить высокие места в поисковой выдаче без активного пиара и применения
    SEO. Проще говоря, этот сайт мог быть успешен. Широкое распространение получили форумы (практически
    полностью вытеснившие гостевые книги и доски объявлений). Технический и содержательный уровень таких сайтов
    мог быть совершенно различным.
{% endblock %}