{% extends 'themed_frontend_base.html' %}
{% load libcms_pages_tags %}
{% load news_tags %}
{% load events_tags %}
{% load polls_tags %}
{% load libcms_pages_tags %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block meta_description %}ЧОУНБ – знаковое место культурной жизни Челябинска. Информация о книгах, электронных ресурсах, услугах и событиях. Регистрация читателей, Виртуальный абонемент, Виртуальная справка. Новости и адреса библиотек Челябинской области{% endblock %}
{% block index_content %}
    {% block content %}
        <main class="main">
            <div class="banner-wrap">
                <div class="container">
                    <div class="banner">
                        <div class="search-main">
                            <script>
                                function initSearch(f) {
                                    var searchInput = document.getElementsByClassName('search-main__input')[0];
                                    if (searchInput) {
                                        window.open('https://opac.chelreglib.ru/rfind?iddb=650&query=(FT+' + searchInput.value + ')&(querytext=' + searchInput.value + ')', '_blank');
                                    }
                                }
                            </script>
                            <form role="search" method="GET" onsubmit="initSearch(this); return false;">
                                <div class="search-main__input-wrap">
                                    <input class="search-main__input search-main__input_plh-blue"
                                           placeholder="Поиск по электронному каталогу" type="text" name="query">
{#                                    <input type="hidden" name="attr" value="all_t"/>#}
                                    <button class="search-main__btn" type="submit" title="Найти"></button>
                                </div>
                                <ul class="search-main__nav">
                                    <li class="search-main__nav-item">
                                        <a class="search-main__nav-link" href="https://urelib.chelreglib.ru/" target="_blank">
                                            Уральская электронная библиотека</a>
                                    </li>
                                    <li class="search-main__nav-item">
                                        <a class="search-main__nav-link"
                                           target="_blank"
                                           href="http://opac.chelreglib.ru/wl/74.html">Электронный каталог
                                            ЧОУНБ</a>
                                    </li>
                                    <li class="search-main__nav-item">
                                        <a class="search-main__nav-link"
                                           href="http://opac.chelreglib.ru/sk74"
                                           target="_blank" rel="noopener">Сводный каталог библиотек Челябинской
                                            области</a>
                                    </li>
                                    <li class="search-main__nav-item">
                                        <a class="search-main__nav-link"
                                           href="https://yandex.ru/sitesearch?text=*&searchid=2292485"
                                           target="_blank" rel="noopener">Поиск по сайту</a>
                                    </li>
                                    <li class="search-main__nav-item">
                                        <a class="search-main__nav-link" style="background-color: rgb(232,71,55); border-radius: 3px; display: inline-block; padding: 1px 4px"
                                           href="/ru/subscribe/">Подписки</a>
                                    </li>
                                </ul>
                            </form>

                        </div>
                        <div class="banner__divider"></div>
                        <div class="banner__row">
                            <div class="banner__col-slider">
                                {% render_page_content "common/slider" %}
                            </div>
                            <div class="banner__col-ask">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title">Спроси библиотекаря</h2>
                                        <p class="card-detail">Ищете информацию? Подбираете литературу? Есть вопросы о
                                            работе
                                            библиотеки? Виртуальная справочная служба ЧОУНБ поможет.</p>
                                        <ul class="card-nav">
                                            <li class="card-nav__item">
                                                <a class="btn" href="{% url 'ask_librarian:frontend:ask' %}">Задать
                                                    вопрос</a>
                                            </li>
                                            <li class="card-nav__item">
                                                <a class="btn btn_link" href="{% url 'ask_librarian:frontend:index' %}">Все
                                                    вопросы</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <a class="pushka"
                                   target="_blank"
                                   href="https://vmuzey.com/museum/chelyabinskaya-oblastnaya-universalnaya-nauchnaya-biblioteka">
                                    <img alt="Пушкинская карта" class="pushka__banner" src="{{ STATIC_URL }}front/images/pushka.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="section container">
                <div class="section-header">
                    <h3 class="section__title">Новости ЧОУНБ</h3>
                    <ul class="section-nav section-nav_left">
                        <li class="section-nav__item">
                            <a class="section-nav__link section-nav__link_rss"
                               href="{% url 'news:frontend:rss' %}">RSS</a>
                        </li>
                        <li class="section-nav__item">
                            <a class="section-nav__link" href="{% url 'news:frontend:index' %}?type=chel">Все
                                новости</a>
                        </li>
                    </ul>
                </div>
                <div class="card-list card-list_4">
                    {% news_feed 4 0 %}
                </div>
            </section>
            {% events_broadcasts %}
            <div class="main__row container">
                <div class="main__col">
                    <section class="section">
                        <div class="section__divider"></div>
                        <div class="section-header">
                            <h3 class="section__title">Новости библиотек области</h3>
                            <ul class="section-nav">
                                <li class="section-nav__item">
                                    <a class="section-nav__link section-nav__link_rss"
                                       href="{% url 'news:frontend:rss' %}">RSS</a>
                                </li>
                                <li class="section-nav__item">
                                    <a class="section-nav__link" href="{% url 'news:frontend:index' %}?type=lib">Все
                                        новости</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-list card-list_2">
                            {% news_feed 4 1 %}
                        </div>
                    </section>
                </div>
                <aside class="main__col main__col_aside">
                    <aside class="card">
                        <div class="card-body">
                            <div class="card-header">
                                <h2 class="card-title">Афиша мероприятий</h2>
                                <ul class="card-header-nav">
                                    <li class="card-header-nav__item">
                                        <a class="card-header-nav__link" href="{% url 'events:frontend:index' %}">Все мероприятия</a>
                                    </li>
                                    <li class="card-header-nav__item">
                                        <a class="card-header-nav__link" href="{% url 'events:frontend:broadcasts' %}">Трансляции</a>
                                    </li>
                                </ul>
                            </div>
                            {% events_calendar %}
                        </div>
                    </aside>
                    <aside class="card card_mt-5">
                        <div class="card-body">
                            <div class="card-header">
                                <h3 class="card-title">Голосование</h3>
                                <ul class="card-header-nav">
                                    <li class="card-header-nav__item">
                                        <a class="card-header-nav__link" href="{% url 'polls:frontend:index' %}">Архив опросов</a>
                                    </li>
                                </ul>
                            </div>
                            {% poll_form %}
                        </div>
                    </aside>
                </aside>
            </div>
            {% render_page_content 'common/footer_cards'  %}
            {% comment %}
            <div class="section container">
                <div class="card-list card-list_link">
                    <div class="card-list__item">
                        <a class="card card_link card_bl-1" href="/ru/pages/readers/readcenter/book_exhibitions/">
                            <div class="card-body">
                                <h2 class="card-title card-title_td-lc">
                                    Книжные выставки
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="card-list__item">
                        <a class="card card_link card_bl-2" href="/ru/pages/readers/visiting/readingrooms/summer/">
                            <div class="card-body">
                                <h2 class="card-title card-title_td-lc">
                                    Летний читальный зал
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="card-list__item">
                        <a class="card card_link card_bl-3"
                           href="/dl/?code=kp2018066&id=6b06051b5ef3b1fe4797e09320c88e43">
                            <div class="card-body">
                                <h2 class="card-title card-title_td-lc">
                                    Календарь знаменательных и памятных дат
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="card-list__item">
                        <a class="card card_link card_bl-4"
                           href="/ru/pages/prof/education/activity/morgenshternovskie_chteniya_2018/">
                            <div class="card-body">
                                <h2 class="card-title card-title_td-lc">
                                    Моргенштерновские чтения
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="card-list__item">
                        <a class="card card_link card_bl-5"
                           href="/ru/pages/about/120_let_chounb/southural_bookfair-2018/">
                            <div class="card-body">
                                <h2 class="card-title card-title_td-lc">
                                    Южноуральская книжная ярмарка 2018
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="card-list__item">
                        <a class="card card_link card_bl-6"
                           href="/media/files/about/documents/koncepciya_razvitiya_chounb_do_2025.pdf">
                            <div class="card-body">
                                <h2 class="card-title card-title_td-lc">
                                    Концепция развития ЧОУНБ
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="card-list__item">
                        <a class="card card_link card_bl-7"
                           href="http://litkarta.chelreglib.ru/" target="_blank">
                            <div class="card-body">
                                <h2 class="card-title card-title_td-lc">
                                    Литературная карта Челябинской области
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="card-list__item">
                        <a class="card card_link card_bl-8" href="/ru/pages/resources/elres/internet-projects/">
                            <div class="card-body">
                                <h2 class="card-title card-title_td-lc">
                                    Интернет-проекты ЧОУНБ
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="card-list__item">
                        <a class="card card_link card_bl-9" href="/ru/pages/readers/visiting/kibo/">
                            <div class="card-body">
                                <h2 class="card-title card-title_td-lc">
                                    КИБО - мобильная библиотека
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="card-list__item">
                        <a class="card card_link card_bl-10" href="/ru/pages/readers/visiting/dostupnaya-sreda/">
                            <div class="card-body">
                                <h2 class="card-title card-title_td-lc">
                                    Доступная среда в ЧОУНБ
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="card-list__item">
                        <a class="card card_link card_bl-11" href="/ru/pages/about/lib/quality/anketa/">
                            <div class="card-body">
                                <h2 class="card-title card-title_td-lc">
                                    Независимая оценка качества
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="card-list__item">
                        <a class="card card_link card_bl-12" href="http://bus.gov.ru/pub/info-card/63934" target="_blank" rel="noopener">
                            <div class="card-body">
                                <h2 class="card-title card-title_td-lc">
                                    Результат независимой оценки качества оказания услуг
                                </h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endcomment %}
        </main>
    {% endblock %}
{% endblock %}
