{% extends "zgate/administration/zcatalogs.html" %}
{% load adminmedia %}
{% block module_action %}статистика{% endblock %}
{% block module_page %}
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/media/admin/js/core.js"></script>
    <script type="text/javascript" src="/media/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/media/admin/js/admin/DateTimeShortcuts.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>
    <script type="text/javascript">
        window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
    </script>

    <div class="module_actions column prepend-1 last">
        <a href="?statistics=attributes" class="button">Статистика по поисковым атрибутам</a>
        <a href="?statistics=requests" class="button">Статистика по запросам</a>
        <a href="?statistics=terms" class="button">Статистика по фразам</a>
    </div>
    <hr/>
    <div class="column span-19 prepend-1 last">
        <form action="" method="POST">
            <fieldset>
                {{ catalog_form }}
                {{ period_form.as_div }}
                {{ group_form.as_div }}
                {{ attributes_form.as_div }}
            </fieldset>
            <input type="submit" value="Показать" class="btn"/>
        </form>
        <div id="container"></div>
        {#{{ zcatalog.requests_by_day }}#}
    </div>
    <hr class="space"/>
    {% include 'zgate/administration/zcatalog_statistics_column.html' %}
{% endblock %}