{% extends "zgate/administration/zcatalogs.html" %}
{% block module_action %}статистика{% endblock %}
{% block module_page %}
    {% load static %}
    {% get_static_prefix as  STATIC_URL%}
    <script type="text/javascript" src="{{ STATIC_URL }}highcharts/highcharts.js"></script>
    <script type="text/javascript" src="{% url 'jsi18n' %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/calendar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/widgets.css"/>

    <script type="text/javascript">
        window.__admin_media_prefix__ = "{{ STATIC_URL }}admin/";
    </script>






    <div class="module_actions column prepend-1 last">
        <a href="?statistics=attributes" class="button">Статистика по поисковым атрибутам</a>
        <a href="?statistics=requests" class="button">Статистика по запросам</a>
        <a href="?statistics=terms" class="button">Статистика по фразам</a>
    </div>
    <hr/>
    <div class="">
        <form novalidate action="" method="POST">{% csrf_token %}
            <fieldset>
                {{ catalog_form }}
                {{ period_form.as_div }}
                {{ group_form.as_div }}
                {{ attributes_form.as_div }}
            </fieldset>
            <input type="submit" value="Показать" class="btn"/>
        </form>
        <div id="chart_container" class="" style="width: 100%"></div>
        {#{{ zcatalog.requests_by_day }}#}
    </div>
    <hr class="space"/>
    {% include 'zgate/administration/zcatalog_statistics_column.html' %}
{% endblock %}