{% extends 'frontend_base.html' %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url index:frontend:index %}">Начало</a> <span class="divider">/</span></li>
        {% for ancestor in content.page.get_ancestors_titles %}
            <li><a href="{% url pages:frontend:show ancestor.url_path %}">
                {% if not ancestor.title %}
                    {{ ancestor }}
                {% else %}
                    {{ ancestor.title }}
                {% endif %}
            </a> <span class="divider">/</span></li>
        {% endfor %}
        <li>
            {% if not content.title %}
                заглавие страницы для этого языка не указано.
            {% else %}
                {{ content.title }}
            {% endif %}
        </li>
    </ul>
    {{ content.content|safe }}
{% endblock %}