{% extends 'menu/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}

{% block breadcrumb %}
    {% breadcrumb "Меню" menu:administration:menu_list %}
    {% breadcrumb "Создание пункта" %}

{% endblock %}

{% block action_content %}
    <form novalidate class="form-horizontal" method="POST">{% csrf_token %}
        <legend>Создание пункта меню</legend>
        <fieldset>
            {% include 'administration/base_form_fields.html' with form=item_form %}
            {% for menu_item_title_form in menu_item_title_forms %}
                <p>Название меню на языке: <b>{{  menu_item_title_form.lang }}</b>↴</p>
                {% include 'administration/base_form_fields.html' with form=menu_item_title_form.form %}
            {% endfor %}
{#            {% include 'administration/base_form_fields.html' with form=translate_form %}#}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Создать</button>
                <button type="reset" class="btn">Отмена</button>
            </div>
        </fieldset>
    </form>
{#    <script type="text/javascript">#}
{#        $('a').click(function(){#}
{#            if (confirm("Вы не сохранили страницу. Всё равно покинуть?")) {#}
{#                return True;#}
{#            } else {#}
{#                return false;#}
{#            }#}
{#        });#}
{#    </script>#}

{% endblock %}