{% load i18n %}
{% load active_link %}
<ul class="nav nav-pills nav-stacked">
    <li class="#1"><a href="/radmin/filebrowser/contenttype/">Справочник типов содержимого</a></li>
{#    <li class="#1"><a href="#1">Типы содержания</a></li>#}
{#    <li class="{% active 'erm2:administration:currencies' %}"><a href="{% url 'erm2:administration:currencies' %}">Валюты</a></li>#}
{#    <li class="{% active 'erm2:administration:subjects' %}"><a href="{% url 'erm2:administration:subjects' %}">Тематики</a></li>#}
</ul>
