{% load libcms_pages_tags %}
<div class="row">
    <style>
        .pivot__description {
            color: #B71C1C;
            cursor: pointer;
        }
    </style>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="content">
            <div style="margin-bottom: 10px; margin-right: 20px">
                <form action="/ru/ssearch/" method="GET">
                    <div class="search-main__input-wrap">
                        <input type="hidden" name="attr" value="all_t">
                        <input class="search-main__input search-main__input_plh-blue" id="appendedInputButton"
                               type="text"
                               name="q"
                               placeholder="Поиск по УЭБ"
                        >

                        <button class="search-main__btn" type="submit" title="Найти"></button>
                    </div>

                </form>
            </div>
            <div>
                {{ pivot_tree|safe }}
            </div>
            <h3><a href="{% url 'ssearch:statistics:popular' %}">Рейтинг ресурсов</a></h3>
            <h3><a href="{% url 'ssearch:statistics:index' %}">Статистика</a></h3>
            <h3><a href="{% url 'ssearch:frontend:incomes' %}">Новые поступления</a></h3>
            {#            <div>#}
            {#                <h3>Статистика</h3>#}
            {#                <ul id="f{{ facet.code }}">#}
            {#                    {% for coll in stat.coll_stat %}#}
            {#                        <li>#}
            {#                            <span href="{% url 'ssearch:frontend:index' %}?q={{ coll.name|urlencode }}&attr=collection_s&in=on">{{ coll.name }}</span><br/>#}
            {#                            <span>Документов: {{ coll.docs }}</span>#}
            {#                            <span >Просмотров: {{ coll.views }}</span>#}
            {#                        </li>#}
            {#                    {% empty %}#}
            {#                        <li>У найденных записей атрибут отсутвует</li>#}
            {#                    {% endfor %}#}
            {#                </ul>#}
            {#                <p>#}
            {#                    <span class="backlight">Всего документов в коллекциях: {{ stat.all_documents_count }}</span>#}
            {#                </p>#}
            {#            </div>#}
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="content">

            {% render_page_content 'common/elib_description' %}
            {#            <h2>О проекте</h2>#}
            {#            <p>#}
            {#                Уральская электронная библиотека ведется с 2007 года с целью формирования репертуара электронных#}
            {#                документов об#}
            {#                Урале, обеспечения полноты коллекций за счет регионального подхода к их формированию,#}
            {#                представления в сети#}
            {#                Интернет достоверных источников краеведческой информации.#}
            {#            </p>#}
            {#            <p>#}
            {#                Содержит материалы о природе края, по истории, народному образованию, экономической, научной и#}
            {#                культурной жизни#}
            {#                Урала XIX – XXI вв., коллекции уральской периодической печати.#}
            {#            </p>#}
            {#            <p>#}
            {#                УЭБ состоит из тематических коллекций.#}
            {#            </p>#}
            {#            <p>#}
            {#                Пополнение ресурса осуществляется за счет оцифровки фондов Челябинской областной универсальной#}
            {#                научной#}
            {#                библиотеки и отдельных изданий, предоставленных библиотеками Уральского региона, поступлений#}
            {#                электронных#}
            {#                копий документов в дар от авторов/правообладателей.#}
            {#            </p>#}
            {#            <p>#}
            {#                Выражаем благодарность авторам и организациям, предоставившим материалы для Уральской#}
            {#                электронной библиотеки.#}
            {#            </p>#}
            {#            <ul>#}
            {#                <li><a href="/ru/pages/kray/resources/urelib/partners">Участники проекта</a></li>#}
            {#                <li><a href="/ru/pages/about/lib/div/kraeved/">Контакты</a></li>#}
            {#                <li><a href="/ru/pages/kray/resources/urelib/help/">Помощь</a></li>#}
            {#                <li><a href="/ru/pages/kray/resources/urelib/neweldoc/">Новые поступления</a></li>#}
            {#            </ul>#}

        </div>
    </div>
</div>
<div class="modal micromodal-slide" id="marcModal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal__header">
                <h2 class="modal__title" id="modal-1-title">
                    Описание коллекции
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <div class="modal__content" id="modal-1-content">
                <div class="tab-pane" id="marc">{{ record.marc_dump|safe }}</div>
            </div>
            <footer class="modal__footer">
                <button class="btn" data-micromodal-close aria-label="Закрыть модальное окно">Закрыть</button>
            </footer>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.pivot__description').on('click', function () {
            /*try {
                MicroModal.show('marcModal');
            } catch (e) {
                console.error(e)
            }*/
            var parts = [];
            $(this).parents('.pivot__element').each(function (index, el) {
                parts.push($(el).children('.pivot__title:first-child').text());
            });
            var collectionPages = {
                'Уральская электронная библиотека':
                    '/ru/pages/ecollection/urelib/',

                'Уральская электронная библиотека/Периодические издания':
                    '/ru/pages/ecollection/urelib/periodicals/',
                'Уральская электронная библиотека/Периодические издания/Газета "Большевистское слово" (Златоуст)':
                    '/ru/pages/ecollection/urelib/kollekciya_gazeta_bolshevistskoe_slovo/',
                'Уральская электронная библиотека/Периодические издания/Газета "Вестник Приуралья" (Челябинск)':
                        '/ru/pages/ecollection/urelib/gazeta_vestnik_priuralya/',
                'Уральская электронная библиотека/Периодические издания/Газета "Власть народа" (Челябинск)':
                        '/ru/pages/ecollection/urelib/gazeta-vlast-naroda/',
                'Уральская электронная библиотека/Периодические издания/Газета "За трудовую доблесть" (Челябинск)':
                        '/ru/pages/ecollection/urelib/kollekciya_gazeta_za_trudovuyu_doblest/',
                'Уральская электронная библиотека/Периодические издания/Газета "Златоустовский рабочий"':
                        '/ru/pages/ecollection/urelib/kollekciya_gazeta_zlatoustovskiy_rabochiy/',
                'Уральская электронная библиотека/Периодические издания/Газета "Копейский рабочий"':
                        '/ru/pages/ecollection/urelib/gazeta_kopeyskiy_rabochiy/',
                'Уральская электронная библиотека/Периодические издания/Газета "Колос" (Уйское)':
                        '/ru/pages/ecollection/urelib/gazeta_kolos/',
                'Уральская электронная библиотека/Периодические издания/Газета "Курганская свободная мысль"':
                        '/ru/pages/ecollection/urelib/gazeta-kurganskaya-svobodnaya-mysl/',
                'Уральская электронная библиотека/Периодические издания/Газета "Ленинские искры" (Челябинск)':
                        '/ru/pages/ecollection/urelib/gazeta_leninskie_iskry/',
                'Уральская электронная библиотека/Периодические издания/Газета "Наш трактор" (Челябинск)':
                        '/ru/pages/ecollection/urelib/gazeta_nash_traktor/',
                'Уральская электронная библиотека/Периодические издания/Газета "Оренбургские епархиальные ведомости"':
                        '/ru/pages/ecollection/urelib/gazeta_orenburgskie_eparhialnye_vedomosti/',
                'Уральская электронная библиотека/Периодические издания/Газета "Призыв"':
                        '/ru/pages/ecollection/urelib/kollekciya_gazeta_prizyv/',
                'Уральская электронная библиотека/Периодические издания/Газета "Пролетарская мысль" (Златоуст)':
                        '/ru/pages/ecollection/urelib/kollekciya_gazeta_proletarskaya_mysl/',
                'Уральская электронная библиотека/Периодические издания/Газета "Саткинский рабочий"':
                        '/ru/pages/ecollection/urelib/gazeta_satkinskiy_rabochiy/',
                'Уральская электронная библиотека/Периодические издания/Газета "Сталинская смена" (Челябинск)':
                        '/ru/pages/ecollection/urelib/gazeta_stalinskaya_smena/',
                'Уральская электронная библиотека/Периодические издания/Газета "Утро Сибири" (Челябинск)':
                        '/ru/pages/ecollection/urelib/gazeta_utro_sibiri/',
                'Уральская электронная библиотека/Периодические издания/Газета "Челябинский рабочий"':
                        '/ru/pages/ecollection/urelib/periodicals/gazeta_chelyabinskiy_rabochiy/',
                'Уральская электронная библиотека/Периодические издания/Газета "Уфалейский рабочий" (Верхний Уфалей)':
                        '/ru/pages/ecollection/urelib/gazeta_ufaleyskiy_rabochiy/',
                'Уральская электронная библиотека/Периодические издания/Газета "Красный уралец" (Верхнеуральск)':
                        '/ru/pages/ecollection/urelib/gazeta_krasnyy_uralec/',
                'Уральская электронная библиотека/Периодические издания/Газета "Сельский день" (Магнитогорск ; Верхнеуральск)':
                        '/ru/pages/ecollection/urelib/gazeta_selskiy_den/',


                'Уральская электронная библиотека/Персональные коллекции':
                    '/ru/pages/ecollection/urelib/personal_collections/',
                'Уральская электронная библиотека/Персональные коллекции/Наследие Моргенштерна':
                    '/ru/pages/ecollection/urelib/personal_collections/morgenshtern/',
                'Уральская электронная библиотека/Персональные коллекции/Б. Т. Уткин - ученый, библиограф, краевед':
                    '/ru/pages/ecollection/urelib/personal_collections/utkin/',
                'Уральская электронная библиотека/Уральская область':
                    '/ru/pages/ecollection/urelib/uralskaya_oblast/',
                'Уральская электронная библиотека/БПА Челябинской области советского периода':
                    '/ru/pages/ecollection/urelib/uralskaya_oblast/',
                'Уральская электронная библиотека/Урал. XVIII–XXI вв.':
                    '/ru/pages/ecollection/urelib/kollekciya_ural_xviii-xxi_vv/',
                'Уральская электронная библиотека/Челябинская область: история':
                    '/ru/pages/ecollection/urelib/kollekciya_chelyabinskaya_oblast_istoriya/',
                'Уральская электронная библиотека/Природа Урала':
                    '/ru/pages/ecollection/urelib/priroda_urala/',
                'Уральская электронная библиотека/Чернобыль: взгляд сквозь время':
                    '/ru/pages/ecollection/urelib/chernobyl_vzglyad_skvoz_vremya/',
                'Уральская электронная библиотека/Южный Урал - театральный':
                    '/ru/pages/ecollection/urelib/yuzhnyy_ural_teatralnyy/',
                'Уральская электронная библиотека/Народное образование на Урале':
                    '/ru/pages/ecollection/urelib/narodnoe_obrazovanie_na_urale/',
                'Уральская электронная библиотека/Горнозаводское производство на Южном Урале':
                    '/ru/pages/ecollection/urelib/gornozavodskoe_proizvodstvo_na_yuzhnom_urale/',
                'Уральская электронная библиотека/Записки Уральского общества любителей естествознания':
                    '/ru/pages/ecollection/urelib/zapiski_uralskogo_obshchestva_lyubiteley_estestvoznaniya/',
                'Уральская электронная библиотека/Издано в Челябинске. 1941–1945 гг.':
                    '/ru/pages/ecollection/urelib/izdano_v_chelyabinske_1941-1945/',
                'Уральская электронная библиотека/Оренбургская архивная комиссия. 1896-1917':
                    '/ru/pages/ecollection/urelib/orenburgskaya_arhivnaya_komissiya_1896-1917/',
                'Уральская электронная библиотека/Библиотеки Урала. XIX-XXI вв.':
                    '/ru/pages/ecollection/urelib/biblioteki_urala/',
                'Уральская электронная библиотека/Оренбургская губерния':
                    '/ru/pages/ecollection/urelib/kollekciya_orenburgskaya_guberniya/',
                'Уральская электронная библиотека/Гражданская война на Урале':
                    '/ru/pages/ecollection/urelib/grazhdanskaya_voyna_na_urale/',
                'Уральская электронная библиотека/Челябинская губерния. 1919-1923 гг.':
                    '/ru/pages/ecollection/urelib/chelyabinskaya_guberniya_1919_1923/',
                'Уральская электронная библиотека/Западно-Сибирская железная дорога':
                    '/ru/pages/ecollection/urelib/zapadno-sibirskaya_zheleznaya_doroga/',
                'Уральская электронная библиотека/Южный Урал–Казахстан: встречи на границе':
                    '/ru/pages/ecollection/urelib/kollekciya_yuzhnyy_ural-kazahstan_vstrechi_na_granice/',
                'Уральская электронная библиотека/Уфимская губерния. 1865–1919 гг.':
                    '/ru/pages/ecollection/urelib/ufimskaya_guberniya_1865-1919/',
                'Уральская электронная библиотека/Календари знаменательных дат':
                    '/ru/pages/ecollection/urelib/kalendari_znamenatelnyh_dat/',
                'Уральская электронная библиотека/Революции 1917 г. на Урале':
                    '/ru/pages/ecollection/urelib/kollekciya_revolyucii_1917_g_na_urale/',
                'Уральская электронная библиотека/Искусство Урала':
                    '/ru/pages/ecollection/urelib/iskusstvo_urala/',
                'Уральская электронная библиотека/Краеведы и краеведение':
                    '/ru/pages/ecollection/urelib/kraevedy_i_kraevedenie/',
                'Уральская электронная библиотека/Фольклор Урала':
                    '/ru/pages/ecollection/urelib/folklor_urala/',
                'Уральская электронная библиотека/Челябинск. XIX–XXI вв.':
                    '/ru/pages/ecollection/urelib/kollekciya_chelyabinsk_xix-xxi_vv/',
                'Уральская электронная библиотека/Музыкальная жизнь Урала':
                    '/ru/pages/ecollection/urelib/muzykalnaya_zhizn_urala/',
                'Уральская электронная библиотека/Религия на Урале':
                    '/ru/pages/ecollection/urelib/kollekciya_religiya_na_urale/',
                'Уральская электронная библиотека/Оренбургское казачье войско':
                    '/ru/pages/ecollection/urelib/kollekciya_orenburgskoe_kazache_voysko/',
                'Уральская электронная библиотека/Пермская губерния. 1796–1923 гг.':
                    '/ru/pages/ecollection/urelib/permskaya_guberniya/',
                'Уральская электронная библиотека/Коллекция "Южный Урал – театральный"':
                    '/ru/pages/ecollection/urelib/yuzhnyy_ural_teatralnyy/',
                'Уральская электронная библиотека/Музей права Южного Урала':
                    '/ru/pages/ecollection/urelib/muzey_prava_yuzhnogo_urala/',
                'Книжные памятники Челябинской области':
                    '/ru/pages/ecollection/kp/',
                'Книжные памятники Челябинской области/Старопечатные книги (изданные с 1450 по 1830 г.)':
                    '#',
                'Книжные памятники Челябинской области/Рукописные книги кириллической традиции':
                    '/ru/pages/ecollection/kp/rukopisnye_knigi_kirillicheskoy_tradicii/',
                'Книжные памятники Челябинской области/Книги гражданской печати 18 века':
                    '#',
                'Книжные памятники Челябинской области/Книжные памятники регионального значения (собрания местной печати)':
                    '/ru/pages/ecollection/kp/knizhnye_pamyatniki_regionalnogo_znacheniya/',
                'Книжные памятники Челябинской области/Печатные книги кириллической традиции':
                    '#',
                'Книжные памятники Челябинской области/Печатные книги кириллической традиции':
                    '#',
                'Книжные памятники Челябинской области/Редкие книги второй половины XIX-начала XX вв.':
                    '#',
                'ШОС и БРИКС: контуры сотрудничества':
                    '/ru/pages/ecollection/shos_i_briks_kontury_sotrudnichestva/',
                'ШОС и БРИКС: контуры сотрудничества/Деятельность стран ШОС и БРИКС':
                    '/ru/pages/ecollection/shos_i_briks_kontury_sotrudnichestva/deyatelnost_stran_shos_i_briks/',
                'ШОС и БРИКС: контуры сотрудничества/Нормативно-правовые документы':
                    '/ru/pages/ecollection/shos_i_briks_kontury_sotrudnichestva/normativno_pravovye_dokumenty_stran_shos_i_briks/',
            };

            var collectionPage = collectionPages[parts.reverse().join('/')];
            var $modalContent = $('.modal__content');
            if (collectionPage !== undefined) {
                $modalContent.html('Загрузка описания...');
                $.get(collectionPage).done(function (data) {
                    $modalContent.html(data);
                    MicroModal.show('marcModal');
                }).error(function (error) {
                    if (error.status === 404) {
                        $modalContent.html('Страница с описанием коллекции не существует');
                    } else {
                        $modalContent.html('Ошибка при загрузке описания');
                    }

                    MicroModal.show('marcModal');
                    console.error(error, error.stack)
                });
            } else {
                $modalContent.html('Ссылка на описание не найдена');
                MicroModal.show('marcModal');
            }
            return false;
        });

        $('.pivot__title').on('click', function () {
            $(this).siblings('ul').toggle();
            $(this).siblings('span').toggleClass('expanded');
            return false
        })
    });

</script>

