{% load libcms_pages_tags %}
<div class="row">
    <style>
        .pivot__description {
            color: #B71C1C;
            cursor: pointer;
        }
    </style>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="content">
            <div style="margin-bottom: 10px; margin-right: 20px">
                <form action="/ru/ssearch/" method="GET">
                    <div class="search-main__input-wrap">
                        <input type="hidden" name="attr" value="all_t">
                        <input class="search-main__input search-main__input_plh-blue" id="appendedInputButton"
                               type="text"
                               name="q"
                               placeholder="Поиск по УЭБ"
                        >

                        <button class="search-main__btn" type="submit" title="Найти"></button>
                    </div>

                </form>
            </div>
            <div>
                {{ pivot_tree|safe }}
            </div>
            <h3><a href="{% url 'ssearch:statistics:popular' %}">Рейтинг ресурсов</a></h3>
            <h3><a href="{% url 'ssearch:statistics:index' %}">Статистика</a></h3>
            <h3><a href="{% url 'ssearch:frontend:incomes' %}">Новые поступления</a></h3>
            {#            <div>#}
            {#                <h3>Статистика</h3>#}
            {#                <ul id="f{{ facet.code }}">#}
            {#                    {% for coll in stat.coll_stat %}#}
            {#                        <li>#}
            {#                            <span href="{% url 'ssearch:frontend:index' %}?q={{ coll.name|urlencode }}&attr=collection_s&in=on">{{ coll.name }}</span><br/>#}
            {#                            <span>Документов: {{ coll.docs }}</span>#}
            {#                            <span >Просмотров: {{ coll.views }}</span>#}
            {#                        </li>#}
            {#                    {% empty %}#}
            {#                        <li>У найденных записей атрибут отсутвует</li>#}
            {#                    {% endfor %}#}
            {#                </ul>#}
            {#                <p>#}
            {#                    <span class="backlight">Всего документов в коллекциях: {{ stat.all_documents_count }}</span>#}
            {#                </p>#}
            {#            </div>#}
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="content">

            {% render_page_content 'common/elib_description' %}
            {#            <h2>О проекте</h2>#}
            {#            <p>#}
            {#                Уральская электронная библиотека ведется с 2007 года с целью формирования репертуара электронных#}
            {#                документов об#}
            {#                Урале, обеспечения полноты коллекций за счет регионального подхода к их формированию,#}
            {#                представления в сети#}
            {#                Интернет достоверных источников краеведческой информации.#}
            {#            </p>#}
            {#            <p>#}
            {#                Содержит материалы о природе края, по истории, народному образованию, экономической, научной и#}
            {#                культурной жизни#}
            {#                Урала XIX – XXI вв., коллекции уральской периодической печати.#}
            {#            </p>#}
            {#            <p>#}
            {#                УЭБ состоит из тематических коллекций.#}
            {#            </p>#}
            {#            <p>#}
            {#                Пополнение ресурса осуществляется за счет оцифровки фондов Челябинской областной универсальной#}
            {#                научной#}
            {#                библиотеки и отдельных изданий, предоставленных библиотеками Уральского региона, поступлений#}
            {#                электронных#}
            {#                копий документов в дар от авторов/правообладателей.#}
            {#            </p>#}
            {#            <p>#}
            {#                Выражаем благодарность авторам и организациям, предоставившим материалы для Уральской#}
            {#                электронной библиотеки.#}
            {#            </p>#}
            {#            <ul>#}
            {#                <li><a href="/ru/pages/kray/resources/urelib/partners">Участники проекта</a></li>#}
            {#                <li><a href="/ru/pages/about/lib/div/kraeved/">Контакты</a></li>#}
            {#                <li><a href="/ru/pages/kray/resources/urelib/help/">Помощь</a></li>#}
            {#                <li><a href="/ru/pages/kray/resources/urelib/neweldoc/">Новые поступления</a></li>#}
            {#            </ul>#}

        </div>
    </div>
</div>
<div class="modal micromodal-slide" id="marcModal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal__header">
                <h2 class="modal__title" id="modal-1-title">
                    Описание коллекции
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <div class="modal__content" id="modal-1-content">
                <div class="tab-pane" id="marc">{{ record.marc_dump|safe }}</div>
            </div>
            <footer class="modal__footer">
                <button class="btn" data-micromodal-close aria-label="Закрыть модальное окно">Закрыть</button>
            </footer>
        </div>
    </div>
</div>
<script>
  $(function () {

    const collectionPages = new Map();

    collectionPages.set(
      'Уральская электронная библиотека',
      '/ru/pages/ecollection/urelib/'
    );
    collectionPages.set(
      'Периодические издания',
      '/ru/pages/urelib/periodika/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Авангард" (Катав-Ивановск)',
      '/ru/pages/urelib/periodika/gazeta_avangard/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Горняцкая правда" (Коркино)',
      '/ru/pages/urelib/periodika/gazeta_gornyackaya_pravda/'
    );
    collectionPages.set(
      'Периодические издания/Газета "За цветные металлы" (Кыштым)',
      '/ru/pages/urelib/periodika/gazeta_za_cvetnye_metally/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Красное знамя" (Касли)',
      '/ru/pages/urelib/periodika/gazeta_krasnoe_znamya/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Новая жизнь" (Еманжелинск)',
      '/ru/pages/urelib/periodika/gazeta_novaya_zhizn//'
    );
    collectionPages.set(
      'Периодические издания/Газета "Путь Ильича" (Бреды)',
      '/ru/pages/urelib/periodika/gazeta_put_ilicha/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Социалистический труд" (Нязепетровск)',
      '/ru/pages/urelib/periodika/gazeta_socialisticheskiy_trud/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Стальная искра" (Аша)',
      '/ru/pages/urelib/periodika/gazeta_stalnaya_iskra/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Победа" (Чесма)',
      '/ru/pages/urelib/periodika/gazeta_pobeda/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Степные зори" (Чесма)',
      '/ru/pages/urelib/periodika/gazeta_stepnye_zori/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Большевистское слово" (Златоуст)',
      '/ru/pages/urelib/periodika/kollekciya_gazeta_bolshevistskoe_slovo/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Вестник Приуралья" (Челябинск)',
      '/ru/pages/urelib/periodika/gazeta_vestnik_priuralya/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Власть народа" (Челябинск)',
      '/ru/pages/urelib/periodika/gazeta-vlast-naroda/'
    );
    collectionPages.set(
      'Периодические издания/Газета "За трудовую доблесть" (Челябинск)',
      '/ru/pages/urelib/periodika/kollekciya_gazeta_za_trudovuyu_doblest/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Златоустовский рабочий"',
      '/ru/pages/urelib/periodika/kollekciya_gazeta_zlatoustovskiy_rabochiy/'
    );

    collectionPages.set(
      'Периодические издания/Газета "Колос" (Уйское)',
      '/ru/pages/urelib/periodika/gazeta_kolos/'
    );

    collectionPages.set(
      'Периодические издания/Газета "Копейский рабочий" (Копейск)',
      '/ru/pages/urelib/periodika/gazeta_kopeyskiy_rabochiy/'
    );

    collectionPages.set(
      'Периодические издания/Газета "Курганская свободная мысль"',
      '/ru/pages/urelib/periodika/gazeta-kurganskaya-svobodnaya-mysl/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Ленинские искры" (Челябинск)',
      '/ru/pages/urelib/periodika/gazeta_leninskie_iskry/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Наш трактор" (Челябинск)',
      '/ru/pages/urelib/periodika/gazeta_nash_traktor/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Оренбургские епархиальные ведомости"',
      '/ru/pages/urelib/periodika/gazeta_orenburgskie_eparhialnye_vedomosti/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Призыв"',
      '/ru/pages/urelib/periodika/kollekciya_gazeta_prizyv/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Пролетарская мысль" (Златоуст)',
      '/ru/pages/urelib/periodika/gazeta_proletarskaya_mysl/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Саткинский рабочий"',
      '/ru/pages/urelib/periodika/gazeta_satkinskiy_rabochiy/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Сталинская смена" (Челябинск)',
      '/ru/pages/urelib/periodika/gazeta_stalinskaya_smena/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Утро Сибири" (Челябинск)',
      '/ru/pages/urelib/periodika/gazeta_utro_sibiri/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Челябинский рабочий"',
      '/ru/pages/urelib/periodika/gazeta_chelyabinskiy_rabochiy/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Уфалейский рабочий" (Верхний Уфалей)',
      '/ru/pages/urelib/periodika/gazeta_ufaleyskiy_rabochiy/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Красный уралец" (Верхнеуральск)',
      '/ru/pages/urelib/periodika/gazeta_krasnyy_uralec/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Сельский день" (Магнитогорск ; Верхнеуральск)',
      '/ru/pages/urelib/periodika/gazeta_selskiy_den/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Миасский рабочий" (Миасс)',
      '/ru/pages/urelib/periodika/miasskiy_rabochiy/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Комсомолец"',
      '/ru/pages/urelib/periodika/komsomolec/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Вечерний Челябинск"',
      '/ru/pages/urelib/periodika/vecherniy_chelyabinsk/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Команда"',
      '/ru/pages/urelib/periodika/komanda/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Знамя Октября" (Миасское)',
      '/ru/pages/urelib/periodika/znamya_oktyabrya/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Знамя Октября" (Пласт)',
      '/ru/pages/urelib/periodika/znamya_oktyabrya/'
    );
    collectionPages.set(
      'Периодические издания/Газета "Знамя Октября" (Пласт)',
      '/ru/pages/urelib/periodika/znamya_oktyabrya/'
    );
    collectionPages.set(
      'Периодические издания/Газета «Заветы Ленина» (Долгодеревенское)',
      '/ru/pages/urelib/periodika/zavety_lenina/'
    );
    collectionPages.set(
      'Периодические издания/Газета «Знамя коммунизма» (Уйское)',
      '/ru/pages/urelib/periodika/znamya_kommunizma/'
    );
    collectionPages.set(
      'Периодические издания/Газета «Коллективист» (Варна)',
      '/ru/pages/urelib/periodika/kollektivist/'
    );
    collectionPages.set(
      'Периодические издания/Газета «Копейский рабочий»',
      '/ru/pages/urelib/periodika/kopeyskiy_rabochiy/'
    );
    collectionPages.set(
      'Периодические издания/Газета «Маяк» (Миасское)',
      '/ru/pages/urelib/periodika/mayak/'
    );

    collectionPages.set(
      'Персональные коллекции',
      '/ru/pages/urelib/personal/'
    );
    collectionPages.set(
      'Персональные коллекции/И.В. Стариков – ученый-историк, педагог',
      '/ru/pages/urelib/personal/igor_vladimirovich_starikov_uchenyy_istorik_pedagog/'
    );
    collectionPages.set(
      'Персональные коллекции/Наследие Моргенштерна',
      '/ru/pages/urelib/personal/nasledie_morgenshterna/'
    );
    collectionPages.set(
      'Персональные коллекции/Б. Т. Уткин - ученый, библиограф, краевед',
      '/ru/pages/urelib/personal/boris_timofeevich_utkin_uchenyy_bibliograf_kraeved/'
    );
    collectionPages.set(
      'Книжные памятники Челябинской области',
      '/ru/pages/urelib/knizhnye_pamyatniki_chelyabinskoy_oblasti/'
    );

    collectionPages.set(
      'Книжные памятники Челябинской области/Издания периода революции и гражданской войны (1917 - 1921) в России',
      '/ru/pages/urelib/knizhnye_pamyatniki_chelyabinskoy_oblasti/izdaniya_perioda_revolyucii_i_grazhdanskoy_voyny_1917_1921_v_rossii/'
    );

    collectionPages.set(
      'Книжные памятники Челябинской области/Библиотека Товарищества "Бр. Покровские"',
      '/ru/pages/urelib/knizhnye_pamyatniki_chelyabinskoy_oblasti/biblioteka_tovarishchestva_br_pokrovskie/'
    );

    collectionPages.set(
      'Книжные памятники Челябинской области/Библиотека Дома Романовых',
      '/ru/pages/urelib/knizhnye_pamyatniki_chelyabinskoy_oblasti/romanovy_chelyabinskaya_kollekciya_knig_imperatorskoy_dinastii/'
    );

    collectionPages.set(
      'Книжные памятники Челябинской области/Южноуральские книжные редкости',
      '/ru/pages/urelib/knizhnye_pamyatniki_chelyabinskoy_oblasti/yuzhnouralskie_knizhnye_redkosti/'
    );

    collectionPages.set(
      'Тематические коллекции',
      '/ru/pages/urelib/tematicheskie/'
    );
    collectionPages.set(
      'Тематические коллекции/Библиотеки Урала. XIX-XXI вв.',
      '/ru/pages/urelib/tematicheskie/biblioteki_urala/'
    );
    collectionPages.set(
      'Тематические коллекции/Горнозаводское производство на Южном Урале',
      '/ru/pages/urelib/tematicheskie/gornozavodskoe_proizvodstvo_na_yuzhnom_urale/'
    );
    collectionPages.set(
      'Тематические коллекции/Гражданская война на Урале',
      '/ru/pages/urelib/tematicheskie/grazhdanskaya_voyna_na_urale/'
    );
    collectionPages.set(
      'Тематические коллекции/Западно-Сибирская железная дорога',
      '/ru/pages/urelib/tematicheskie/zapadno-sibirskaya_zheleznaya_doroga/'
    );
    collectionPages.set(
      'Тематические коллекции/Записки Уральского общества любителей естествознания',
      '/ru/pages/urelib/tematicheskie/zapiski_uralskogo_obshchestva_lyubiteley_estestvoznaniya/'
    );
    collectionPages.set(
      'Тематические коллекции/Издано в Челябинске. 1941–1945 гг.',
      '/ru/pages/urelib/tematicheskie/izdano_v_chelyabinske_1941-1945/'
    );
    collectionPages.set(
      'Тематические коллекции/Искусство Урала',
      '/ru/pages/urelib/tematicheskie/iskusstvo_urala/'
    );
    collectionPages.set(
      'Тематические коллекции/Календари знаменательных дат',
      '/ru/pages/urelib/tematicheskie/kalendari_znamenatelnyh_dat/'
    );
    collectionPages.set(
      'Тематические коллекции/Краеведы и краеведение',
      '/ru/pages/urelib/tematicheskie/kraevedy_i_kraevedenie/'
    );
    collectionPages.set(
      'Тематические коллекции/Литературная жизнь Южного Урала',
      '/ru/pages/urelib/tematicheskie/literaturnaya_zhizn_yuzhnogo_urala/'
    );
    collectionPages.set(
      'Тематические коллекции/Музей права Южного Урала',
      '/ru/pages/urelib/tematicheskie/muzey_prava_yuzhnogo_urala/'
    );
    collectionPages.set(
      'Тематические коллекции/Народное образование на Урале',
      '/ru/pages/urelib/tematicheskie/narodnoe_obrazovanie_na_urale/'
    );
    collectionPages.set(
      'Тематические коллекции/Оренбургская архивная комиссия. 1896-1917',
      '/ru/pages/urelib/tematicheskie/orenburgskaya_arhivnaya_komissiya_1896-1917/'
    );
    collectionPages.set(
      'Тематические коллекции/Оренбургская губерния',
      '/ru/pages/urelib/tematicheskie/orenburgskaya_guberniya/'
    );
    collectionPages.set(
      'Тематические коллекции/Оренбургское казачье войско',
      '/ru/pages/urelib/tematicheskie/orenburgskoe_kazache_voysko/'
    );
    collectionPages.set(
      'Тематические коллекции/Пермская губерния. 1796–1923 гг.',
      '/ru/pages/urelib/tematicheskie/permskaya_guberniya/'
    );
    collectionPages.set(
      'Тематические коллекции/Правовые акты Челябинской области 1934-1990 гг.',
      '/ru/pages/urelib/tematicheskie/pravovye_akty_chelyabinskoy_oblasti_1934-1990/'
    );
    collectionPages.set(
      'Тематические коллекции/Природа Урала',
      '/ru/pages/urelib/tematicheskie/priroda_urala/'
    );
    collectionPages.set(
      'Тематические коллекции/Революции 1917 г. на Урале',
      '/ru/pages/urelib/tematicheskie/revolyucii_1917_goda_na_urale/'
    );
    collectionPages.set(
      'Тематические коллекции/Религия на Урале',
      '/ru/pages/urelib/tematicheskie/religiya_na_urale/'
    );
    collectionPages.set(
      'Тематические коллекции/Урал. XVIII–XXI вв.',
      '/ru/pages/urelib/tematicheskie/ural_xviii-xxi_veka/'
    );
    collectionPages.set(
      'Тематические коллекции/Уральская область',
      '/ru/pages/urelib/tematicheskie/uralskaya_oblast/'
    );
    collectionPages.set(
      'Тематические коллекции/Уфимская губерния. 1865–1919 гг.',
      '/ru/pages/urelib/tematicheskie/ufimskaya_guberniya_1865-1919/'
    );
    collectionPages.set(
      'Тематические коллекции/Фольклор Урала',
      '/ru/pages/urelib/tematicheskie/folklor_urala/'
    );
    collectionPages.set(
      'Тематические коллекции/Челябинск. XIX–XXI вв.',
      '/ru/pages/urelib/tematicheskie/kollekciya_chelyabinsk_xix-xxi_veka/'
    );
    collectionPages.set(
      'Тематические коллекции/Челябинская губерния. 1919-1923 гг.',
      '/ru/pages/urelib/tematicheskie/chelyabinskaya_guberniya_1919_1923/'
    );
    collectionPages.set(
      'Тематические коллекции/Челябинская область: история',
      '/ru/pages/urelib/tematicheskie/chelyabinskaya_oblast_istoriya/'
    );
    collectionPages.set(
      'Тематические коллекции/Чернобыль: взгляд сквозь время',
      '/ru/pages/urelib/tematicheskie/chernobyl_vzglyad_skvoz_vremya/'
    );

    collectionPages.set(
      'Тематические коллекции/ШОС и БРИКС: контуры сотрудничества',
      '/ru/pages/urelib/tematicheskie/shos_i_briks_kontury_sotrudnichestva/'
    );

    collectionPages.set(
      'Тематические коллекции/Южный Урал - театральный',
      '/ru/pages/urelib/tematicheskie/yuzhnyy_ural_teatralnyy/'
    );

    collectionPages.set(
      'Тематические коллекции/Южный Урал–Казахстан: встречи на границе',
      '/ru/pages/urelib/tematicheskie/yuzhnyy_ural-kazahstan_vstrechi_na_granice/'
    );

    collectionPages.set(
      'Тематические коллекции/Наследие Магнитки',
      '/ru/pages/urelib/tematicheskie/nasledie_magnitki/'
    );

    collectionPages.set(
      'Тематические коллекции/ЧОУНБ: история в фотографиях',
      '/ru/pages/urelib/tematicheskie/CHOUNB_istoriya_v_fotografiyah/'
    );


    $('.pivot__description').on('click', function () {
      /*try {
          MicroModal.show('marcModal');
      } catch (e) {
          console.error(e)
      }*/
      const parts = [];
      $(this).parents('.pivot__element').each(function (index, el) {
        parts.push($(el).children('.pivot__title:first-child').text());
      });
      const path = parts.reverse().join('/');
      console.log(path)
      const collectionPage = collectionPages.get(path);
      console.log(collectionPage);
      var $modalContent = $('.modal__content');
      if (collectionPage) {
        $modalContent.html('Загрузка описания...');
        $.get(collectionPage).done(function (data) {
          $modalContent.html(data);
          MicroModal.show('marcModal');
        }).error(function (error) {
          if (error.status === 404) {
            $modalContent.html('Страница с описанием коллекции не существует');
          } else {
            $modalContent.html('Ошибка при загрузке описания');
          }

          MicroModal.show('marcModal');
          console.error(error, error.stack)
        });
      } else {
        $modalContent.html('Ссылка на описание не найдена');
        MicroModal.show('marcModal');
      }
      return false;
    });

    $('.pivot__title').on('click', function () {
      $(this).siblings('ul').toggle();
      $(this).siblings('span').toggleClass('expanded');
      return false
    })
  });

</script>

