{% extends 'themed_frontend_base.html' %}
{% block title %}{{ record.dict.title }}{% endblock %}
{% block canonical_link %}
    <link rel="canonical" href="https://{{ request.get_host }}{% url 'ssearch:frontend:detail' %}?id={{ record.id|urlencode }}">
{% endblock %}
{% block index_content %}

    <main class="main">
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">Главная</a>
                    </li>
                    <li>
                        <a href="{% url 'ssearch:frontend:index' %}">Поиск</a>
                    </li>
                    {% if request.GET.back %}
                        <li>
                            <a href="{{ request.GET.back }}">Результаты поиска</a>
                        </li>
                    {% endif %}
                    <li>
                        <span class="crumb__current">
                            Детальная информация
                        </span>
                    </li>
                </ol>
            </nav>

            <div class="row row_sm-col-reverce">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div id="taaaShaaa">
                        <div id="taaaShaaaFacets" class="search-main__side-wrap">
                            <ul class="search-main__side-detail-nav">
                                {#                                <li class="search-main__side-detail-nav-item">#}
                                {#                                    <a class="btn" href="#">В избранное</a>#}
                                {#                                </li>#}
                                {#                                <li class="search-main__side-detail-nav-item">#}
                                {#                                    <a class="btn btn_gray" href="#">PDF</a>#}
                                {#                                </li>#}
                                <li class="search-main__side-detail-nav-item">
                                    <button class="btn btn_gray" data-custom-open="marcModal" role="button">MARC запись
                                    </button>
                                </li>
                                {#                                <li class="search-main__side-detail-nav-item">#}
                                {#                                    Просмотров записи: {{ edoc_view_count }}#}
                                {#                                </li>#}
                                {% for stat in statistics %}
                                    <li>{{ stat.title|capfirst }}: {{ stat.value }}</li>
                                {% endfor %}
                                <li class="search-main__side-detail-nav-item">
                                    <div class="ya-share2" data-services="vkontakte,whatsapp,telegram"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="search-detail">
                        <div class="card">
                            <div class="card-body">
                                <a href="{{ request.GET.back }}" class="btn btn_gray"><&nbsp;&nbsp;Обратно к результатам
                                    поиска</a>
                                {{ record.library_cadr|safe }}
                                {% if attributes %}
                                    <table class="table" style="margin-top: 10px">
                                        {% for attribute in attributes %}
                                            <tr>
                                                <td style="width: 150px">{{ attribute.title }}</td>
                                                <td>{% include 'ssearch/frontend/print_attribute_values.html' with values=attribute.values %}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                                <hr/>
                                {% with annotations=record.tpl.annotations %}
                                    {% if annotations %}
                                        <h4>Примечания:</h4>
                                        {% for annotation in annotations %}
                                            <p>{{ annotation }}</p>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                {% if  linked_records %}
                                    <hr/>
                                    <h3>Тома/части входящие в это издание:</h3>
                                    <ul>
                                        {% for linked_record in linked_records %}
                                            <li><a target="_blank"
                                                   href="{% url 'ssearch:frontend:detail' %}?id={{ linked_record.id|urlencode }}">{{ linked_record.dict.title.0 }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if next_record_id %}
                                    <a href="{% url 'ssearch:frontend:detail' %}?id={{ next_record_id|urlencode }}">Следующая запись</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="modal micromodal-slide" id="marcModal" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <header class="modal__header">
                    <h2 class="modal__title" id="modal-1-title">
                        MARC запись
                    </h2>
                    <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                </header>
                <div class="modal__content" id="modal-1-content">
                    <div class="tab-pane" id="marc">{{ record.marc_dump|safe }}</div>
                </div>
                <footer class="modal__footer">
                    <button class="btn" data-micromodal-close aria-label="Закрыть модальное окно">Закрыть</button>
                </footer>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            setTimeout(function () {
                $('.ya-share2__link').on('click', function (event) {
                    $.post('{% url 'ssearch:frontend:log' %}', {
                        id: '{{ request.GET.id }}',
                        action: 'SOCIAL_SHARE'
                    }).done(function () {
                    }).fail(function () {
                    });
                })
            }, 1000);
        });
    </script>
    <script>
        $(function () {
            $.post('{% url 'ssearch:frontend:log' %}', {
                id: '{{ request.GET.id }}',
                action: 'VIEW_DETAIL'
            }).done(function () {
            }).fail(function () {
            });
        });
    </script>
    {% include 'ssearch/frontend/logger.html' with record_id=request.GET.id %}
{% endblock %}