{% extends 'themed_frontend_base.html' %}
{% load add_get_tag %}
{% load static %}
{% load pagination_tag %}
{% block index_content %}
    {% get_static_prefix as STATIC_URL %}
    <main class="main">
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">Главная</a>
                    </li>
                    <li>
                        <a href="{% url 'ssearch:frontend:index' %}">Уральская электронная библиотека</a>
                    </li>
                    <li>
                        <span class="crumb__current">
                           Новые поступления
                        </span>
                    </li>
                </ol>
            </nav>
            <div class="row row_sm-col-reverce">
                <div class="col-lg-12 col-md-9 col-sm-12">
                    Поступления за: <a href="{% url 'ssearch:frontend:incomes' %}?days=7">7 дней</a> | <a href="{% url 'ssearch:frontend:incomes' %}?days=30">30 дней</a>

                    <table class="table">
                        {% for record in income_records %}
                            <tr>
                                <td style="width: 150px"><a href="{% url 'ssearch:frontend:detail' %}?id={{ record.id|urlencode }}">{{ forloop.counter }}</a></td>
                                <td>{{ record.title }}</td>
                                <td>{{ record.income_date|date:"d.m.Y" }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3">Всего: {{ total }}</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </main>


{% endblock %}