{% extends 'themed_frontend_base.html' %}
{% load add_get_tag %}
{% load static %}
{% load pagination_tag %}
{% block index_content %}
    {% get_static_prefix as STATIC_URL %}
    <main class="main">
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">Главная</a>
                    </li>
                    {% if request.GET.q %}
                        <li>
                            <a href="{% url 'ssearch:frontend:index' %}">Уральская электронная библиотека</a>
                        </li>
                        <li>
                        <span class="crumb__current">
                           Результаты поиска {% if  info.num_found > -1 %}(Найдено записей: {{ info.num_found }}
                            ){% endif %}
                        </span>
                        </li>
                    {% else %}
                        <li>
                        <span class="crumb__current">
                           Уральская электронная библиотека
                        </span>
                        </li>
                    {% endif %}
                </ol>
            </nav>
            <div class="row row_sm-col-reverce">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="search-main__side-wrap">
                        <ol class="search-main__crumbs">
                            {% for search_breadcumb in search_breadcumbs %}
                                {% if not forloop.last %}
                                    <li class="search-main__crumbs-item">
                                        <a class="search-main__crumbs-text-link" href="{{ search_breadcumb.href }}">
                                            <b>{{ search_breadcumb.title }}</b>: {{ search_breadcumb.value }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="search-main__crumbs-item">
                                    <span class="search-main__crumbs-text">
                                        <b>{{ search_breadcumb.title }}</b>: {{ search_breadcumb.value }}
                                    </span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                        {% url 'ssearch:frontend:index' as search_url %}
                        {% for facet in facets %}
                            {% if  facet.values %}
                                <div class="facets-item">
                                    <div class="facets-item__title-wrap">
                                        <h4 class="facets-item__title">{{ facet.title }}</h4>
                                    </div>
                                    <div class="facets-item__panel">
                                        <ul id="f{{ facet.code }}" class="facets-item__nav">
                                            {% for value in facet.values %}
                                                {% if value.2 != '' %}
                                                    <li class="facets-item__nav-item">
                                                        <a class="facets-item__nav-link"
                                                           href="{{ search_url }}?{{ request.GET.urlencode|safe }}&attr={{ facet.code|urlencode }}&q={{ value.0|urlencode }}">
                                                            <span class="facets-item__nav-item-name">{{ value.2 }}</span>
                                                            <span class="facets-item__nav-item-count">{{ value.1 }}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% empty %}
                                                <li>У найденных записей атрибут отсутвует</li>
                                            {% endfor %}
                                        </ul>
                                        {% if facet.values %}
                                            <div class="facets-item__nav-btn">
                                                <a id="{{ facet.code }}" class="btn btn_sm btn_gray load_facet_fwd"
                                                   href="#f{{ facet.code }}">Показать больше</a>
                                                <a class="btn btn_sm btn_gray" rel="{{ facet.code }}"
                                                   href="#f{{ facet.code }}">Свернуть</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="facets-item">
                            <div class="facets-item__title-wrap">
                                <h4 class="facets-item__title">Диапазон дат</h4>
                            </div>

                            <div class="facets-item__panel">
                                 {% if stats.date_of_publication_l.min != stats.date_of_publication_l.max  %}
                                    <script src="{{ STATIC_URL }}nouislider/nouislider.min.js"></script>
                                    <link rel="stylesheet" href="{{ STATIC_URL }}nouislider/nouislider.min.css" />
                                    <div style="margin: 30px 20px 5px 20px" id="slider"></div>
                                     <style>
                                        .noUi-connect {
                                            background: #B71C1C;
                                        }
                                     </style>
                                    <script>
                                        (function () {
                                            'use strict';
                                            var slider = document.getElementById('slider');
                                            var min = {{ stats.date_of_publication_l.min|floatformat:0 }};
                                            var max = {{ stats.date_of_publication_l.max|floatformat:0 }};
                                            noUiSlider.create(slider, {
                                                start: [min, max],
                                                connect: true,
                                                range: {
                                                    min: min,
                                                    max: max,

                                                },
                                                step: 1,
                                                tooltips: true,
                                                format: {
                                                    from: function(value) {
                                                        return value;
                                                    },
                                                    to: function (value) {
                                                        return value;
                                                    }
                                                }
                                            });
                                            slider.noUiSlider.on('change', function () {
                                                var range = slider.noUiSlider.get();
                                                var url = new URL(window.location.href);
                                                url.searchParams.append('attr', 'date_of_publication_s');
                                                url.searchParams.append('q', range[0] + '-' + range[1])
                                                window.location = url.toString();
                                            });
                                        })();
                                    </script>
                                {% elif not stats.date_of_publication_l %}
                                     Отсутвует диапазон дат
                                {% else %}
                                     {{ stats.date_of_publication_l.min|floatformat:0 }} - {{ stats.date_of_publication_l.max|floatformat:0 }}
                                {% endif %}
{#                                        {{ stats.date_of_publication_l.min|floatformat:0 }} {{ stats.date_of_publication_l.max|floatformat:0 }}#}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="search-results">
                        <form action="{% url 'ssearch:frontend:index' %}" method="GET">
                            <div class="search-main__input-wrap">
                                <select name="attr" class="search-main__select">
                                    {% for attr in attrs %}
                                        <option value="{{ attr.0 }}"
                                                {% if request.GET.attr == attr.0 %}selected="selected"{% endif %}
                                        >
                                            {{ attr.1 }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <input class="search-main__input search-main__input_plh-blue"
                                       id="appendedInputButton"
                                       type="text"
                                       name="q"
                                       value="{{ request.GET.q }}"
                                >

                                <button class="search-main__btn" type="submit" title="Найти"></button>
                            </div>
                            {% if  info.num_found %}
                                <ul class="search-main__nav">
                                    <li class="search-main__nav-item">
                                        <div class="checkbox checkbox_mb-0">
                                            <label class="form-check-label">
                                                <input type="checkbox" name="in"
                                                       {% if request.GET.in == 'on' %}checked="checked" {% endif %}>
                                                <span class="label-text">Искать в найденном</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            {% endif %}
                            {% for search_breadcumb in search_breadcumbs %}
                                <input type="hidden" value="{{ search_breadcumb.attr }}" name="pattr"/>
                                <input type="hidden" value="{{ search_breadcumb.value }}" name="pq"/>
                            {% endfor %}
                        </form>

                        <form action="{{ request.path }}" method="GET">
                            <ul class="search-main__nav">
                                <li class="search-main__nav-item">
                                    <div class="search-main__nav-select-wrap">
                                        <label class="">Сортировка:</label>
                                        <select class="search-main__nav-select" name="sort" onchange="this.form.submit()">
                                            {% for sort_attr in sort_attrs %}
                                                <option value="{{ sort_attr.attr }}"
                                                        {% if request.GET.sort == sort_attr.attr %}
                                                        selected="selected"
                                                        {% endif %}
                                                >
                                                    {{ sort_attr.title }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </li>
                                <li class="search-main__nav-item">
                                    <div class="search-main__nav-select-wrap">
                                        <label class="">Порядок:</label>
                                        <select class="search-main__nav-select" name="order" onchange="this.form.submit()">
                                            <option value="asc"
                                                    {% if not request.GET.order or request.GET.order == 'asc' %}
                                                    selected="selected"
                                                    {% endif %}
                                            >
                                                по возрастанию
                                            </option>
                                            <option value="desc"
                                                    {% if request.GET.order == 'desc' %}
                                                    selected="selected"
                                                    {% endif %}
                                            >
                                                по убыванию
                                            </option>
                                        </select>
                                    </div>
                                </li>
                                <li class="search-main__nav-item">
                                    <a class="search-main__nav-link-sm {% if request.GET.view == 'table' or not request.GET.view %}search-main__nav-link-sm_active{% endif %}"
                                       href="{% add_get view='table' %}"
                                    >
                                        Табличный вывод
                                    </a>
                                </li>
                                <li class="search-main__nav-item">
                                    <a class="search-main__nav-link-sm {% if request.GET.view == 'card' %}search-main__nav-link-sm_active{% endif %}"
                                       href="{% add_get view='card' %}"
                                    >
                                        Библиографическая запись
                                    </a>
                                </li>
                            </ul>

                            {% for search_breadcumb in search_breadcumbs %}
                                <input type="hidden" name="attr" value="{{ search_breadcumb.attr }}">
                                <input type="hidden" name="q" value="{{ search_breadcumb.value }}">
                            {% endfor %}

                        </form>
                        {% for record in records %}
                            <div class="search-results-item">
                                {% if record.dict %}
                                    {% include 'ssearch/frontend/tableview.html' %}
                                    {% if record.highlighting %}
                                        <div style="background: #ebebeb" class="highlighting">
                                            <b>Нашлось в полном
                                                тексте</b>: {{ record.highlighting.full_text_tru.0|safe }}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="record-search">
                                        {{ record.library_cadr|safe }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% pagination result_page %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript">
        $('.marc').click(function () {
            var id = $(this).attr('id');
            var marc_div = $('#m' + id);
            if (marc_div.css('display') == 'none') {
                marc_div.css('display', 'block');
            } else {
                marc_div.css('display', 'none');
            }
        });

        $('.collaps').click(function () {
            var id = $(this).attr('rel');
            $('#f' + id).css('height', 200);
            $('#f' + id).css('overflow', "hidden");
        });
    </script>
    <script type="text/javascript">
        (function () {
            var offset_step = 7;
            var load_limit = 7;
            var facets_params = {};
            var subfacets_params = {};
            var request_params = {{ request_params|safe }};

            facets_params = {};
            $('.load_facet_fwd').click(function () {
                var button = $(this);
                var facet_id = button.attr("id");

                if (!facets_params[facet_id]) {
                    facets_params[facet_id] = {
                        offset: offset_step,
                        limit: load_limit
                    }
                } else {
                    facets_params[facet_id].offset = facets_params[facet_id].offset + offset_step;
                }

                request_params['facet'] = facet_id;
                request_params['facet_limit'] = facets_params[facet_id].limit;
                request_params['facet_offset'] = facets_params[facet_id].offset;
                render_facet(facet_id, request_params, button);
                $('#f' + facet_id).css('height', "auto");
                $('html, body').animate({scrollTop: $(this).offset().top - 400}, 500);

            });

            $('.drilldown').click(function () {
                var button = $(this);
                var facet_id = button.attr("id").replace('df', '');
                var facet_name = button.attr("name");
                var facet_value = button.attr("rel");

                if (!$('#dft' + facet_id).is(':visible')) {
                    button.text('-');
                    $('#dft' + facet_id).show();
                } else {
                    button.text('+');
                    $('#dft' + facet_id).hide();
                }

                if (!subfacets_params[facet_id]) {
                    subfacets_params[facet_id] = {
                        offset: 0,
                        limit: 50
                    }
                } else {
                    subfacets_params[facet_id].offset = subfacets_params[facet_id].offset + offset_step;
                }

                request_params['facet'] = facet_name;
                if (facet_name === 'subject_heading_s') {
                    request_params['sub_facet'] = 'subject_subheading_s';
                }

                request_params['facet_value'] = facet_value;
                request_params['facet_limit'] = subfacets_params[facet_id].limit;
                request_params['facet_offset'] = subfacets_params[facet_id].offset;

                render_subfacet(facet_id, request_params['sub_facet'], request_params, button);

            });

            function render_facet(facet_id, request_params, button) {
                var orig_text = button.html();
                $.ajax({
                    type: "GET",
                    url: "{% url 'ssearch:frontend:more_facet' %}",
                    data: request_params,
                    dataType: "JSON",
                    beforeSend: function (xhr) {
                        button.html('<span>Загрузка...</span>');
                    }
                }).done(function (content) {
                    button.html(orig_text);
                    if (content[facet_id]['values'].length == 0) {
                        button.addClass('disabled');
                    }
                    drow_facet(content[facet_id], facet_id);
                    var render_results = tmpl("facet_tmpl", {
                        content: content[facet_id],
                        facet_id: facet_id,
                        prepand_href: window.location.search
                    });
                    var container = $('#f' + facet_id);
                    container.html(container.html() + render_results);
                });
            }
            function render_subfacet(facet_id, facet_name, request_params, button) {
                var orig_text = button.html();
                $.ajax({
                    type: "GET",
                    url: "{% url 'ssearch:frontend:more_subfacet' %}",
                    data: request_params,
                    dataType: "JSON",
                    beforeSend: function (xhr) {
                        button.html('<img src="{{ STATIC_URL }}theme/loader.gif" alt="">');
                    }
                }).done(function (content) {
                    button.html(orig_text);
                    if (content[facet_name]['values'].length == 0) {
                        button.addClass('disabled');
                    }
                    drow_facet(content[facet_name], facet_id);
                    var render_results = tmpl("facet_tmpl", {
                        content: content[facet_name],
                        facet_id: facet_id,
                        prepand_href: window.location.search
                    });
                    var container = $('#dft' + facet_id);
                    container.html(container.html() + render_results);
                });
            }

            function drow_facet(content, facet_id) {
                var prepand_href = window.location.search;
                var values = content['values'];
                var lines = [];
                for (var i in values) {
                    var value = values[i];
                    if (value.length == 3) {
                        lines.push('<li class="facets-item__nav-item"><a class="facets-item__nav-link" href="' + prepand_href + '&q=<%=content.values[value][0]%>&attr=<%=facet_id%>"><span class="facets-item__nav-item-name"><%=content.values[value][0]%></span> <span class="facets-item__nav-item-count"><%=content.values[value][1]%></span></a></li>');
                    }
                }
            }
        })();
    </script>



    <script type="text/html" id="facet_tmpl">
        <% for ( var value in content.values ) { %>
        <% if ( content.values[value].length == 3 ) { %>
        <li class="facets-item__nav-item">
            <a class="facets-item__nav-link" href="<%=prepand_href%>&q=<%=content.values[value][0]%>&attr=<%=facet_id%>">
                <span class="facets-item__nav-item-name"><%=content.values[value][2]%></span>
                <span class="ffacets-item__nav-item-count"><%=content.values[value][1]%></span>
            </a>
        </li>
        <% }else{ %>
        <li class="facets-item__nav-item">
            <a href="<%=prepand_href%>&q=<%=content.values[value][0]%>&attr=<%=facet_id%>">
                <span class="facets-item__nav-item-name"><%=content.values[value][0]%></span>
                <span class="ffacets-item__nav-item-count"><%=content.values[value][1]%></span>
            </a>
        </li>
        <% } %>
        <% } %>
    </script>

    <script type="text/javascript">
        (function () {
            var cache = {};

            this.tmpl = function tmpl(str, data) {
                var fn = !/\W/.test(str) ?
                        cache[str] = cache[str] ||
                                tmpl(document.getElementById(str).innerHTML) :
                        new Function("obj",
                                "var p=[],print=function(){p.push.apply(p,arguments);};" +
                                "with(obj){p.push('" +
                                str
                                        .replace(/[\r\t\n]/g, " ")
                                        .split("<%").join("\t")
                                        .replace(/((^|%>)[^\t]*)'/g, "$1\r")
                                        .replace(/\t=(.*?)%>/g, "',$1,'")
                                        .split("\t").join("');")
                                        .split("%>").join("p.push('")
                                        .split("\r").join("\\'")
                                + "');}return p.join('');");
                return data ? fn(data) : fn;
            };
        })();
    </script>
{% endblock %}