{% if links %}
    <div class="search-results-item__tb-rw">
        <div class="search-results-item__tb-cl">
            {% if attr %}{{ attr }}: {% endif %}
        </div>
        <div class="search-results-item__tb-cl">
            {% for link in links %}
                {% if link.link_id %}
                    <a href="{% url 'ssearch:frontend:detail' %}?ln={{ link.link_id|urlencode }}">{{ link.title }}</a>
                {% else %}
                    <b>{{ link.title }}</b>
                {% endif %}
                {% if not forloop.last %} — {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}