<div id="form_results">
    {% if poll %}
        <h2 class="card-title card-title_td-lc card-title_question">
            {{ poll.question }}
        </h2>
        <form id='vote_form' action="{% url 'polls:frontend:vote' poll.id %}" method="POST">
            {% csrf_token %}
            {% if poll.poll_type == 'radio' %}
                {% for choice in choices %}
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" name="answer" value="{{ choice.id }}"/>
                            <span class="label-text">{{ choice.choice }}</span>
                        </label>
                    </div>
                {% empty %}
                    Нет вариантов ответа.
                {% endfor %}
            {% endif %}
            {% if poll.poll_type == 'checkboxes' %}
                {% for choice in choices %}
                    <div class="checkbox">
                        <label class="form-check-label">
                            <input type="checkbox" name="answer" value="{{ choice.id }}"/>
                            <span class="label-text">{{ choice.choice }}</span>
                        </label>
                    </div>
                {% empty %}
                    Нет вариантов ответа.
                {% endfor %}
            {% endif %}
            <ul class="card-nav">
                <li class="card-nav__item">
                    <button type="submit" class="btn">Ответить</button>
                </li>
            </ul>
        </form>
    {% else %}
        Нет активных опросов.
    {% endif %}
</div>
<script type="text/javascript" src="http://yandex.st/jquery/form/3.14/jquery.form.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#vote_form').bind('submit', function (e) {
            e.preventDefault(); // <-- important
            $(this).ajaxSubmit({
                target: '#form_results'
            });
        });
    });
</script>