Django==3.0.7
django-bootstrap-form==3.4
django-bootstrap3==12.0.3
django-debug-toolbar==2.2
django-guardian==2.2.0
django-js-asset==1.2.2
django-mailer==2.0.1
django-mptt==0.11.0
django-ranged-response==0.2.0
django-recaptcha==2.0.6
fasteners==0.15
huey==2.2.0
lockfile==0.12.2
lxml==4.5.0
monotonic==1.5
Pillow==7.1.1
psycopg2-binary==2.8.5
Pygments==2.6.1
pylibmc==1.6.1
python-crontab==2.4.1
python-dateutil==2.8.1
python-docx==0.8.10
redis==3.4.1
requests==2.23.0
rfc3986==1.4.0
