{% extends 'ask_librarian/frontend/index.html' %}
{% block title %}Спроси библиотекаря{% endblock %}
{% block breadcrumb %}
    <ol class="crumb__list">
        <li>
            <a href="{% url 'index:frontend:index' %}">Главная</a>
        </li>
        <li>
            <a href="{% url 'ask_librarian:frontend:index' %}">Спроси библиотекаря</a>
        </li>
        <li>
            <span class="crumb__current">
                Задать вопрос
            </span>
        </li>
    </ol>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="content">
                <form id="ask_form" class="" method="POST">{% csrf_token %}
                    <legend>Задать вопрос</legend>
                    <fieldset>
                        {% include 'frontend/base_form_fields.html' with form=form %}
                        {#            {% include 'administration/base_form_fields.html' with form=translate_form %}#}
                        <div class="form-actions">
                            <button type="submit" class="btn">Спросить</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}