{% extends 'themed_frontend_base.html' %}
{% load ask_librarian_tags %}
{% load cache %}
{% block title %}Спроси библиотекаря{% endblock %}

{% block index_content %}
    <div class="row">
        <div class="span12">
            {% block breadcrumb %}
                <ul class="breadcrumb">
                    <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
                    <li>Спроси библиотекаря</li>
                </ul>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="span3">
        {% if request.user.is_authenticated %}
            <a style="display: block; padding: 15px 0 15px 0" class="btn btn-info" href="{% url 'ask_librarian:frontend:ask' %}">Мои вопросы</a>
        {% endif %}
        <a style="display: block; padding: 15px 0 15px 0" class="btn btn-success" href="{% url 'ask_librarian:frontend:ask' %}">Задать вопрос</a>

            {% cache 30 questions_category_menu %}
                {% drow_categories_tree %}
            {% endcache %}
        </div>
        <div class="span9">
            {% block content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}