{% extends 'ask_librarian/frontend/index.html' %}
{% load pagination_tag %}
{% load cache %}
{% block title %}Спроси библиотекаря{% endblock %}
{% block breadcrumb %}
    <ol class="crumb__list">
        <li>
            <a href="{% url 'index:frontend:index' %}">Главная</a>
        </li>
        <li>
            <a href="{% url 'ask_librarian:frontend:index' %}">Спроси библиотекаря</a>
        </li>
        <li>
            <span class="crumb__current">
                Мои вопросы
            </span>
        </li>
    </ol>

{% endblock %}
{% block content %}
    <div class="card-list">
        {% for question in questions_page.object_list %}
            <div class="card-list__item">
                <article class="card">
                    <div class="card-body">
                        <h2 class="card-detail">
                            <a class="card-title__link"
                               href="{% url 'ask_librarian:frontend:detail' question.id %}">
                                {% if question.is_ready %}
                                    {{ question.question|safe }}
                                {% else %}
                                    {{ question.question }}
                                {% endif %}
                            </a>
                        </h2>
                        <p class="card-detail">
                        {% cache 30 questions_category question.category_id %}
                            {% for ancestor in  question.category.get_t_ancestors %}
                                {{ ancestor }}  →
                            {% endfor %}
                            {{ question.category }}
                        {% endcache %}
                        </p>
                        <ul class="card-nav">
                            <li class="card-nav__item">
                                <a class="btn btn_sm btn_gray"
                                   href="{% url 'ask_librarian:frontend:detail' question.id %}">Подробнее</a>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
    {% if questions_page.object_list %}
        {% admin_pagination questions_page %}
    {% endif %}
{% endblock %}