{% extends 'ask_librarian/frontend/index.html' %}
{% load cache %}
{% block title %}Спроси библиотекаря{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url index:frontend:index %}">Начало</a> <span class="divider">/</span></li>
        <li><a href="{% url ask_librarian:frontend:index %}">Спроси библиотекаря</a> <span class="divider">/</span></li>
        <li>Вопрос № {{ question.id }}</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="alert alert-success">
        Спасибо за рекомендацию. Мы обязательно её опубликуем после проверки, если она соответвет вопросу.
    </div>
    <a href="{% url ask_librarian:frontend:detail question.id %}">Перейти к вопросу</a>
{% endblock %}