{% extends 'ask_librarian/frontend/index.html' %}
{% block title %}Спроси библиотекаря{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url index:frontend:index %}">Начало</a> <span class="divider">/</span></li>
        <li><a href="{% url ask_librarian:frontend:index %}">Спроси библиотекаря</a> <span class="divider">/</span></li>
        <li>Задать вопрос</li>
    </ul>
{% endblock %}
{% block content %}
<style type="text/css">
form#ask_form textarea, input[type=text]{
    width: 99%;
}
</style>
<form id="ask_form" class="" method="POST">{% csrf_token %}
    <legend>Задать вопрос</legend>
    <fieldset>
        {% include 'frontend/base_form_fields.html' with form=form %}
        {#            {% include 'administration/base_form_fields.html' with form=translate_form %}#}
        <div class="form-actions">
            <button type="submit" class="btn">Спросить</button>
        </div>
    </fieldset>
</form>
{% endblock %}