{% extends 'ask_librarian/frontend/index.html' %}
{% load pagination_tag %}
{% load cache %}
{% block title %}Спроси библиотекаря{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">

        <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
        <li><a href="{% url 'ask_librarian:frontend:index' %}">Спроси библиотекаря</a> <span class="divider">/</span></li>
        <li>Мои вопросы</li>
    </ul>

{% endblock %}
{% block content %}
    <ul style="list-style: none; padding: 0; margin: 0;">
    {% for question in questions_page.object_list %}
        <li>
            {% if question.is_ready %}
                {{ question.question|safe }}
            {% else %}
                {{ question.question }}
            {% endif %}<br/>
            {% if question.category_id %}
                <b>
                {% cache 30 questions_category question.category_id %}
                    {% for ancestor in  question.category.get_t_ancestors %}
                        {{ ancestor }}  →
                    {% endfor %}
                        {{ question.category }}
                {% endcache %}
                </b>
                <br/>
                <a href="{% url 'ask_librarian:frontend:detail' question.id %}">подробнее</a>
            {% endif %}
        <hr/>
        </li>
    {% empty %}
        <li>Вопросов нет</li>
    {% endfor %}
    </ul>
    {% if questions_page.object_list %}
        {% admin_pagination questions_page %}
    {% endif %}
{% endblock %}