{% extends 'gallery/administration/index.html' %}
{% load  breadcrumbs %}
{% block breadcrumb %}
    {% breadcrumb "Галерея" gallery:administration:index %}
    {% breadcrumb "Альбомы"  %}
{% endblock %}
{% block action_content %}
    <ul style="margin: 0; list-style: none">
    {% for album in albums %}
        <li>
            <h3><a href="{% url  gallery:administration:album_view album.id %}">{{ album }}</a></h3>
            <div>
                <b>Дата создания:</b> {{ album.create_date }}
                <a style="margin-left: 20px; float: right;" class="btn btn-danger" href="{% url gallery:administration:album_delete album.id %}"><i class="icon-trash icon-white"></i></a>
                <a style="margin-left: 20px; float: right;" class="btn" href="{% url gallery:administration:album_edit album.id %}"><i class="icon-pencil"></i></a>
            </div>

            <hr/>
        </li>
    {% empty %}
        <li>Альбомов нет</li>
    {% endfor %}
    </ul>
{% endblock %}