{% load mptt_tags %}
<link href="/static/css/frontend/menu.css" media="all" rel="stylesheet" type="text/css" />
{#<link href="http://vremenno.net/examples/css-drop-down-menu/css/dropdown/themes/mtv.com/default.ultimate.css" media="all" rel="stylesheet" type="text/css" />#}

    <ul class="items dropdown dropdown-linear dropdown-columnar">
        {% if nodes %}
            {% recursetree nodes %}
                {% if not node.is_leaf_node %}
                    <li class="dir">
                        <a href="{{ node.item_title.url }}">{{ node }} </a>
                        <ul class="children">
                        {{ children }}
                        </ul>
                    </li>
                {% else %}
                    <li {% if path == node.item_title.url  %} class="active" {% endif %}>
                        <a href="{{ node.item_title.url }}" {% if node.open_in_new %} target="_blank" {% endif %}>{{ node.item_title.title }}</a>
                    </li>
                {% endif %}
            {% endrecursetree %}
        {% endif %}
    </ul>



