{% extends 'themed_frontend_base.html' %}
{% load menu_tags %}
{% load news_tags %}
{% load events_tags %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block index_content %}
    <style type="text/css">
        .prof_menu ul{
            list-style: none;
        }
        .prof_menu>ul{
            margin: 0;
        }
    </style>

        <div class="span2">

                <div class="prof_menu">
                    {% drow_menu_default 'professionals' %}
                    <hr/>
                </div>
        </div>
        <div class="span10">
            {% block content %}wefwefwef{% endblock %}
        </div>

{% endblock %}