.form-actions {
    margin-top: 18px;
    padding: 0;
    background: none;
    border: none;
}

.recordmenu {
    margin: 0 0 15px 0;
    /*border-bottom: #E5E5E5;*/
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
span.succ {
    margin: 0.0 10px 0;
}