{% extends 'backend_base.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}
{% block module_title %}Голосования{% endblock %}
{% block module_menu %}
    {% include 'polls/administration/module_menu.html' %}
{% endblock %}
{% block module_content %}
{#    {% active_path 'accounts:administration:index' %}#}
{#    <a class="{% active 'accounts:administration:index' %}" href="{% url accounts:administration:index %}">wedwed</a>#}
    <ul class="breadcrumb">
    {% block breadcrumb %}
        {% breadcrumb "Голосования"  %}
    {% endblock %}
    </ul>
    {% block action_content %}
        Summary
    {% endblock %}
{% endblock %}