{% extends 'themed_frontend_base.html' %}
{% load ask_librarian_tags %}
{% load cache %}
{% block title %}Спроси библиотекаря{% endblock %}
{% block index_content %}
    <main class="main">
        <div class="container">
            <div class="crumb">
                {% block breadcrumb %}
                    <ol class="crumb__list">
                        <li>
                            <a href="{% url 'index:frontend:index' %}">Главная</a>
                        </li>
                        <li>
                            <span class="crumb__current">
                                История выдачи
                            </span>
                        </li>
                    </ol>
                {% endblock %}
            </div>
            <div class="row row_sm-col-reverce">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            {% include 'sso_opac/tabs.html' %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2>История книговыдачи</h2>
                    <table class="table">
                        <tr>
                            <th>Документ</th>
                            <th>Код документа</th>
                            <th>Место выдачи</th>
                            <th>Дата выдачи</th>
                            <th>Дата возврата</th>
                        </tr>
                        {% for action in actions %}
                            <tr>
                                <td>
                                    {{ action.bibl_info.bibcard|linebreaksbr }}
                                </td>
                                <td>
                                    {{ action.document_code }}
                                </td>
                                <td>
                                    {{ action.pmr_title }}
                                </td>
                                <td>
                                    {{ action.time }}
                                </td>
                                <td>
                                    {{ action.return_time }}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">Выданных книг - нет</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

