<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Книги на руках</h1>
<table>
    <tr>
        <th>Документ</th>
        <th>Код документа</th>
        <th>Место выдачи</th>
        <th>Дата выдачи</th>
        <th>Дата возврата</th>
    </tr>
    {% for checkout in checkouts %}
    <tr>
        <td>
            {{ checkout.operation.record_id }} {{ checkout.operation.db_id }}
        </td>
        <td>
            {{ checkout.operation.item_code }}
        </td>
        <td>
            {{ checkout.operation.place_name }}
        </td>
        <td>
            {{ checkout.operation.operation_time }}
        </td>
        <td>
            {{ checkout.operation.next_operation_time }}
        </td>
    </tr>
{% endfor %}
</table>

</body>
</html>