{% extends 'themed_frontend_base.html' %}
{% load ask_librarian_tags %}
{% load cache %}
{% block title %}Спроси библиотекаря{% endblock %}
{% block index_content %}
    <main class="main">
        <div class="container">
            <div class="crumb">
                {% block breadcrumb %}
                    <ol class="crumb__list">
                        <li>
                            <a href="{% url 'index:frontend:index' %}">Главная</a>
                        </li>
                        <li>
                            <span class="crumb__current">
                                Книги на руках
                            </span>
                        </li>
                    </ol>
                {% endblock %}
            </div>
            <div class="row row_sm-col-reverce">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            {% include 'sso_opac/tabs.html' %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2>Выданные книги</h2>
                    <table class="table">
                        <tr>
                            <th>Документ</th>
                            <th>Код документа</th>
                            <th>Место выдачи</th>
                            <th>Дата выдачи</th>
                            <th>Дата возврата</th>
                            <th></th>
                        </tr>
                        {% for checkout in checkouts %}
                            <tr>
                                <td>
                                    {{ checkout.libcard|linebreaksbr }}
                                </td>
                                <td>
                                    {{ checkout.operation.item_code }}
                                </td>
                                <td>
                                    {{ checkout.operation.place_name }}
                                </td>
                                <td>
                                    {{ checkout.operation.operation_time }}
                                </td>
                                <td>
                                    {{ checkout.operation.next_operation_time }}
                                </td>
                                <td>
                                    <form method="post" action="{% url 'sso_opac:renewal' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="place" value="{{ checkout.operation.place }}"/>
                                        <input type="hidden" name="item_code"
                                               value="{{ checkout.operation.item_code }}"/>
                                        <button type="submit" class="btn">Продлить</button>
                                    </form>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">Выданных книг - нет</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

