<div class="card-list card-list_link">
    <div class="card-list__item">
        <a class="card card_link card_bl-1" href="{% url 'sso_opac:orders' %}">
            <div class="card-body">
                <h2 class="card-title card-title_td-lc">
                    Заказы
                </h2>
            </div>
        </a>
    </div>
    <div class="card-list__item">
        <a class="card card_link card_bl-2" href="{% url 'sso_opac:on_hand' %}">
            <div class="card-body">
                <h2 class="card-title card-title_td-lc">
                    Выданные книги
                </h2>
            </div>
        </a>
    </div>
</div>