{% extends 'menu/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load i18n %}
{% load breadcrumbs %}
{% load mptt_tags %}

{% block breadcrumb %}
    {% breadcrumb _("Menu") menu:administration:index %}
    {% breadcrumb _("Items")  %}
{% endblock %}

{% block action_content %}
    <style type="text/css">
        ul.root li>*{
            margin-bottom: 10px;
        }
    </style>
    <h3>{{ menu.title }}</h3>
    <hr/>
    <a class="btn" href="{% url menu:administration:item_create menu.id %}">{% trans 'Create menu item' %}</a>
    <hr/>
    <ul class="root">
        {% recursetree nodes %}
            <li>
                {% if not node.show %}
                    <i class="icon-eye-close" title="{% trans 'Not publicated' %}"></i>
                {% endif %}
                <a href="{% url menu:administration:item_edit menu.id node.id %}">{{ node.title }}</a>
                <a class="btn" href="{% url menu:administration:item_create menu.id node.id %}"><i class="icon-plus" title="{% trans 'Add child item' %}"></i></a>
                <a class="delete btn btn-danger" href="{% url menu:administration:item_delete menu.id node.id %}"><i class="icon-trash icon-white" title="{% trans 'Delete item' %}"></i></a>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
    <script type="text/javascript">
        $("a.delete").click(function () {
            if (!confirm('Вы уверены, что хотите удалить? Удаляться так же дочерние элементы!')) return false;
        });
    </script>
{% endblock %}


