{% extends 'administration/new_base.html' %}
{% block title %}Харвестер{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'harvester:index' %}">Харвестер</a></li>
{% endblock %}
{% block content %}
    {% block index_content %}
        <div class="well well-sm">
            <a class="btn btn-default btn-sm" href="{% url 'harvester:index_transformation_rules' %}">
                Правила преобразования
            </a>
            <a class="btn btn-default btn-sm" href="{% url 'harvester:records' %}">Записи</a>
        </div>

        <h3>
            Источники
        </h3>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="btn-group">
                    <a href="{% url 'harvester:add_source' %}" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-plus"></span>
                        Добавить источник
                    </a>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>Код</th>
                    <th>Название</th>
                    <th>Активен</th>
                    <th>Дата создания</th>
                </tr>
                {% for source in sources %}
                    <tr>
                        <td><a href="{% url 'harvester:source' source.id %}">{{ source.code }}</a></td>
                        <td>{{ source.name }}</td>
                        <td>
                            {% if source.active %}
                                <span class="label label-success">да</span>
                            {% else %}
                                <span class="label label-danger">нет</span>
                            {% endif %}
                        </td>
                        <td>{{ source.reset }}</td>
                        <td>{{ source.create_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>


    {% endblock %}
{% endblock %}