{% extends 'index/frontend/index.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
    Регистрация
{% endblock %}
{% block content %}
    <main class="main">
        <div class="container">
            <div class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">Главная</a>
                    </li>
                    <li>
                        <span class="crumb__current">Регистрация</span>
                    </li>
                </ol>
            </div>
            <h1 class="content-title">Регистрация</h1>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn">Регистрация</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}