<style type="text/css">
    .panel{
        padding: 5px;
        background: #f6f6f6;
        box-shadow: 0 0 10px black; /* Параметры тени */
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
        border-radius: 5px;
    }
    ul.section_menu{
        margin: 0px;
        list-style: none;
    }
    ul.section_menu a{
        text-decoration: none;
    }
</style>