{% extends 'index/frontend/index.html' %}
{% load static %}
{% load pagination_tag %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    {% get_media_prefix as MEDIA_URL %}
    <main class="main">
        <div class="container">
            <div class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">Главная</a>
                    </li>
                    <li>
                        <span class="crumb__current">
                            Новости
                            {% if request.GET.type == 'chel' %} ЧОУНБ {% endif %}
                            {% if request.GET.type == 'lib' %} библиотек области {% endif %}
                        </span>
                    </li>
                </ol>
            </div>
            <h1 class="content-title">
                Новости
                {% if request.GET.type == 'chel' %} ЧОУНБ {% endif %}
                {% if request.GET.type == 'lib' %} библиотек области {% endif %}
            </h1>
            <div class="card-list card-list_4">
                {% for news in news_list %}
                    <div class="card-list__item">
                        <article class="card card_of card_h">
                            <div class="card-img-box">
                                <a href="{% url 'news:frontend:show' news.id %}">
                                    {% if news.avatar_img_name %}
                                        <img class="card-img-box__img"
                                             src="{{ MEDIA_URL }}uploads/newsavatars/{{ news.avatar_img_name }}"
                                             alt="{{ news.news_content.title }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="card-title card-title_td-lc">
                                    <a class="card-title__link" href="{% url 'news:frontend:show' news.id %}">
                                        {{ news.news_content.title }}
                                    </a>
                                </h2>
                                <time class="card-time"
                                      datetime="2018-04-26 16:55:00">{{ news.create_date|date:"j E Y" }}</time>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
            {% pagination news_page %}
        </div>
    </main>
{% endblock %}