{% extends 'themed_frontend_base.html' %}
{% load menu_tags %}
{% load professionals_news_tags %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Проффесионалам{% endblock %}
{% block meta_description %}Информация для проффесионалов и персонала{% endblock %}
{% block index_content %}
    <style type="text/css">
        .prof_menu ul{
            list-style: none;
        }
        .prof_menu>ul{
            margin: 0;
        }
    </style>
    {% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
        <li class="active">Проффесионалам</li>
    </ul>
    {% endblock %}
    <div class="row">
        <div class="span2">
            <div class="prof_menu">
                {% drow_menu_default 'professionals' %}
                <hr/>
            </div>
        </div>
        <div class="span10">
            {% block content %}
                {% news_feed %}
            {% endblock %}
        </div>
    </div>
{% endblock %}