{% extends 'ask_librarian/frontend/index.html' %}
{% load bootstrap3 %}
{% block title %}Спроси библиотекаря{% endblock %}
{% block breadcrumb %}
    <ol class="crumb__list">
        <li>
            <a href="{% url 'index:frontend:index' %}">Главная</a>
        </li>
        <li>
            <a href="{% url 'ask_librarian:frontend:index' %}">Спроси библиотекаря</a>
        </li>
        <li>
            <span class="crumb__current">
                Задать вопрос
            </span>
        </li>
    </ol>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="content">
                <form id="ask_form" class="" method="POST">{% csrf_token %}
                    <h1>Задать вопрос</h1>
                    {% bootstrap_form form %}
                    <p>
                        <a target="_blank" href="/media/files/about/documents/polozhenie_ob_obrabotke_i_zashchite_personalnyh_dannyh_polzovateley_chounb_%E2%84%96223_27.11.2019.pdf">
                            Положение об обработке персональных данных
                        </a>
                    </p>
                    <button type="submit" class="btn">Спросить</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}