{% extends 'ask_librarian/frontend/index.html' %}
{% load cache %}
{% block title %}Спроси библиотекаря{% endblock %}
{% block breadcrumb %}
    <ol class="crumb__list">
        <li>
            <a href="{% url 'index:frontend:index' %}">Главная</a>
        </li>
        <li>
            <a href="{% url 'ask_librarian:frontend:index' %}">Спроси библиотекаря</a>
        </li>
        <li>
            <span class="crumb__current">
                Вопрос № {{ question.id }}
            </span>
        </li>
    </ol>
{% endblock %}
{% block content %}
    <div class="card card_mb">
        <div class="card-body">
            <div class="content">
                <h2>Вопрос:</h2>
                {% if question.is_ready %}
                    {{ question.question|safe }}
                {% else %}
                    {{ question.question }}
                {% endif %}
                {% if question.category_id %}
                    <p>
                        <b>Категория:</b>
                        {% cache 30 questions_category question.category_id %}
                            {% for ancestor in  question.category.get_t_ancestors %}
                                {{ ancestor }}  →
                            {% endfor %}
                            {{ question.category }}
                        {% endcache %}
                    </p>
                {% endif %}
                <p>
                    <b>Статус</b>: <span
                        class="question_status{{ question.status }}">{{ question.get_status_display }} </span>
                </p>
                <p>
                    <b>Дата создания</b>: {{ question.create_date }}
                </p>
                <p>
                    <b>Цель</b>: {{ question.question_target|default_if_none:'не указана' }}
                </p>
                <h2>Ответ:</h2>
                {% if question.is_ready %}
                    <p><b>Дата ответа</b>: {{ question.end_process_date }}</p>
                    {{ question.answer|safe }}
                {% else %}
                    Ответа на вопрос еще нет.
                {% endif %}
                {% if recomendations %}
                    <div>
                        <hr/>
                        <h3>Рекомендации к этому вопросу</h3>
                        <ul>
                            {% for  recomendation in recomendations %}
                                <li>{{ recomendation.text }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

    {#    <style>#}
    {#        form#recomended_form textarea {#}
    {#            width: 99%;#}
    {#        }#}
    {#    </style>#}
    {#    <div>#}
    {#        <h3>Вопрос:</h3>#}
    {#        {% if question.is_ready %}#}
    {#            {{ question.question|safe }}#}
    {#        {% else %}#}
    {#            {{ question.question }}#}
    {#        {% endif %}<br/>#}
    {#        {% if question.category_id %}#}
    {#            <b>Категория:#}
    {#                {% cache 30 questions_category question.category_id %}#}
    {#                    {% for ancestor in  question.category.get_t_ancestors %}#}
    {#                        {{ ancestor }}  →#}
    {#                    {% endfor %}#}
    {#                    {{ question.category }}#}
    {#                {% endcache %}#}
    {#            </b>#}
    {#        {% endif %}#}
    {#        <br/>#}
    {##}
    {#        <b>Статус</b>: <span class="question_status{{ question.status }}">{{ question.get_status_display }} </span>#}
    {#        <hr/>#}
    {#    </div>#}
    {#    <div>#}
    {#        <h3>Ответ:</h3>#}
    {#        {% if question.is_ready %}#}
    {#            {{ question.answer|safe }}#}
    {#        {% else %}#}
    {#            Ответа на вопрос еще нет.#}
    {#        {% endif %}#}
    {#    </div>#}
    {#    {% if recomendations %}#}
    {#        <div>#}
    {#            <hr/>#}
    {#            <h3>Рекомендации к этому вопросу</h3>#}
    {#            <ul>#}
    {#                {% for  recomendation in recomendations %}#}
    {#                    <li>{{ recomendation.text }}</li>#}
    {#                {% endfor %}#}
    {#            </ul>#}
    {#        </div>#}
    {#    {% endif %}#}
    {#        <div>#}
    {#        <hr/>#}
    {#            <div class="alert alert-info">#}
    {#                Если у вас есть ответ на вопрос или дополнительная информация, которая поможет дополнить ответ,#}
    {#                Вы можете указать ее в рекомендации. Мы будем очень признательны.#}
    {#            </div>#}
    {#            <form id="recomended_form" class="" method="POST">{% csrf_token %}#}
    {#                <legend>Рекомендовать:</legend>#}
    {#                <fieldset>#}
    {#                    {% include 'frontend/base_form_fields.html' with form=recomendation_form %}#}
    {#                    <div class="form-actions">#}
    {#                        <button type="submit" class="btn btn-primary">Отправить</button>#}
    {#                    </div>#}
    {#                </fieldset>#}
    {#            </form>#}
    {#        </div>#}


{% endblock %}