{% extends 'themed_frontend_base.html' %}
{% load ask_librarian_tags %}
{% load cache %}
{% block title %}Спроси библиотекаря{% endblock %}
{% block index_content %}
    <main class="main">
        <div class="container">
            <div class="crumb">
                {% block breadcrumb %}
                    <ol class="crumb__list">
                        <li>
                            <a href="{% url 'index:frontend:index' %}">Главная</a>
                        </li>
                        <li>
                            <span class="crumb__current">
                                Спроси библиотекаря
                            </span>
                        </li>
                    </ol>
                {% endblock %}
            </div>
            <div class="row row_sm-col-reverce">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="search-main__side-wrap">
                        <div>
                            <div class="card-body">
                                <h2 class="card-title">Спроси библиотекаря</h2>
                                <p class="card-detail">
                                    Ищете информацию? Подбираете литературу? Есть вопросы о
                                    работе
                                    библиотеки? Виртуальная справочная служба ЧОУНБ поможет.
                                    <a class="btn_link" href="{% url 'pages:frontend:show' 'ask_librarian_info' %}">Подробнее</a>.
                                </p>
                                <p class="card-detail">
                                    <a class="btn_link"  style="color: rgb(232,71,55)" href="/ru/pages/ask_librarian_info/quality/">Оцените качество</a>
                                </p>
                                <ul class="card-nav">
                                    <li class="card-nav__item">
                                        <a class="btn" href="{% url 'ask_librarian:frontend:ask' %}">Задать вопрос</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {#                        <ul class="search-main__side-detail-nav">#}
                        {#                            <li class="search-main__side-detail-nav-item">#}
                        {#                                <a class="btn" href="{% url 'ask_librarian:frontend:ask' %}">Задать вопрос</a>#}
                        {#                            </li>#}
                        {#                        </ul>#}
                        {% cache 30 questions_category_menu %}
                            {% drow_categories_tree %}
                        {% endcache %}
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-pl">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}