{% extends 'ask_librarian/frontend/index.html' %}
{% load pagination_tag %}
{% load cache %}
{% block title %}Спроси библиотекаря{% endblock %}
{% block breadcrumb %}
    <ol class="crumb__list">
        <li>
            <a href="{% url 'index:frontend:index' %}">Главная</a>
        </li>
        {% if category %}
            {% cache 30 questions_breadcrumb category.id %}
                <li>
                    <a href="{% url 'ask_librarian:frontend:index' %}">Спроси библиотекаря</a>
                </li>
                {% if category.is_root_node %}
                    <li>
                        <span class="crumb__current">
                            {{ category }}
                        </span>
                    </li>
                {% else %}
                    {% for ancestor in  category.get_t_ancestors %}
                        <li>
                            <a href="{% url 'ask_librarian:frontend:index' %}?category={{ ancestor.category_id }}">{{ ancestor }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <span class="crumb__current">
                            {{ category }}
                        </span>
                    </li>
                {% endif %}
            {% endcache %}
        {% else %}
            <li>
                <span class="crumb__current">
                    Спроси библиотекаря
                </span>
            </li>
        {% endif %}
    </ol>
{% endblock %}
{% block content %}

    <div class="form-grid">
        <div class="form-grid__col">
            <form action="" method="GET">
                <div class="form-group">
                    <label class="control-label">Перейти к вопросу №:</label>
                    <input class="form-control" name="id" type="text">
                    <div class="help-block">Разрешены буквы латинского алфавита и цифры</div>
                </div>
{#                <button type="submit" class="btn btn_sm">Перейти</button>#}
            </form>
        </div>
        <div class="form-grid__col">
            <form action="" method="GET">
                <div class="form-group">
                    <label class="control-label">Поиск по тексту вопроса:</label>
                    <input class="form-control" name="q" value="{{ request.GET.q }}" type="text">
                </div>
{#                <button type="submit" class="btn btn_sm">Перейти</button>#}
            </form>
        </div>
        <div class="form-grid__col">
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in date_filter_form.visible_fields %}
                    <div class="form-group {% if field.errors %}error{% endif %}">
                    <label class="control-label">Найти вопросы по дате:</label>
{#                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>#}
                        <div class="controls">
{#                            {{ field }}#}
                            <input id="id_date" class="form-control" name="date" type="text">
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                            {% if  field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
                        </div>
                    </div>
                {% endfor %}
{#                <input type="submit" value="Найти" class="btn btn_sm"/>#}
            </form>
        </div>
    </div>

    <br>

    <div class="card-list">
        {% for question in questions_page.object_list %}
            <div class="card-list__item">
                <article class="card">
                    <div class="card-body">
                        <h2 class="card-detail">
                            <a class="card-title__link"
                               href="{% url 'ask_librarian:frontend:detail' question.id %}">
                                {% if question.is_ready %}
                                    {{ question.question|safe }}
                                {% else %}
                                    {{ question.question }}
                                {% endif %}
                            </a>
                        </h2>
                        <p class="card-detail">
                            {% cache 30 questions_category question.category_id %}
                                {% for ancestor in  question.category.get_t_ancestors %}
                                    {{ ancestor }}  →
                                {% endfor %}
                                {{ question.category|default_if_none:'категория не указана' }}
                            {% endcache %}
                        </p>
                        <ul class="card-nav">
                            <li class="card-nav__item">
                                <a class="btn btn_sm btn_gray"
                                   href="{% url 'ask_librarian:frontend:detail' question.id %}">Подробнее</a>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
    {% pagination questions_page %}


    {#    <div class="row">#}
    {#        <div class="span4">#}
    {#            <form action="" method="GET">#}
    {#                Перейти к вопросу №: <input type="text" style=" width: 50px;" name="id"/><br/>#}
    {#                <input type="submit" value="Перейти" class="btn"/>#}
    {#            </form>#}
    {#        </div>#}
    {#        <div class="span4">#}
    {#            <form action="" method="POST">{% csrf_token %}#}
    {#                Найти вопросы по дате:#}
    {#                {% for field in date_filter_form.visible_fields %}#}
    {#                    <div class="control-group {% if field.errors %}error{% endif %}">#}
    {#                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>#}
    {#                        <div class="controls">#}
    {#                            {{ field }}#}
    {#                            {% if field.errors %}#}
    {#                                {{ field.errors }}#}
    {#                            {% endif %}#}
    {#                            {% if  field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}#}
    {#                        </div>#}
    {##}
    {#                    </div>#}
    {#                {% endfor %}#}
    {#                <input type="submit" value="Найти" class="btn"/>#}
    {#            </form>#}
    {#        </div>#}
    {#    </div>#}
    {#    <hr/>#}
    {#    <ul style="list-style: none; padding: 0; margin: 0;">#}
    {#        {% for question in questions_page.object_list %}#}
    {#            <li>#}
    {#                {% if question.is_ready %}#}
    {#                    {{ question.question|safe }}#}
    {#                {% else %}#}
    {#                    {{ question.question }}#}
    {#                {% endif %}<br/>#}
    {#                {% if question.category_id %}#}
    {#                    <b>#}
    {#                        {% cache 30 questions_category question.category_id %}#}
    {#                            {% for ancestor in  question.category.get_t_ancestors %}#}
    {#                                {{ ancestor }}  →#}
    {#                            {% endfor %}#}
    {#                            {{ question.category }}#}
    {#                        {% endcache %}#}
    {#                    </b>#}
    {#                    <br/>#}
    {#                    <a href="{% url 'ask_librarian:frontend:detail' question.id %}">подробнее</a>#}
    {#                {% endif %}#}
    {#                <hr/>#}
    {#            </li>#}
    {#        {% empty %}#}
    {#            <li>Вопросов нет</li>#}
    {#        {% endfor %}#}
    {#    </ul>#}
{% endblock %}