{% extends 'ask_librarian/frontend/index.html' %}
{% load cache %}
{% block title %}Спроси библиотекаря{% endblock %}
{% block breadcrumb %}
    <ol class="crumb__list">
        <li>
            <a href="{% url 'index:frontend:index' %}">Главная</a>
        </li>
        <li>
            <a href="{% url 'ask_librarian:frontend:index' %}">Спроси библиотекаря</a>
        </li>
        <li>
            <span class="crumb__current">
               Вопрос № {{ question.id }}
            </span>
        </li>
    </ol>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="content">
                {% if request.user.is_authenticated %}
                    <p>
                        Спасибо за вопрос. За статусом его выполнения Вы можете следить в личном кабинете.
                        Так же Вы можете найти его по номеру. Номер Вашего вопроса: <b>{{ question.id }}</b>.
                    </p>
                {% else %}
                    <p>
                        Спасибо за вопрос.Вы можете отслеживать его статус по номеру. Номер Вашего вопроса:
                        <b>{{ question.id }}</b>.
                    </p>
                {% endif %}
                <a href="{% url 'ask_librarian:frontend:detail' question.id %}">Перейти к вопросу</a>
            </div>
        </div>
    </div>
{% endblock %}