{% extends 'index/frontend/index.html' %}
{% load pagination_tag %}
{% block title %}Библиотеки{% endblock %}
{% block content %}
    <style>
        ul.participants li {
            margin-bottom: 10px;
        }
    </style>
        <ul class="breadcrumb">
            <li><a href="{% url index:frontend:index %}">Начало</a> <span class="divider">/</span></li>
            {% if filter %}
                <li><a href="./">Библиотеки</a><span class="divider">/</span></li>
                <li class="active">{{ filter_title }}</li>
            {% else %}
                <li class="active">Библиотеки</li>
            {% endif %}

        </ul>
        <div class="letters">
            {% for letter in letters %}
                <a href="?letter={{ letter }}">{{ letter }}</a>
            {% endfor %}
        </div>
        <hr/>
        <div class="types" style="float:left">
            <h4>По типу:</h4>
            <form method="GET" style="margin: 0">
                <select onchange="this.form.submit();" name="type" id="id_type">
                    <option>Укажите тип библиотеки</option>
                    {% for type in types %}
                        <option value="{{ type.id }}" {% if request.GET.type == type.id|lower %}selected="selected" {% endif %}>{{ type }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="districts" style="float: right">
            <h4>По районам:</h4>
            <form method="GET" style="margin: 0">
                <select onchange="this.form.submit();" name="district" id="id_district">
                    <option>Укажите район</option>
                    {% for district in districts %}
                        <option value="{{ district.id }}" {% if request.GET.district == district.id|lower %}selected="selected" {% endif %}>{{ district }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    <div style="clear: both"></div>
    <hr/>

    {% if cbs_list %}
        <ul class="participants" style="list-style: none; margin: 0">
            {% for cbs in  cbs_list %}
                {% if cbs.parent_id %}
                    <li style="margin: 0">
                        <a href="#" onclick="modalWin('{% url participants:frontend:detail cbs.code %}'); return false;">{{ cbs.name }}<br/></a>
                        Сайт: {% if cbs.http_service  %}<a href="{{ cbs.http_service }}" target="_blank"> {{ cbs.http_service }}</a>
                    {% else %} не указан {% endif %}
                    </li>
                {% else %}
                    <li  style="margin: 0">
                        <a href="{% url participants:frontend:branches cbs.code %}">{{ cbs.name }}<br/></a>
                        Сайт: {% if cbs.http_service  %}<a href="{{ cbs.http_service }}" target="_blank"> {{ cbs.http_service }}</a>
                    {% else %} не указан {% endif %}
                    <li>
                {% endif %}
            {% empty %}
                Список пуст
            {% endfor %}
        </ul>
    {% admin_pagination cbs_page %}
    {% else %}
        <ul class="participants" style="list-style: none; margin: 0">
            {% for district in  districts %}
                <li>
                <a href="./?district={{ district.id }}">{{ district.name }}</a>
            {% empty %}
                Список еще не сформирован
            {% endfor %}
        </ul>
    {% endif %}


    <script type="text/javascript">
        function modalWin(url) {
            if (window.showModalDialog) {
                window.showModalDialog(url,"name",
                        "dialogWidth:550px;dialogHeight:460px");
            } else {
                window.open(url,'name',
                        'height=550px,width=460px,toolbar=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no ,modal=yes');
            }
        }
    </script>
{% endblock %}