{% extends 'themed_frontend_base.html' %}
{% load participants_pages_tags %}
{% block title %}Библиотеки{% endblock %}
{% block index_content %}
    <main class="main">
        <div class="container">
            <div class="crumb">
                {% block breadcrumb %}
                {% endblock %}
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="card card_mb">
                            <div class="card-body">
                                {% drow_page_tree library.code %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-pl">
                        <div class="card">
                            <div class="card-body">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}