<form name="event_calendar_filter" action="" method="POST">{% csrf_token %}
    {{ form.month }}
    {{ form.year }}
</form>
<table cellspacing="0">
    <thead>
    <tr>
        <th>Пн</th>
        <th>Вт</th>
        <th>Ср</th>
        <th>Чт</th>
        <th>Пт</th>
        <th>Сб</th>
        <th>ВС</th>
    </tr>
    </thead>
    <tbody>

    {% for week in calendar %}
        <tr>{% for day in week %}
            {% if day.day != 0 %}
                {% if day.today and not day.events %}
                    <td class="today">
                {% endif %}
            {% if day.events %}
                <td class="">
            {% endif %}
            {% if not day.today and not day.events %}
                <td>
            {% endif %}

            {% if  day.events %}
                <a class='awesome blue' href="{% url 'events:frontend:events_by_date' year month day.day %}"
                   title="Показать события дня"> {{ day.day }}</a>

            {% else %}
                {{ day.day }}
            {% endif %}
            {% else %}

                <td class="padding">
            {% endif %}
        </td>
            {% if day.today %}
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}

    </tbody>
</table>
