{% extends 'index/frontend/index.html' %}
{% load pagination_tag %}
{% load bootstrap3 %}
{% block title %}Афиша мероприятий{% endblock %}
{% block content %}
    <main class="main">
        <div class="container">
            <div class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">Главная</a>
                    </li>
                    <li>
                        <span class="crumb__current">
                           Афиша мероприятий
                        </span>
                    </li>
                </ol>
            </div>
            <h1 class="content-title">
                Афиша мероприятий
            </h1>
            <div>
                <button class="btn" id="show-event-filter">Фильтр</button>
                {% if request.GET.filter %}
                    <a class="btn btn_link" href="{% url 'events:frontend:index' %}">Очистить фильтр</a>
                {% endif %}
            </div>
            <div class="card-list card-list_4">
                {% for event in events_list %}
                    <div class="card-list__item">
                        <article class="card">
                            <div class="card-body card_h">
                                <h2 class="card-title card-title_td-lc">
                                    <a class="card-title__link"
                                       href="{% url 'events:frontend:show' event.id %}?back={{ request.get_full_path }}">
                                        {{ event.event_content.title|truncatechars:100 }}
                                    </a>
                                </h2>
                                <p class="card-detail">{{ event.event_content.teaser }}</p>
                                <time class="card-time">Начало: {{ event.start_date|date:"d.m.Y H:i" }}</time>
                                <time class="card-time">Окончание: {{ event.end_date|date:"d.m.Y H:i" }}</time>

                                {% if event.need_registration %}
                                    <ul class="card-nav" style="margin-top: 20px">
                                        <li class="card-nav__item">
                                            <a class="btn btn_sm"
    {#                                           style="margin-bottom: 5px"#}
                                               href="{% url 'events:frontend:participant' event.id %}">
                                                Принять участие
                                            </a>
    {#                                        <br/>#}
    {#                                        <a class="btn btn_sm"#}
    {#                                           href="{% url 'events:frontend:add_to_favorits' event.id %}">#}
    {#                                            Добавить в#}
    {#                                            избранное</a>#}
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
            {% pagination events_page %}
        </div>
    </main>
    <div class="modal micromodal-slide" id="filter-modal" aria-hidden="true" >

        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <form method="get" novalidate>

                    <header class="modal__header">
                        <h2 class="modal__title" id="modal-1-title">
                            Фильтр событий
                        </h2>
                        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                    </header>
                    <div class="modal__content" id="modal-1-content">
                        <div class="tab-pane">
                            {% bootstrap_form filter_form %}
                            <input type="hidden" name="filter" value="1">
                        </div>
                    </div>
                    <footer class="modal__footer">
                        <button class="btn" type="submit">Фильтровать</button>
                        <button class="btn" data-micromodal-close aria-label="Закрыть модальное окно">Закрыть</button>
                    </footer>
                </form>
            </div>
        </div>

    </div>
    <script>
        $('#show-event-filter').on('click', function () {
            MicroModal.show('filter-modal');
        });
    </script>
{% endblock %}
