{% extends 'index/frontend/index.html' %}
{% block title %}{{ content.title }}{% endblock %}
{% block meta_description %}{{ content.teaser }}{% endblock %}
{% block content %}
    <main class="main main_bg-white">
        <div class="container">
            <div class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">Главная</a>
                    </li>
                    {% if request.GEckT.ba %}
                        <li>
                            <a href="{{ request.GET.back }}">Афиша мероприятий</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'events:frontend:index' %}">Афиша мероприятий</a>
                        </li>
                    {% endif %}
                    {#                    <li>#}
                    {#                        <span class="crumb__current">#}
                    {#                        {{ content.title }}#}
                    {#                        </span>#}
                    {#                    </li>#}
                </ol>
            </div>
            <h1 class="content-title">{{ content.title }}</h1>
            <div class="ya-share2" data-services="vkontakte,whatsapp,viber,telegram"></div>
            <div class="row">

                <div class="col-lg-8 col-md-8 col-sm-8">
                    <p class="content-teaser">
                        {{ content.teaser }}
                    </p>
                    <div class="content">
                        {#                        {% if event.address %}#}
                        {#                            <p><b>Подразделение</b>: {{ event.address }}<br/></p>#}
                        {#                        {% endif %}#}
                        {#                        {% if event.address_reference %}#}
                        {#                            <p>#}
                        {#                                <b>Подразделение</b>:#}
                        {#                                {% for ancestor in event.address_reference.get_ancestors %}#}
                        {#                                    {{ ancestor.title }}#}
                        {#                                    {% if ancestor.address %}({{ ancestor.address }}){% endif %}#}
                        {#                                    {% if forloop.last %} / {% endif %}#}
                        {#                                {% endfor %}#}
                        {#                                {{ event.address_reference.title }}#}
                        {#                                <br/>#}
                        {#                            </p>#}
                        {#                        {% endif %}#}
                        {#                        <p><b>Начало</b>: {{ event.start_date }}</p>#}
                        {#                        <p><b>Окончание</b>: {{ event.end_date }}</p>#}
                        {#                        {% if event.age_category_id %}#}
                        {#                            <p><b>Возрастная категория</b>: {{ event.age_category }}</p>#}
                        {#                        {% endif %}#}
                        {#                        {% with event.category.all as categories %}#}
                        {#                            {% if categories %}#}
                        {#                                <p>#}
                        {#                                    <b>Категория:</b>#}
                        {#                                    {% for category in categories %}#}
                        {#                                        {{ category }}{% if not forloop.last %}, {% endif %}#}
                        {#                                    {% endfor %}#}
                        {#                                </p>#}
                        {#                            {% endif %}#}
                        {#                        {% endwith %}#}
                        {#                        {% if event.keywords %}#}
                        {#                            {% url 'events:frontend:index' as EVENTS_INDEX_URL %}#}
                        {#                            <p>#}
                        {#                                <b>Ключевые слова</b>:#}
                        {#                                {% for keyword in event.splited_keywords %}#}
                        {#                                    <a href="{{ EVENTS_INDEX_URL }}?keywords={{ keyword|urlencode }}">{{ keyword }}</a>#}
                        {#                                    {% if not forloop.last %}, {% endif %}#}
                        {#                                {% endfor %}#}
                        {#                            </p>#}
                        {#                        {% endif %}#}
                        {{ content.content|safe }}
                        {% if event.translation_html %}
                            <div style="height: 500px">
                                {{ event.translation_html|safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-body card_h">
                            <h2 class="card-title card-title_td-lc">
                                Начало: {{ event.start_date }} {% if event.age_category %} |
                                {{ event.age_category }} {% endif %}
                            </h2>
                            <p class="card-detail">
                                {% if event.address %}
                                    <b>Название места</b>: {{ event.address }}<br/>
                                {% endif %}
                                {% if event.address_reference %}
                                    <b>Подразделение</b>:
                                    {% for ancestor in event.address_reference.get_ancestors %}
                                        {{ ancestor.title }}
                                        {% if ancestor.address %}({{ ancestor.address }}){% endif %}
                                        {% if forloop.last %} / {% endif %}
                                    {% endfor %}
                                    {{ event.address_reference.title }}
                                    {% if event.address_reference.address %}({{ event.address_reference.address }})
                                    {% endif %}
                                {% endif %}
                                {% if event.address_reference.contacts %}
                                    <p class="card-detail">
                                        <b>Контакты</b>: {{ event.address_reference.contacts|urlize }}
                                    </p>
                                {% endif %}
                            </p>
                            {% with event.category.all as categories %}
                                {% if categories %}
                                    <p class="card-detail">
                                        <b>Категория:</b>
                                        {% for category in categories %}
                                            {{ category }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                {% endif %}
                            {% endwith %}
                            {% if event.keywords %}
                                {% url 'events:frontend:index' as EVENTS_INDEX_URL %}
                                <p class="card-detail">
                                    <b>Ключевые слова</b>:
                                    {% for keyword in event.splited_keywords %}
                                        <a href="{{ EVENTS_INDEX_URL }}?keywords={{ keyword|urlencode }}">{{ keyword }}</a>
                                        {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if event.need_registration %}
                                <p class="card-detail">
                                    {% if not participant %}
                                        <a href="{% url 'events:frontend:participant' event.id %}" class="btn">
                                            Принять участие
                                        </a>
                                    {% else %}
                                        <a href="{% url 'events:frontend:delete_participant' event.id %}" class="btn">
                                            Отменить участие
                                        </a>
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </main>
{% endblock %}