{% extends 'index/frontend/index.html' %}
{% load pagination_tag %}
{% block title %}Голосования{% endblock %}
{% block content %}
    <main class="main">
        <div class="container">
            <div class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">Главная</a>
                    </li>
                    <li>
                        <span class="crumb__current">
                           Голосования
                        </span>
                    </li>
                </ol>
            </div>
            <h1 class="content-title">
                Голосования
            </h1>
            <div class="card-list card-list_4">
                {% for poll in polls_page.object_list %}
                    {% if poll.is_active %}
                        {% url 'polls:frontend:vote' poll.id as detail_url %}
                    {% else %}
                        {% url 'polls:frontend:results'  poll.id as detail_url %}
                    {% endif %}
                    <div class="card-list__item">
                        <article class="card">
                            <div class="card-body card_h">
                                <h2 class="card-title card-title_td-lc">
                                    <a class="card-title__link"
                                       href="{{ detail_url }}">
                                        {{ poll.question }}
                                    </a>
                                </h2>
                                <time class="card-time">{{ poll.start_poll_date|date:"d M Y" }}</time>
                                {% if poll.is_active %}
                                    <p class="card-detail">Активен</p>
                                {% else %}
                                    <p class="card-detail">Завершен</p>
                                {% endif %}
                                <ul class="card-nav">
                                    {% if poll.is_active %}
                                        <li class="card-nav__item">
                                            <a class="btn btn_sm btn_gray" href="{{ detail_url }}">Подробнее</a>
                                        </li>
                                    {% else %}
                                        {% if poll.show_results_after_end_poll %}
                                            <li class="card-nav__item">
                                                <a class="btn btn_sm btn_gray" href="{{ detail_url }}">Результаты</a>
                                            </li>
                                        {% else %}
                                            <li class="card-nav__item">
                                                <p class="card-detail">Результаты недоступны</p>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </article>
                    </div>
                {% empty %}
                    Нет опросов.
                {% endfor %}
            </div>
            {% pagination polls_page %}
        </div>
    </main>
{% endblock %}