{% load add_get_tag %}
<table>
    <tr>
        <td style="vertical-align: top; min-width: 25px">
            <span style="padding-right: 3px;">{{ forloop.counter0|add:result_page.start_index }}.</span>
        </td>
        <td>
            <p class="item1">

            <div style="float: left; width: auto;">
                <h4>
                    <a href="{% url 'ssearch:frontend:detail' %}?id={{ record.id }}&back={{ request.get_full_path|urlencode }}">{{ record.tpl.get_title }} </a>
                </h4>
            </div>
            <div style="float: left; width: auto;">
                <a href="#?back={{ request.get_full_path|urlencode }}"> {{ record.library_cadr|safe }}</a>
            </div>
            <div style="clear: both"></div>
            </p>
            {% include 'ssearch/frontend/search_item_link_attr.html' with attr='Источник' links=record.tpl.get_source %}
            {% include 'ssearch/frontend/search_item_attr.html' with attr='' values=record.dict.author %}
            <p class="item3">
                {% for subject_row in record.extended.subject_heading %}
                    {% if forloop.first %}— —{% endif %}
                    {% for subject_part in subject_row %}
                        <a href="
                                {% url 'ssearch:frontend:index' %}{% add_get q=subject_part attr='subject_heading_t' in='on' %}">{{ subject_part }}</a>
                        {% if not forloop.last %} — {% else %}; {% endif %}
                    {% endfor %}
                {% endfor %}
            </p>
            {% if record.dict.subject_keywords %}
                <p class="item3">
                    <span>Ключевые слова:</span>{% for subject in record.dict.subject_keywords %}
                        <a href="{% url 'ssearch:frontend:index' %}{% add_get q=subject attr='subject_keywords_t' in='on' %}">{{ subject }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% include 'ssearch/frontend/search_item_link_attr.html' with attr='См. так же' links=record.tpl.at_same_storage %}
            {% include 'ssearch/frontend/search_item_link_attr.html' with attr='См. так же' links=record.tpl.at_another_storage %}
            {% include 'ssearch/frontend/search_item_link_attr.html' with attr='Перевод' links=record.tpl.translate_link %}
            {% include 'ssearch/frontend/search_item_link_attr.html' with attr='Оригинал перевода' links=record.tpl.translate_original_link %}
            {% include 'ssearch/frontend/search_item_link_attr.html' with attr='Копия оригинала' links=record.tpl.copy_original %}
            {% include 'ssearch/frontend/search_item_link_attr.html' with attr='Репродуцировано в' links=record.tpl.reproduction %}
            {% include 'ssearch/frontend/search_item_attr.html' with attr='Год публикации' values=record.dict.date_of_publication %}
            {% include 'ssearch/frontend/search_item_attr.html' with attr='Год издания оригинала' values=record.dict.date_of_publication_of_original %}
            {% include 'ssearch/frontend/search_item_attr.html' with attr='Издатель' values=record.dict.publisher %}
            {% include 'ssearch/frontend/search_item_attr.html' with attr='Коллекция' values=record.dict.catalog %}
            {% include 'ssearch/frontend/search_item_attr.html' with attr='Держатели' values=record.dict.holders %}


            {% if record.dict.url %}
                <p class="item4">
                    <a href="{{ record.dict.url.0 }}&id={{ record.id }}" target="_blank" class="label label-success">
                        полный текст
                    </a>
                </p>
            {% endif %}


        </td>
    </tr>
</table>
