{% extends 'ask_librarian/administration/questions.html' %}
{% load i18n %}
{% block section_content %}
    <div class="span5" align="justify">
        <div class="well">
            <h4>{% trans 'New questions' %}</h4>
        </div>
    </div>
    <div class="span4" align="justify">
        <div class="well">
            <h4>{% trans 'Processed questions' %}</h4>
            <ul class="media-grid">
                <li>
                    <a href="#">
                        <img class="thumbnail span3" src="http://placehold.it/330x230" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="thumbnail span3" src="http://placehold.it/330x230" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="span4" align="justify">
        <div class="well">
            <h4>{% trans 'Rejected questions' %}</h4>
        </div>
    </div>
{% endblock %}
