{% load mptt_tags %}
{% if nodes %}
    <ul id="main_menu">
        {% recursetree nodes %}
            {% if not node.is_leaf_node %}
                <li><a href="{{ node.item_title.url }}">{{ node.item_title }} </a>
                    <ul>
                        {{ children }}
                    </ul>
                </li>
            {% else %}
                <li {% if path == node.item_title.url %} class="active" {% endif %}><a href="{{ node.item_title.url }}" {% if node.open_in_new %} target="_blank" {% endif %}>{{ node.item_title.title }}</a></li>
            {% endif %}
        {% endrecursetree %}
    </ul>
{% endif %}


