{% load mptt_tags %}
{% load active_link %}
{% if nodes %}
<div class="menu">
    <ul id="list">
        {% recursetree nodes %}
            {% url 'participants_pages:frontend:show' library_id node.url_path as node_url %}
            <li class="{% if request.path == node_url %} active {% endif %}">
                <a href="{{ node_url }}">{{ node.title }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
</div>
{% endif %}
