{% extends 'index/frontend/index.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Login' %}
{% endblock %}
{% block content %}
    <h3 style="margin: 0 0 10px 160px;">Вход на портал</h3>
    <form method="POST" class="form-horizontal">{% csrf_token %}
        <fieldset>
            {% include 'frontend/base_form_fields.html' %}
            <div class="form-actions">
                <input type="submit" value="Войти" class="btn"/>
            </div>
        </fieldset>
    </form>
{% endblock %}
