{% extends 'index/frontend/index.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
    Регистрация
{% endblock %}
{% block content %}
    <ul class="breadcrumb">

        <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
        <li class="active">Регистрация</li>

    </ul>
    <h3 style="margin-left: 160px;">Регистрация</h3>
    <form novalidate method="POST" class="form-horizontal">{% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <input type="submit" value="Регистрация" class="btn"/>
        {% endbuttons %}
    </form>

{% endblock %}