{% extends 'frontend_base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Registration' %}
{% endblock %}
{% block content %}
    <form method="POST" class="form-horizontal">{% csrf_token %}
        <legend>{% trans 'Registration' %}</legend>
        <fieldset>
            {% include 'frontend/base_form_fields.html' %}
            <div class="form-actions">
                <input type="submit" value="{% trans 'Registration' %}" class="btn"/>
            </div>
        </fieldset>
    </form>

{% endblock %}