<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);
    function init () {
        var orgMap = new ymaps.Map("map_canvas", {
            center: [55.76, 37.67],
            zoom: 1,
            maxZoom: 10,
            behaviors: ['default', 'scrollZoom']
        });

        orgMap.controls.add(
                new ymaps.control.ZoomControl()
        );

        orgMap.controls.add('typeSelector');

        myCollection = new ymaps.GeoObjectCollection();


        for (i in points) {

            var point = points[i];

            myPlacemark = new ymaps.Placemark(point.coords,{
                balloonContent: point.balloonContent
            });

            myCollection.add(myPlacemark);
        }
        orgMap.geoObjects.add(myCollection);
        orgMap.setBounds(myCollection.getBounds());
        if (orgMap.getZoom() > 13){
            orgMap.setZoom(13);
        }

    }

    function getSiteLink(link){
        if (!link){
            return 'не указан';
        }
        return '<a href="'+link+'" target="_blank">'+link+'</a>'
    }
    var points = [];
    var js_orgs = {{ js_orgs|safe }};
    for (i in js_orgs){
        points.push({
            coords:[js_orgs[i]['latitude'], js_orgs[i]['longitude']],
            balloonContent:
                '<h4>' + js_orgs[i]['name'] + '</h4>' +
                        '<br/><b>Адрес:</b> ' +  js_orgs[i]['postal_address'] +
                        '<br/><b>Тел.:</b> ' +  js_orgs[i]['phone'] +
                        '<br/><b>Режим работы:</b> ' +  js_orgs[i]['plans'] +
                        '<br/><b>Адрес сайта:</b> ' +  getSiteLink(js_orgs[i]['http_service'])


        });
    }

</script>

