html, body, #viewContainer
{
    min-height: 100%; /* Not supported by IE 5/6, but required for Firefox/Opera */
    width: 100%;
    height: 100%;
}
/***************************************************************************
* The "height" above is a hack for IE5+/Win. Below it's adjusted using
* the child selector to hide from IE5+/Win.
* Without this, Moz1.0 adds a vertical scrollbar, & Firefox1.0/Opera7.54
* cover everything with the footer when the viewport gets too small.
***************************************************************************/
html > body, html > body #viewContainer
{
    height: auto;
}
body
{
    margin: 0;
    overflow: hidden;
}

h1
{
	margin-top: 0px;
	padding-top: 3px;
}

#viewContainer
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100%;
}
#viewMain
{
    /*margin-bottom: 150px;*/
    height: 100%;
}
#viewHeader
{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid black;
    background: #eef3e2;
}
 
#elfViewer
{
	background-color: Gray;
	top:45;
    width: 100%;

    overflow: hidden;
    position: absolute;
}
