/* CSS file */

 Application
 {
   backgroundColor: #bbbbbb; 
   /*backgroundGradientColors: #ff0000, #0000ff;
   backgroundGradientAlphas: 0.1, 0.1;*/
 }
 
 .controlBar
 {
 	borderStyle: solid;
	borderThickness: 1;
	cornerRadius: 0;
	horizontalGap: 3;
	paddingBottom: 1;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 1; 	
 }

.mainViewer
{
	backgroundColor: #808080;
}

.controlBarHBox
{
	paddingBottom: 1;
	paddingLeft: 1;
	paddingRight: 1;
	paddingTop: 1;
	borderStyle: solid;
	color: #707070;
	horizontalGap: 2;	
}

.controlBarButton
{
	/*paddingBottom: 1;
	paddingLeft: 10;
	paddingRight: 1;
	paddingTop: 1;*/
}


global
{
	/*cornerRadius: 10;*/

}
