{% extends "filebrowser/administration/index.html" %}
{% load bootstrap %}
{% block module_action %}Загрузка файла ({{ collection.title }}){% endblock %}
{% block action_content %}
    <div class="column span-19 prepend-1 last">
        <div class="well well-sm">
            <a class="btn btn-sm btn-primary" href="{% url 'filebrowser:administration:index' %}?path={{ request.GET.path }}">
                <span class="glyphicon glyphicon-arrow-left"></span> Вернуться в текущую директорию
            </a>
        </div>
        <div>

            <ol class="breadcrumb">
            Путь загрузки файла:
                <li><a title="Домашняя директория" href="?path=/"> </a></li>
                {% for breadcrumb in breadcrumbs %}
                    <li {% if forloop.last %}class="active" {% endif %}>{{ breadcrumb.title }}</li>
                {% endfor %}
            </ol>
        </div>
        <form novalidate novalidate class="well" method="post"
              enctype="multipart/form-data">{% csrf_token %}
            <legend>Загрузка файла</legend>
            <fieldset>
                {{ form|bootstrap }}
                {{ file_info_form|bootstrap }}
                <input type="submit" value="Загрузить" class="btn btn-primary"/>
            </fieldset>
        </form>
    </div>
{% endblock %}