{% extends "filebrowser/administration/filebrowser.html" %}
{% block module_action %}Загрузка файла ({{ collection.title }}){% endblock %}
{% block action_content %}
    <div class="column span-19 prepend-1 last">
        <div>
            <ol class="breadcrumb">
                <li><a title="Домашняя директория" href="?path=/"><span class="glyphicon glyphicon-home"
                                                                        aria-hidden="true"></span></a></li>
                {% for breadcrumb in breadcrumbs %}
                    {% if forloop.last %}
                        <li class="active">{{ breadcrumb.title }}</li>
                    {% else %}
                        <li><a href="?path={{ breadcrumb.url }}">{{ breadcrumb.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
        <form novalidate novalidate id="dummy" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <fieldset>
                <div class="last">
                    <label for="{{ form.file.auto_id }}">{{ form.file.label }}</label><br>
                    {{ form.file }}
                    {% if form.file.errors %}
                        <div class="error">
                            {{ form.file.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="last">
                    <button type="submit" class="button positive" title="Загрузить файл">
                        <img src="/media/images/icons/tick_16.png" alt=""/> Загрузить файл
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
    <hr class="space"/>
{% endblock %}