{% extends 'forum_base.html' %}
{% load guardian_tags %}
{% load i18n %}
{% load pagination_tag %}
{% block title %} {{ topic.subject }} {% endblock %}
{% block content %}
    {% get_obj_perms request.user for topic as "topic_perms" %}
    <h3><a href="{% url forum:frontend:forums %}">{% trans 'Forums' %}</a> → <a href="{% url forum:frontend:topics topic.forum.slug %}">{{ topic.forum.title }}</a> → {{ topic.subject }} {% if topic.closed %}({% trans 'Topic is closed' %}) {% endif %}
    </h3>
    <hr/>
    <div class="span12">
        <div class="messages">
            {% for article in articles %}
                <div class="message row {% if not article.public %}hided{% endif %}" id="{{ article.id }}">
                    <div class="span2">
                        <b>{{ article.author }}</b><br/>


                        {#                        {{ article.author|get_user_org  }}#}

                        {{ article.created }}<br>

                    </div>
                    <div class="text span9">{{ article.text|safe }}</div>
                    <div class="toolbar span1">

                        {% if "can_change_articles" in topic_perms %}
                            <a class="btn btn-small btn-warning" href="{% url forum:frontend:edit_article topic.forum.slug topic.id article.id %}#form" title="{% trans 'Edit message' %}"><i class="icon-edit"></i></a>
                        {% endif %}

                        <a class="btn btn-small" href="{% url forum:frontend:replay_article topic.forum.slug topic.id article.id %}#form" title="{% trans 'Quote' %}">« »</a>

                        {% if "can_hide_articles" in topic_perms %}
                            {% if article.public %}
                                <a class="article_hide btn btn-small btn-info" href="{% url forum:frontend:article_hide article.id %}" title="{% trans 'Hide message' %}"><i class="icon-eye-open icon-white"></i> </a>
                            {% else %}
                                <a class="article_show btn btn-small btn-info " href="{% url forum:frontend:article_show article.id %}" title="{% trans 'Publish message' %}"><i class="icon-eye-close icon-white"></i> </a>
                            {% endif %}
                        {% endif %}

                        {% if "can_delete_articles"  in topic_perms %}
                            <a class="btn btn-small btn-danger article_delete" href="{% url forum:frontend:article_delete article.id %}" title="{% trans 'Delete' %}"><i class="icon-trash icon-white"></i> </a>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% admin_pagination page %}
        </div>

        <div class="row">
            <hr/>
            {#            <hr/>#}
            {% if not topic.closed %}
                {% if quote_article %}
                    <h3>{% trans 'Quoted message' %}</h3>
                    <div class="message quote_message">{{ quote_article.text|safe }}</div>
                {% endif %}

                {% if edit_article %}
                    <h3>{% trans 'Edited message' %}</h3>
                    <div class="message edit_message">{{ edit_article.text|safe }}</div>
                {% endif %}
                <div id="preview_message">

                </div>
                {% if not  "can_publish_own_articles" in topic_perms %}
                    <div class="alert alert-block">
                        <h4 class="alert-heading">Внимание!</h4>
                        <p>Ваше сообщение будет опубликовано после проверки модератором.</p>
                    </div>

                {% endif %}
                {% if "can_add_articles" in topic_perms or "can_change_articles" in topic_perms %}
                    <form method="POST" action="?page=last">{% csrf_token %}<a name="form">&nbsp;</a>
                        {% if not quote_article and not edit_article %}
                            <legend>{% trans 'Send a message' %}</legend>
                        {% endif %}
                        <fieldset>
                            {% include 'frontend/base_form_fields.html' with form=form %}
                            <div class="form-actions">
                                {#                        <a class="btn" id="preview_button">{% trans "Preview message" %}</a>#}
                                {#                        <a class="btn .btn-info .btn-mini" href="#form" onclick="tinyMCE.execCommand('mceToggleEditor',false,'id_text');">{% trans 'Switch editor' %}</a>#}
                                <button type="submit" class="btn">{% trans "Send message" %}</button>
                                <a href="#form" onclick="tinyMCE.execCommand('mceToggleEditor',false,'id_text');">{% trans 'Switch editor' %}</a>

                            </div>
                        </fieldset>
                    </form>
                {% endif %}
            {% else %}
                <h2>{% trans 'Topic is closed' %}</h2>
            {% endif %}


        </div>
    </div>
    <script type="text/javascript">
        $('#preview_button').click(function(){
            $.ajax({
                url:'{% url forum:frontend:article_preview %}',
                type:'POST',
                dataType:"json",
                data: { text: $('#id_text').val()},
                success:function (render) {
                    $('#preview_message').html(render['text']);
                }
            });

        });

        $('.article_delete').click(function(){
            if(!confirm('Вы уверены что хотите удалить?')) return false;
            var link = $(this);
            $.ajax({
                url: link.attr('href'),
                type:'GET',
                dataType:"json",
                success:function (result) {
                    if(result['status'] == 'ok'){
                        link.parent().parent().remove();
                    }
                }
            });
            return false;
        });
        $('.article_hide').live('click', function(){
            var link = $(this);
            $.ajax({
                url: link.attr('href'),
                type:'GET',
                dataType:"json",
                success:function (result) {
                    if(result['status'] == 'ok'){
                        link.parent().parent().addClass('hided');
                        link.removeClass('article_hide');
                        link.addClass('article_show');
                        link.attr('title',"{% trans 'Publish message' %}");
                        link.html('<i class="icon-eye-close icon-white"></i>');
                        link.attr('href', link.attr('href').replace('hide', 'show'));
                    }
                }
            });
            return false;
        });

        $('.article_show').live('click', function(){
            var link = $(this);
            $.ajax({
                url: link.attr('href'),
                type:'GET',
                dataType:"json",
                success:function (result) {
                    if(result['status'] == 'ok'){
                        link.parent().parent().removeClass('hided');
                        link.removeClass('article_show');
                        link.addClass('article_hide');
                        link.attr('title',"{% trans 'Hide message' %}");
                        link.html('<i class="icon-eye-open icon-white"></i>');
                        link.attr('href', link.attr('href').replace('show', 'hide'));
                    }
                }
            });
            return false;
        });
    </script>
    <script type="text/javascript">
        $(document).ajaxSend(function(event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                        !(/^(\/\/|http:|https:).*/.test(url));
            }
            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript">
        tinyMCE.init({
            theme : "advanced",language:"ru",
            mode : "textareas",
            plugins : "bbcode",
            theme_advanced_buttons1 : "bold,italic,underline,undo,redo,link,unlink,image,forecolor",
            theme_advanced_buttons2 : "",
            theme_advanced_buttons3 : "",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "center",
            theme_advanced_styles : "Code=codeStyle;Quote=quoteStyle",
            content_css : "{{ STATIC_URL }}css/frontend/styles_bbcode.css",
            entity_encoding : "raw",
            add_unload_trigger : false,
            remove_linebreaks : false
        });
    </script>
{% endblock %}