{% extends 'forum_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Forums list' %}{% trans 'Forum permissions' %}{% endblock %}
{% block content %}
    {% include 'forum/frontend/style.html' %}
    <h3>{% trans 'Editing permissions for forum' %}: <b>{{ forum.title }}</b></h3>
    <hr/>
    <div>
        <p>{% trans 'Select permissions for group' %}: <b>{{ group.name }}</b></p>
    </div>
    <form method="POST">{% csrf_token %}<a name="form">&nbsp;</a>
        <fieldset>
            {% include 'frontend/base_form_fields.html' with form=form %}
            <div class="form-actions">
                <button type="submit" class="btn">{% trans "Change permissions" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}