{% extends 'forum_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Forums list' %}{% trans 'Forum permissions' %}{% endblock %}
{% block content %}
    <h3>{% trans 'Editing permissions for forum topic' %}: {{ topic.forum.title }} → {{ topic.subject }}</h3>
    <hr/>
    <div class="span12">
        <p>{% trans 'Select group for edit permissions' %}</p>
        <ul>
            {% for group in groups %}
                <li><a href="{% url 'forum:frontend:assign_topic_permissions' topic.id group.id %}">{{ group.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}