{% extends 'index/frontend/index.html' %}
{% load i18n %}
{% block title %}Password reset{% endblock %}

{% block content %}
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
    <form action="" method="post"> {% csrf_token %}
        <fieldset>
            {% include 'frontend/base_form_fields.html' %}
            <div class="form-actions">
                <input type="submit" value="{% trans 'Reset my password' %}" class="btn"/>
            </div>
        </fieldset>
    </form>
{% endblock %}