{% extends 'index/frontend/index.html' %}
{% load pagination_tag %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}

    <ul class="breadcrumb">

        <li><a href="{% url index:frontend:index %}">Начало</a> <span class="divider">/</span></li>
        <li class="active">Новости</li>

    </ul>
    <style>
        ul.news {
            list-style: none;
            margin: 0;
        }
        .news .title{
            font-size: 14px;
            /*font-weight: bold;*/
        }
        .news .teaser{
            padding: 5px 0;
        }
        .news .create_date{
            color: #8c8c8c;
        }
    </style>

    <ul class="news">
        {% for news in news_list %}
            <div class="title"><a href="{% url news:frontend:show news.id %}">{{ news.news_content.title }}</a></div>
            <div class="teaser">{{ news.news_content.teaser }}</div>
            <div class="create_date">{{ news.create_date|date:"j E Y" }}</div>
            {% if not forloop.last %}<hr/>{% endif %}
        {% endfor %}
    </ul>
    {% admin_pagination news_page %}

{% endblock %}