{% extends 'index/frontend/index.html' %}
{% load news_tags %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <main class="main main_bg-white">
        <div class="container">
            <div class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">Главная</a>
                    </li>
                    {% if request.GET.back %}
                        <li>
                            <a href="{{ request.GET.back }}">Новости</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'news:frontend:index' %}">Новости</a>
                        </li>
                    {% endif %}
{#                    <li>#}
{#                        <span class="crumb__current">#}
{#                        {{ content.title }}#}
{#                        </span>#}
{#                    </li>#}
                </ol>
            </div>
            <h1 class="content-title">{{ content.title }}</h1>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <time class="content-time" datetime="2018-04-26 16:55:00">{{ news.create_date|date:"j E Y" }}</time>
                    <p class="content-teaser">
                        {{ content.teaser }}
                    </p>
                    <div class="content">
                        {{ content.content|safe }}
                    </div>
                </div>
            </div>
            <section class="section">
                <div class="section__divider"></div>
                <div class="section-header">
                    <h3 class="section__title">Новости ЧОУНБ</h3>
                    <ul class="section-nav section-nav_left">
                        <li class="section-nav__item">
                            <a class="section-nav__link section-nav__link_rss"
                               href="{% url 'news:frontend:rss' %}">RSS</a>
                        </li>
                        <li class="section-nav__item">
                            <a class="section-nav__link" href="{% url 'news:frontend:index' %}?type=chel">Все
                                новости</a>
                        </li>
                    </ul>
                </div>
                <div class="card-list card-list_4">
                    {% news_feed 4 0 %}
                </div>
            </section>
            <section class="section">
                <div class="section__divider"></div>
                <div class="section-header">
                    <h3 class="section__title">Новости библиотек области</h3>
                    <ul class="section-nav section-nav_left">
                        <li class="section-nav__item">
                            <a class="section-nav__link section-nav__link_rss"
                               href="{% url 'news:frontend:rss' %}">RSS</a>
                        </li>
                        <li class="section-nav__item">
                            <a class="section-nav__link" href="{% url 'news:frontend:index' %}?type=lib">Все
                                новости</a>
                        </li>
                    </ul>
                </div>
                <div class="card-list card-list_4">
                    {% news_feed 4 1 %}
                </div>
            </section>


        </div>
    </main>
{% endblock %}