<style>
    .backlight {
        background: #eeeeee;
    }
    .pivot_root {
        list-style: none;
        margin: 0;
    }
    .pivot__title:after {
        content: " ";
    }
</style>
<div class="row">
    <div class="span6">
{#        <h4 style="display: inline"><a href="{% url 'ssearch:frontend:index' %}?q=*&attr=collection_s&in=on">Уральская электронная библиотека</a></h4> <a style="padding-left: 50px" href="/ru/pages/kray/resources/urelib/neweldoc">Новые поступления</a>#}
{##}
{#        <ul id="f{{ facet.code }}" class="facet">#}
{#            {% for coll in stat.coll_stat %}#}
{##}
{#                    <li style="margin-bottom: 10px;">#}
{#                        <a href="{% url 'ssearch:frontend:index' %}?q={{ coll.name|urlencode }}&attr=collection_s&in=on">{{ coll.name }}</a><br/>#}
{#                        <div><span class="backlight">Документов:  {{ coll.docs }}</span>#}
{#                            <span style="margin-left: 30px" class="backlight">Просмотров: {{ coll.views }}</span>#}
{#                            </div>#}
{#                    </li>#}
{#            {% empty %}#}
{#                <li>У найденных записей атрибут отсутвует</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#        <p>#}
{#            <span class="backlight">Всего документов в коллекциях: {{ stat.all_documents_count }}</span>#}
{#        </p>#}
        <div>
            {{ pivot_tree|safe }}
        </div>
        <div>
        <h3>Статистика</h3>
        <ul id="f{{ facet.code }}" class="facet">
            {% for coll in stat.coll_stat %}

                    <li style="margin-bottom: 10px;">
                        <span href="{% url 'ssearch:frontend:index' %}?q={{ coll.name|urlencode }}&attr=collection_s&in=on">{{ coll.name }}</span><br/>
                        <div><span class="backlight">Документов:  {{ coll.docs }}</span>
                            <span style="margin-left: 30px" class="backlight">Просмотров: {{ coll.views }}</span>
                            </div>
                    </li>
            {% empty %}
                <li>У найденных записей атрибут отсутвует</li>
            {% endfor %}
        </ul>
        <p>
            <span class="backlight">Всего документов в коллекциях: {{ stat.all_documents_count }}</span>
        </p>
        </div>
    </div>
<div class="span6">
    <h4>О проекте</h4>
    <p>
        Уральская электронная библиотека ведется с 2007 года с целью формирования репертуара электронных документов об
        Урале, обеспечения полноты коллекций за счет регионального подхода к их формированию, представления в сети
        Интернет достоверных источников краеведческой информации.
    </p>
    <p>
        Содержит материалы о природе края, по истории, народному образованию, экономической, научной и культурной жизни
        Урала XIX – XXI вв., коллекции уральской периодической печати.
    </p>
    <p>
        УЭБ состоит из тематических коллекций.
    </p>
    <p>
        Пополнение ресурса осуществляется за счет оцифровки фондов Челябинской областной универсальной научной
        библиотеки и отдельных изданий, предоставленных библиотеками Уральского региона, поступлений электронных
        копий документов в дар от авторов/правообладателей.
    </p>
    <p>
        Выражаем благодарность авторам и организациям, предоставившим материалы для Уральской электронной библиотеки.
    </p>
    <ul>
        <li><a style="font-weight: bold" href="/ru/pages/kray/resources/urelib/partners">Участники проекта</a></li>
        <li><a style="font-weight: bold" href="/ru/pages/about/lib/div/kraeved/">Контакты</a></li>
        <li><a style="font-weight: bold" href="/ru/pages/kray/resources/urelib/help/">Помощь</a></li>
    </ul>
</div>
</div>


