{% extends 'themed_frontend_base.html' %}
{% block index_content %}

    <style type="text/css">
        .marc_dump {
            font-weight: normal;
            font-size: 12px;
        }

        .marc_dump span.fieldlabel, span.subfieldlabel {
            font-family: monospace;
            color: #5b8ee0;
        }

        .marc_dump span.data, span.indicator {
            font-family: monospace;
        }

        .marc_dump span.label {
            font-family: monospace;
        }

        .record {
            font-weight: normal;
        }
    </style>
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">

                <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
                <li><a href="{% url 'ssearch:frontend:index' %}">Поиск</a> <span class="divider">/</span></li>
                {% if request.GET.back %}
                    <li><a href="{{ request.GET.back }}">Результаты поиска</a> <span class="divider">/</span></li>
                {% endif %}
                <li class="active">Детальная информация</li>

            </ul>
            <div class="row">
                <div class="span2">
{#                    <p><b>Количество обращений:</b> {{ view_count }}</p>#}
                    <p>{% if edoc_view_count != 0 %}
                        <b>Количество просмотров:</b> {{ edoc_view_count }}
                    {% endif %}</p>
                </div>
                <div class="span10">
                    <ul class="nav nav-tabs">
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Вид записи <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#attrs" data-toggle="tab">Атрибуты</a></li>
                                <li><a href="#card" data-toggle="tab">Карточка</a></li>
                                <li><a href="#marc" data-toggle="tab">Marc</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="attrs">
                            {% include 'ssearch/frontend/tableview_in_detail.html' %}
                        </div>
                        <div class="tab-pane" id="card">{{ record.library_cadr|safe }}</div>
                        <div class="tab-pane" id="marc">{{ record.marc_dump|safe }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}