{% extends 'themed_frontend_base.html' %}
{% block index_content %}
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
                <li class="active">Электронная библиотека</li>
            </ul>
        </div>
    </div>
    {#    <hr/>#}
    <div class="row">

        <div class="span12">
            {% include 'ssearch/frontend/collections.html' %}
        </div>

    </div>
{% endblock %}