{% extends 'index/frontend/index.html' %}
{% block title %}Галерея{% endblock %}
{% block content %}
    <ul class="breadcrumb">

        <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
        <li class="active">Галерея</li>

    </ul>
    <ul style="margin: 0; list-style: none">
        {% for album in albums %}
            <li>
                <h3><a href="{% url  'gallery:frontend:album_view album.id' %}">{{ album }}</a></h3>
                <div>
                    <b>Дата создания:</b> {{ album.create_date }}
                </div>

                <hr/>
            </li>
        {% empty %}
            <li>Альбомов нет</li>
        {% endfor %}
    </ul>
{% endblock %}