{% extends 'index/frontend/index.html' %}
{% load i18n %}
{% block title %}
    Вход на портал
{% endblock %}
{% block content %}
    <main class="main">
        <div class="container">
            <div class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">Главная</a>
                    </li>
                    <li>
                        <span class="crumb__current">Вход на портал</span>
                    </li>
                </ol>
            </div>
            <h1 class="content-title">Вход на портал</h1>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="content">
                        <form method="POST" class="form-horizontal">{% csrf_token %}
                            <fieldset>
                                {% include 'frontend/base_form_fields.html' %}
                                <div class="form-actions">
                                    <input type="submit" value="Войти" class="btn"/>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
