{% extends "frontend_base.html" %}
{% load i18n %}
{% block title %}Password reset{% endblock %}

{% block content %}

    {% if validlink %}
        <p>{% trans 'Please enter your new password twice so we can verify you typed it in correctly.'%}</p>
        <form action="" method="post"> {% csrf_token %}
            <fieldset>
                {% include 'frontend/base_form_fields.html' %}
                <div class="form-actions">
                    <input type="submit" value="{% trans 'Change my password' %}" class="btn" />
                </div>
            </fieldset>
        </form>
    {% else %}
        <h1>{% trans 'Password reset unsuccessful'%}</h1>
        <p>{% trans 'The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.'%}</p>
    {% endif %}
{% endblock %}