{% extends 'themed_frontend_base.html' %}
{% load bootstrap3 %}
{% block title %}Контактная форма{% endblock %}
{% block meta_description %}Контактная форма{% endblock %}
{% block index_content %}
    <main class="main">
        <div class="container">
            <div class="crumb">
                {% block breadcrumb %}
                    <ol class="crumb__list">
                        <li>
                            <a href="{% url 'index:frontend:index' %}">Главная</a>
                        </li>
                        <li>
                            <span class="crumb__current">
                                Контактная форма
                            </span>
                        </li>
                    </ol>
                {% endblock %}
            </div>
            <div class="row ">
                <div class="col-lg-9 col-md-9 col-sm-12 col-pl">
                    <p>По вопросам сотрудничества, а также использования материалов Уральской электронной библиотеки
                        (УЭБ) Вы можете обратиться через форму обратной связи.
                    </p>
                    <form novalidate method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="submit" value="Отправить">
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


