{% extends 'index/frontend/index.html' %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
        {% if request.GET.back %}
            <li><a href="{{ request.GET.back }}">Мои события</a> <span class="divider">/</span></li>
        {% else %}
            <li><a href="{% url 'events:frontend:index' %}">Мои события</a> <span class="divider">/</span></li>
        {% endif %}
        <li class="active">{{ content.title }}</li>
    </ul>
    <div class="content">
        {{ content.content|safe }}
    </div>
    <hr/>
    <div class="info">
        <b>Место проведения</b>: {{ event.address }}<br/>
        <b>Начало</b>: {{ event.start_date }}
    </div>
{% endblock %}