{% extends 'index/frontend/index.html' %}
{% block content %}
    <style>
        .zgate input[type=text] {
            border-radius: 2px;
            border: 1px solid #dfdfdf;
            background: #fff;
            padding: 5px;
            color: #333333;
            width: 250px;

        }
        /*.zgate input[type=text]{*/
            /*width: auto;*/
        /*}*/

        .zgate select {
            padding: 4px;
            border-radius: 0px;
            border: 1px solid #dfdfdf;
            background: #f4f4f5;
            color: #333333;
        }

        .zgate tbody tr:nth-child(even) td, .zgate tbody tr.even td {
            background: #fff;
        }
        /*.zgate table tr {*/
            /*vertical-align: bottom;*/
        /*}*/
        .zgate form select {
            width: auto;
        }
        .buttons input[type=submit] {
            background: #f4f4f5;
            cursor: pointer;
        }

        .zgate  td.buttons {
            vertical-align: top;
        }
        .zgate form table {
            width: 610px;
            vertical-align: top;
        }

    </style>
    <ul class="breadcrumb">
        <li><a href="{% url index:frontend:index %}">Начало</a> <span class="divider">/</span></li>
        <li class="active">{{ catalog_title.title }}</li>
    </ul>
    <h3>{{ catalog_title }}</h3>

    <div class="zgate text">
        <div>
            {{ catalog.description|safe }}

        </div>
        <div><a href="{% url zgate_help  catalog.id %}">Справка по работе с каталогом</a></div>
        {{ search_form|safe }}
    </div>
    <script type="text/javascript" src="/static/js/zgate.js"></script>
{% endblock %}
