{% load add_get_tag %}
{% for facet in facets %}
    {% if facet.values %}
        <div facet="{{ facet.code }}" style="margin-bottom: 10px" class="facet">
            <div style="font-weight: bold" class="facet__title">{{ facet.title }}:</div>
            <table style="width: 100%; margin-left: 10px" class="facet__values">
                {% for value in facet.values %}
                    <tr>
                        <td><a href="{% add_get_append attr=facet.code value=value.value %}">{{ value.title }}</a></td>
                        <td style="width: 60px; text-align: right">
                            <span title="{{ value.count }}" class="badge">{{ value.count }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <button class="load_more_facet btn btn-default btn-sm">Показать еще</button>
        </div>
        {% if not forloop.last %}<hr/>{% endif %}
    {% endif %}

{% endfor %}
<div class="facet_modal modal">
    <div class="modal-dialog" style="width: 100%; max-width: 900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Исследование фасета</h4>
            </div>
            <div class="modal-body">
                <p>Загрузка...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('.load_more_facet').on('click', function () {
        var facetEl = $(this).parent();
        var facetAttr = facetEl.attr('facet');

        var facetExploreModal = $('.facet_modal');
        facetExploreModal.modal();
        $.get("{% url 'search:frontend:facet_explore' %}?{{ request.META.QUERY_STRING|safe }}&fe=" + JSON.stringify({
            facet: facetAttr
        })).done(function (result) {
            var modalBody = facetExploreModal.find('.modal-body');
            modalBody.html(result);
{#            $(document).on('click', '.facet_explore .ajax_link', function () {#}
{#                alert('click');#}
{#                return false;#}
{#            });#}
            $(modalBody).on('click', '.facet_explore a.ajax_link', function (event) {
                $.get($(this).attr('href')).done(function (result) {
                    modalBody.html(result);
                });
                return false;
            });
            $(modalBody).on('submit', '.facet_explore .ajax_form', function (event) {
                //$.post(event.baseURI)
                console.log('submit', $(this).attr('action'));
                return false;
            });
        });

    });
</script>