{% extends 'index/frontend/index.html' %}
{% load pagination_tag %}
{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'index:frontend:index' %}">Главная</a> <span class="divider"></span></li>
        <li class="active">Поиск по ресурсам</li>
    </ul>
    {#<!DOCTYPE html>#}
    {#<html>#}
    {#<head lang="ru">#}
    {#    <meta charset="UTF-8">#}
    {#    <title>search</title>#}
    {#    <link rel="stylesheet" href="////yandex.st/bootstrap/3.1.1/css/bootstrap.min.css">#}
    {#    <script src="//yandex.st/jquery/2.1.1/jquery.min.js"></script>#}
    {#    <script src="//yandex.st/bootstrap/3.1.1/js/bootstrap.min.js"></script>#}
    {#</head>#}
    {#<body>#}
    <style>
        .marc_dump .leader {
            font-weight: bold;
        }

        .marc_dump .field_tag {
            font-weight: bold;
            color: blue;
        }

        .marc_dump .subfield_code {
            color: blue;
        }

        .results__row {
            transition: background 0.5s;
        }

        .results__row:hover {
            background: #f1f1f1;
            cursor: pointer;
            transition: background 0.5s;
        }

        .priorities .panel-title {
            cursor: pointer;
        }
    </style>

    <div class="row">
        <div class="col-md-9">
            <div>
                <form novalidate method="get">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <select name="attr">
                                {% for attr in titled_attrs %}
                                    <option value="{{ attr.attr }}"
                                            {% if request.GET.attr == attr.attr %}selected{% endif %}>{{ attr.title }}</option>
                                {% endfor %}
                            </select>
                        </span>
                        <input type="text" name="value" class="form-control" value="{{ request.GET.value|default:'' }}">
                        {% for prev_attr in prev_attrs %}
                            <input type="hidden" name="br_attr" value="{{ prev_attr.attr }}"/>
                            <input type="hidden" name="br_value" value="{{ prev_attr.value }}"/>
                        {% endfor %}
                        <span class="input-group-btn"><button class="btn btn-success" type="submit">Найти</button>
                        </span>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            {% if records %}
                                <label>
                                    <input name="in_results" value="1" type="checkbox"
                                            {% if request.GET.in_results == '1' %} checked="checked" {% endif %} />
                                    Искать в найденном
                                </label>

                            {% endif %}
                        </div>
                        <div class="col-md-6" style="text-align: right">
                            Найдено записей: {{ total }}
                        </div>
                    </div>
                </form>
            </div>
            {% if breadcrumbs %}
                <ol class="breadcrumb">
                    <li><a class="label label-warning" href="{% url 'search:frontend:index' %}">Очистить фильтр</a></li>
                    {% for bitem in  breadcrumbs %}
                        {% if not forloop.last %}
                            <li><a href="{{ bitem.href }}">{{ bitem.title }}: {{ bitem.value }}</a></li>
                        {% else %}
                            <li>{{ bitem.title }}: {{ bitem.value }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <hr/>
            {% endif %}
            <div class="results">
                <table style="width: 100%">
                    {% for record in records %}
                        <tr class="results__row" rid="{{ record.model.pk }}">
                            <td style="padding: 0 5px 0 0; vertical-align: text-top">{{ record.row_number }}</td>
                            <td>
                                {{ record.libcard|safe }}
                                <hr/>
                            </td>
                            <td style="width: 140px"></td>
                        </tr>
                    {% endfor %}

                </table>
                <div>
                    {% pagination result_page %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {% if show_priority %}
                <div class="priorities panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><span style="border-bottom: dashed 1px #000000">Приоритеты</span>
                        <span class="caret"></span></h3></div>
                    <div class="panel-body" style="display: none">
                        Автор: <input class="priority" type="range" name="author_t" min="1" max="100" value="1">
                        Заглавие: <input class="priority" type="range" name="title_t" min="1" max="100" value="1">
                        Рубрика: <input class="priority" type="range" name="subject_heading_t" min="1" max="100"
                                        value="1">
                    </div>
                </div>
            {% endif %}
            <div title="Нажмите на значении для уточнения поиска">Уточните поиск ↴</div>
            <div class="facets"></div>
        </div>
    </div>
    <div class="detail_modal modal">
        <div class="modal-dialog" style="width: 100%; max-width: 900px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Детальная информация</h4>
                </div>
                <div class="modal-body">
                    <p>Загрузка...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $.get('/search/facets/?{{ request.META.QUERY_STRING|safe }}').done(function (result) {
                $('.facets').html(result);
            });
        });
    </script>
    <script>

        $(function () {
            $(document).on('click', '.results__row', function () {
                var modal = $('.detail_modal');
                modal.modal();
                var content = modal.find('.modal-body');
                content.html('<span>Загрузка...</span>');
                $.get("{% url 'search:frontend:detail' %}", {
                    id: $(this).attr('rid')
                }).done(function (res) {
                    content.html(res);
                });
            });

            $('input.priority').on('change', function () {
                var priorityParams = {};
                $('input.priority').each(function (index, el) {
                    priorityParams[$(el).attr('name')] = $(el).val();
                });
                $.get("{% url 'search:frontend:index' %}?{{ request.META.QUERY_STRING|safe }}&priority=" + JSON.stringify(priorityParams)).done(function (result) {
                    $('.results').html(result);
                });
                console.log(priorityParams);
            });

            $('.priorities .panel-title').on('click', function () {
                $('.priorities .panel-body').toggle(100);
            });

        });
    </script>
{% endblock %}
{#</body>#}
{#</html>#}