<style type="text/css">
    .controls ul li label input {
        display: inline;
    }
    .controls ul {
        list-style: none;
    }
</style>
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
    <div class="control-group {% if field.errors %}error{% endif %}">
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="controls">
            {{ field }}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
            <p class="help-block">{{ field.help_text }}</p>
        </div>

    </div>
{% endfor %}