{% extends 'themed_frontend_base.html' %}

{% load news_tags %}
{% load events_tags %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block index_content %}



{#    <div class="row">#}


        <div class="span3">

            <div id="catalogs_menu" class="left_block">
                <div style="font-size: 16px; color: #d12f23; padding-top: 20px;">КАТАЛОГИ</div>
                <ul>
                    <li><a href="{% url zgate_slug_index 'books' %}">Книги</a></li>
                    <li><a href="{% url zgate_slug_index 'periodics' %}">Периодика</a></li>
                    <li><a href="{% url zgate_slug_index 'kraychel' %}">Краеведение</a></li>
                    <li><a href="{% url zgate_slug_index 'audiovisuals' %}">Аудиовизуальные документы</a></li>
                </ul>
            </div>
            <div class="left_block" style="padding-top: 20px ">
                <a href="{% url ask_librarian:frontend:index %}"><img src="{{ STATIC_URL }}images/theme/vss.png" alt="Виртуальная справочная служба" ></a>
            </div>
            <div class="left_block">

                <div class="events">
                    <div style="font-size: 16px; color: #d12f23; padding: 20px 0 10px 0;">АФИША МЕРОПРИЯТИЙ</div>
                    {% cache 60 'events' LANGUAGE_CODE %}
                    {% events_calendar %}
                    {% endcache %}
                </div>
            </div>

        </div>
        <div class="span9">
            {% block content %}
                <div class="news">
                    <h3 style="color: #d12f23">Новости</h3>
                    {% cache 60 'news' LANGUAGE_CODE %}
                        {% news_feed %}
                    {% endcache %}
                    <a href="{% url news:frontend:index %}">Остальные новости >></a>
                </div>
            {% endblock %}

        </div>
{#    </div>#}
{% endblock %}