{% extends 'events/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}
{% load mptt_tags %}
{% load add_get_tag %}
{% block breadcrumb %}
    {% breadcrumb "События" events:administration:index %}
    {% breadcrumb "Список" %}
{% endblock %}

{% block action_content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Событие</th>
            <th class="span2">Дата начала</th>
            <th class="span2">Дата окончания</th>
            <th class="span2">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events_list %}

            <tr>
                <td><a href="{% url 'events:administration:edit_event' event.id %}">{{ event.event_content.title }}</a></td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td><a class="delete btn btn-danger"  href="{% url 'events:administration:delete_event' event.id %}"><i class="icon-trash icon-white" title="Удалить"></i></a></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    {% admin_pagination events_page %}
    <script type="text/javascript">
        $("a.delete").click(function () {
            if (!confirm('Вы уверены, что хотите удалить?')) return false;
        });
    </script>
{% endblock %}


