{% extends 'pages/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}
{% load mptt_tags %}
{% load pages_tags %}

{% block breadcrumb %}
    {% breadcrumb "Страницы" pages:administration:index %}
    {% breadcrumb "Список"  %}
{% endblock %}

{% block action_content %}

    {% if parent %}
        <h3>
        <a href="{% url 'pages:administration:index' %}">Страницы</a> →
        {% for ancestor in parent.get_ancestors %}
            <a href="{% url 'pages:administration:pages_list' ancestor.id %}">
                {% if not ancestor.get_cur_lang_content %}
                    {{ ancestor }}
                {% else %}
                    {{ ancestor.get_cur_lang_content }}
                {% endif %}
            </a> →
        {% endfor %}
        {% if not parent.get_cur_lang_content %}
            {{ parent }}
        {% else %}
            {{ parent.get_cur_lang_content }}
        {% endif %}
        </h3>
    {% else %}
        <h3>
        Страницы
        </h3>
    {% endif %}
    <hr/>
    <style type="text/css">
        .not_public a{
            color: #ff4500;
        }
    </style>
    <ul class="list" style="list-style: none; padding: 0; margin: 0">
    {% for page in pages %}
        <li>
            <a class="btn btn-warning" title="Настройка прав доступа" href="{% url 'pages:administration:page_permissions' page.id %}"><i class="icon-lock"></i></a>

            {% if not page.public %}
                <span class="title not_public">
                <i class="icon-eye-close" title="Не опубликовано"></i>
            {% else %}
                <span class="title">
            {% endif %}
                {% if not page.content.title %}
                    <a href="{% url 'pages:administration:edit_page' page.id %}">{{ page.slug }}</a>
                {% else %}
                    <a href="{% url 'pages:administration:edit_page' page.id %}">{{ page.content.title }} ({{ page.slug }})</a>
                {% endif %}

            </span>
            {% if not page.is_leaf_node %}
            <a class="btn" href="{% url 'pages:administration:pages_list' page.id %}">Подстраницы</a>
            {% endif %}
{#            <a href="{% url pages:administration:create_page page.id %}">{% trans 'Add subpage' %}</a>#}
            <span class="buttons">
                <a class="btn" href="{% url 'pages:administration:create_page' page.id %}"><i class="icon-plus"></i>Создать подстраницу</a>
                <a class="btn" href="{% url 'pages:administration:page_up' page.id %}" title="передвинуть вверх">↑</a>
                <a class="btn" href="{% url 'pages:administration:page_down' page.id %}" title="передвинуть вниз">↓</a>
                <a style="margin-left: 20px" class="btn btn-danger" href="{% url 'pages:administration:delete_page' page.id %}"><i class="icon-trash icon-white"></i></a>
            </span>
        </li>
    {% endfor %}
    </ul>
    {% admin_pagination pages_page %}
{% endblock %}


