{% extends 'base.html' %}
{% load i18n %}
{% load mptt_tags %}
{% block content %}
    <style type="text/css">
        .categories {
            width: 800px;
            background: #edecd6;

        }
        .category {
            float: left;
            margin: 5px 5px;
            background: #edecd6;
        }
        .root{
            width: 800px;
            list-style-type: none;
            padding: 0;
        }
        .root>li{

            width: 380px;
            margin-top: 50px;
            margin-left: 5px;
            background: #edecd6;
        }
        .root ul{
            padding-left: 20px;
            list-style: none;
        }
    </style>
    <h1>{% trans 'Ask a librarian' %}</h1>
    <div class="categories">
        <ul class="root">
            {% recursetree categories %}
                <li>
                    <a href="{% url ask_librarian:by_category node.id %}">{{ node.name }}</a>({{ node.get_count }})
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
{#        <select name="classifiers" multiple="multiple" size="10">#}
{#            {% for node,structure in categories|tree_info:"ancestors" %}#}
{#                {% if node.is_child_node %}#}
{#                    <option value="{{ node.pk }}">#}
{#                        {{ structure.ancestors|tree_path }} :: {{ node }}#}
{#                    </option>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </select>#}
{#        {% for category in categories %}#}
{#            {% drilldown_tree_for_node category as drilldown count ask_librarian.Question.category in question_count %}#}
{#            {% for node,structure in drilldown|tree_info %}#}
{#                {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}#}
{#                {% ifequal node genre %}#}
{#                    <strong>{{ node.name }}</strong>#}
{#                {% else %}#}
{#                    <a href="#">{{ node.name }}</a>#}
{#                    {% ifequal node.parent_id category.pk %}({{ node.question_count }}){% endifequal %}#}
{#                {% endifequal %}#}
{#                {% for level in structure.closed_levels %}</li></ul>{% endfor %}#}
{#            {% endfor %}#}
{#        {% endfor %}#}
{##}
{#                <ul>#}
{#                    {% recursetree categories %}#}
{#                        {{ node }}#}
{#                        {% drilldown_tree_for_node node as drilldown cumulative count ask_librarian.Question.category in question_count %}#}
{#                        {{ drilldown }}#}
{#                        {{ children }}#}
{#                        {% drilldown_tree_for_node node as drilldown cumulative count ask_librarian.Question.category in game_count %}#}
{#                        {% for node,structure in drilldown|tree_info %}#}
{#                            {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}#}
{#                            {% ifequal node genre %}#}
{#                                <strong>{{ node.name }}</strong>#}
{#                            {% else %}#}
{#                                <a href="#">{{ node.name }}</a>#}
{#                                {% ifequal node.parent_id genre.pk %}({{ node.game_count }}){% endifequal %}#}
{#                            {% endifequal %}#}
{#                            {% for level in structure.closed_levels %}</li></ul>{% endfor %}#}
{#                        {% endfor %}#}
{#                    {% endrecursetree %}#}
{#                </ul>#}
    </div>
    <div>
{% for question in questions %}
    <p>{{ question.text }}</p>
{% endfor %}
    </div>

{% endblock %}
