{% extends 'frontend_base.html' %}
{% block title %}Библиотеки{% endblock %}
{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url index:frontend:index %}">Начало</a> <span class="divider">/</span></li>
        <li class="active">Библиотеки</li>
    </ul>
    <ul class="participants">
        {% for cbs in  cbs_list %}
            <li><a href="{% url participants:frontend:branches cbs.id %}">{{ cbs.name }}<br/></a>
                Сайт: {% if cbs.http_service  %}<a href="{{ cbs.http_service }}" target="_blank"> {{ cbs.http_service }}</a>
                {% else %} не указан {% endif %}
            </li>
        {% empty %}
            Список еще не сформирован
        {% endfor %}
    </ul>

{% endblock %}