{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Administration{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/administration/styles.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>



</head>
<body>
{% include 'administration/navbar.html' %}

<div class="container" style="margin-top: 39px;">
    <div class="row">
        <div class="span2">
            {% block module_menu %}
{#Пример#}
{#            <ul class="nav nav-list">#}
{#                <li class="nav-header">{% trans 'Users' %}</li>#}
{#                <li class="active"><a href="#">{% trans 'List' %}</a></li>#}
{#                <li class="nav-header">{% trans 'Groups' %}</li>#}
{#                <li><a href="#">{% trans 'List' %}</a></li>#}
{#            </ul>#}
            {% endblock %}
        </div>
        <div class="span10">
            {% block module_content %}
                Выберите модуль для администрирования
            {% endblock %}
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });
</script>
</body>
<script type="text/javascript">
    $('#topbar').dropdown();
</script>
</html>