<div id="form_results" class="content">
    {% if poll %}
        <div style="padding:5px 0 5px 0;"><b>{{ poll.question }}</b></div>
        <form id='vote_form' action="{% url polls:frontend:vote poll.id %}" method="POST">
            {% csrf_token %}
            {#                    <ul style="list-style:none; padding:0;">#}
            <table>
                {% if poll.poll_type == 'radio' %}
                    {% for choice in choices %}
                        <tr>
                            <td><input type="radio" name="answer" value="{{ choice.id }}"/> </td>
                            <td>{{ choice.choice }}</td>
                        </tr>
                    {% empty %}
                        Нет вариантов ответа.
                    {% endfor %}
                {% endif %}
                {% if poll.poll_type == 'checkboxes' %}
                    {% for choice in choices %}
                        <tr>
                            <td><input type="checkbox" name="answer" value="{{ choice.id }}"/></td>
                            <td>{{ choice.choice }}</td>
                        </tr>
                    {% empty %}
                        Нет вариантов ответа.
                    {% endfor %}
                {% endif %}
            </table>
            {#                    </ul>#}
            <div align="center">
                <input type="submit" value="Ответить"  class="btn"/>
            </div>
        </form>

    {% else %}
        Нет активных опросов.
    {% endif %}
    <div style="text-align:center;padding:5px 0 5px 0;"><a href="{% url polls:frontend:index %}">Архив опросов</a></div>
</div>
<script type="text/javascript" src="http://ksob.spb.ru/media/js/jquery.form.js"></script>
<script type="text/javascript">
    $(function () {
        $('#vote_form').bind('submit', function (e) {
            e.preventDefault(); // <-- important
            $(this).ajaxSubmit({
                target:'#form_results'
            });
        });
    });
</script>