{% extends 'ssearch/statistics/base.html' %}
{% block content %}
    <ul>
        <li><a href="{% url 'ssearch:statistics:users' %}">Посещение ЭБ</a></li>
        <li><a href="{% url 'ssearch:statistics:actions' %}">Действия пользователей в ЭБ</a></li>
        <li><a href="{% url 'ssearch:statistics:incomes' %}">Поступления в ЭБ</a></li>
        <li><a href="{% url 'ssearch:statistics:materials' %}">Типы материалов в ЭБ</a></li>
        <li><a href="{% url 'ssearch:statistics:search' %}">Статистика поиска</a></li>
        <li><a href="{% url 'ssearch:statistics:popular' %}">Популярные записи</a></li>
        <li><a href="{% url 'ssearch:statistics:popular_collections' %}">Популярные коллекции</a></li>
    </ul>
{% endblock %}