{% extends 'ssearch/statistics/base.html' %}
{% block content %}
    <h3>Тип материалов ЭБ</h3>
    <div id="pivotgrid-chart"></div>
    <div id="pivotgrid"></div>
    <script>
        $(function () {
            var store = new DevExpress.data.CustomStore({
                loadMode: "raw",
                load: function () {
                    return $.getJSON('{% url 'ssearch:statistics:material_types_stat' %}');
                }
            });

            var pivotGridChart = $("#pivotgrid-chart").dxChart({
                commonSeriesSettings: {
                    type: "bar"
                },
                tooltip: {
                    enabled: true,
                    customizeTooltip: function (args) {
                        var valueText = (args.seriesName.indexOf("Total") != -1) ?
                            Globalize.formatCurrency(args.originalValue,
                                "USD", {maximumFractionDigits: 0}) :
                            args.originalValue;

                        return {
                            html: args.seriesName + "<div class='currency'>"
                                + valueText + "</div>"
                        };
                    }
                },
                size: {
                    height: 320
                },
                adaptiveLayout: {
                    width: 450
                }
            }).dxChart("instance");

            var pivotGrid = $("#pivotgrid").dxPivotGrid({
                allowSortingBySummary: true,
                allowSorting: true,
                allowFiltering: true,
                allowExpandAll: true,
                height: 800,
                showBorders: true,
                fieldPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    fileName: "material_types"
                },
                dataSource: {
                    fields: [
                        {
                            caption: "Тип материала",
                            width: 150,
                            dataField: "material_type",
                            area: "row"
                        },
                        {
                            caption: "Коллекция 1 ур.",
                            width: 300,
                            dataField: "level_1",
                            area: "row"
                        },
                        {
                            caption: "Коллекция 2 ур.",
                            dataField: "level_2",
                            width: 300,
                            area: "row",
                        },
                        {
                            caption: "Коллекция 3 ур.",
                            dataField: "level_3",
                            width: 300,
                            area: "row",
                        },
                        {
                            caption: "Коллекция 4 ур.",
                            dataField: "level_4",
                            width: 300,
                            area: "row",
                        },
                        {area: "column", dataField: "date", dataType: "date", groupInterval: "year", caption: "Год", sortOrder: 'desc'},
                        {area: "column", dataField: "date", dataType: "date", groupInterval: "month", caption: "Месяц"},
                        {area: "column", dataField: "date", dataType: "date", groupInterval: "day", caption: "День"},
                                                {
                            caption: "Количество",
                            dataField: "amount",
                            dataType: "number",
                            summaryType: "sum",
                            {#format: "currency",#}
                            area: "data"
                        }
                    ],
                    store: store
                }
            }).dxPivotGrid("instance");
            pivotGrid.bindChart(pivotGridChart, {
                dataFieldsDisplayMode: "splitPanes",
                alternateDataFields: false
            });
        });
    </script>
{% endblock %}