{% extends 'ssearch/statistics/base.html' %}
{% block content %}
    {% url 'ssearch:frontend:detail' as DETAIL_URL %}
    <h3>Популярные записи</h3>
    <form novalidate method="get">
        {{ range_form.as_p }}
        {{ action_form.as_p }}
        <button>Сформировать</button>
    </form>
    <table border="1">
        <tr>
            <th>Место</th>
            <th>Название</th>
            <th>Количество</th>
        </tr>
        {% for row in report %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{{ DETAIL_URL }}?id={{ row.id|urlencode }}" target="_blank">{{ row.title }}</a>
                </td>
                <td>{{ row.amount }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
