{% load i18n %}
{% load core_active_menu_item_tag %}

{% url ask_librarian:admin_questions_list as questions_list %}
{#{% url ask_librarian:admin_managers as admin_managers %}#}
{##}
{#<li class="{% active request admin_questions %}"><a href="{{ admin_questions }}">{% trans 'Questions' %}</a></li>#}
{#<li class="{% active request admin_managers %}"><a href="{{ admin_managers }}">{% trans 'Managers' %}</a></li>#}


<li><a href="{{ questions_list }}">{% trans 'Questions list' %}</a></li>
{#<li><a href="#">{% trans 'Add ask manager' %}</a></li>#}