{% extends 'accounts/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumb %}
    {% breadcrumb _("Accounts") accounts:administration:index %}
    {% breadcrumb _("Users") accounts:administration:users_list %}
    {% breadcrumb _("Create") %}

{% endblock %}

{% block action_content %}
    <form class="form-horizontal" method="POST">{% csrf_token %}
        <legend>Создание пользователя</legend>
        <fieldset>
            {% include 'administration/base_form_fields.html' %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
                <button type="reset" class="btn">{% trans "Cancel" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}