{% extends 'index/frontend/index.html' %}
{% block title %}
    Справка каталога {{ catalog.title }}
{% endblock %}
{% block content %}
    <style type="text/css">
        .page .content {
            font-size: 12px;
        }
        .page .content p + p {
            text-indent: 0;
        }
        .page .content ul, .page .content ol {
            font-size: 14px;
            margin: 0 1.5em 0 0;
            padding-left: 1.5em;
        }
        .page .content ol a, .page .content li a, .page .content ul a{
            font-size: 12px;
        }
    </style>
    <h3><a href="{% url 'zgate_index' catalog.id %}">{{ catalog.title }}</a>: справка</h3>
    <div class="page">
        <div class="content">
            {{ catalog.help|safe }}
        </div>
    </div>

{% endblock %}
