{% extends 'news/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}
{% load mptt_tags %}
{% load add_get_tag %}
{% block breadcrumb %}
    {% breadcrumb "Новости" news:administration:index %}
    {% breadcrumb "Рассылки" %}
{% endblock %}

{% block action_content %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message|safe }}</div>
    {% endfor %}
    <div class="well well-small">
        <form class="form-inline">
            <div class="form-group">
                <select class="form-control" name="type">
                    <option value="0" {% if request.GET.type == '0' %}selected{% endif %}>Новости ЧОУНБ</option>
                    <option value="1" {% if request.GET.type == '1' %}selected{% endif %}>Новости библиотек области</option>
                    <option value="2" {% if request.GET.type == '2' %}selected{% endif %}>Общие</option>
                </select>
                <input class="form-control" type="date" name="start_date" value="{{ filter_form.cleaned_data.start_date|default:filter_form.start_date.value|date:'Y-m-d' }}">

                <input class="form-control" type="date" name="end_date" value="{{ filter_form.cleaned_data.end_date|default:filter_form.end_date.value|date:'Y-m-d' }}">
                <input type="hidden" name="filter" value="1">
                <button class="btn btn-default">Фильтровать</button>

            </div>
        </form>
    </div>
    <h1>Новости</h1>
    <form method="post">{% csrf_token %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <input id="check_all" type="checkbox" checked />
            </th>
            <th>Новость</th>
            <th class="span2">Дата создания</th>

        </tr>
        </thead>
        <tbody>
        {% for news in news_list %}

            <tr>
                <td><input class="news-checkbox" type="checkbox" checked name="news" value="{{ news.id }}"/></td>
                <td><a href="{% url 'news:administration:edit_news' news.id %}">{{ news.news_content.title }}</a></td>
                <td>{{ news.create_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-default"  type="submit">Сформировать письмо</button>
    </form>
    <script>
        $(function () {
            $('#check_all').on('change', function () {
                const selected = $(this).prop('checked');
                const newsCheckboxes = $('.news-checkbox');
                if (selected) {
                    newsCheckboxes.each(function (index, el) {
                        $(el).prop('checked', true);
                    });
                } else {
                    newsCheckboxes.each(function (index, el) {
                        $(el).prop('checked', false);
                    });
                }
            });
        });
    </script>
{% endblock %}

