{% load add_get_tag %}
{% load i18n %}

<div class="pagination">
    <ul>
        <li class="prev {% if not page.has_previous %}disabled{% endif %}">
            <a href="{% add_get page=page.previous_page_number %}">{% trans "previous page" %}</a></li>
        {% for pnum in begin %}
            <li {% ifequal page.number pnum %}class="active"{% endifequal %}>
                <a href="{% add_get page=pnum %}">{{ pnum }}</a>
            </li>
        {% endfor %}
        {% if middle %}
{#            <li class="disabled"><a href="#">…</a></li>#}
            {% for pnum in middle %}
                <li {% ifequal page.number pnum %}class="active"{% endifequal %}>
                    <a href="{% add_get page=pnum %}">{{ pnum }}</a></li>
            {% endfor %}
        {% endif %}
        {% if end %}
{#            <li class="disabled"><a href="#">…</a></li>#}
            {% for pnum in end %}
                <li {% ifequal page.number pnum %}class="active"{% endifequal %}>
                    <a href="{% add_get page=pnum %}">{{ pnum }}</a>
                </li>
            {% endfor %}
        {% endif %}
        <li><a class="next {% if not page.has_next %}disabled{% endif %}" href="{% add_get page=page.next_page_number %}">{% trans "next page" %}</a></li>
    </ul>
</div>