{% extends 'cid/administration/index.html' %}
{% load static %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}
{% block breadcrumb %}
    {% breadcrumb "Знаменательные даты" cid:administration:id_list %}
    {% breadcrumb "Создание знаменательной даты" %}

{% endblock %}

{% block action_content %}
    {% get_static_prefix as  STATIC_URL%}
    <script type="text/javascript" src="{% url 'jsi18n' %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/calendar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/widgets.css"/>

    <script type="text/javascript">
        window.__admin_media_prefix__ = "{{ STATIC_URL }}admin/";
    </script>
    <style>
        form input[type=text], textarea{
            width: 95%;
        }
        form input[type=checkbox]{
            display: inline-block;
        }
    </style>
    <form class=
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <legend>Создание знаменательной даты</legend>
        <fieldset>
            {% include 'administration/base_form_fields.html' with form=form %}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Создать</button>
        </div>
    </form>
    {% include 'cid/administration/editor.html' %}
{% endblock %}