{% extends 'cid/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}
{% block breadcrumb %}
    {% breadcrumb "Знаменательные даты" cid:administration:id_list %}
    {% breadcrumb "Список" %}

{% endblock %}

{% block action_content %}
    <ul>
    {% for idate in idates_page.object_list %}
        <li>
            <div><a href="{% url 'cid:administration:edit_id' idate.id %}">
                {% if idate.count_day %}{{ idate.date|date:"d"}}{% endif %}
                {% if idate.count_month %}{{ idate.date|date:"N"}} {% endif %}
                {% if idate.count_year %}{{ idate.date|date:"Y"}} г.{% endif %}
                {{ idate }} </a></div>
            <div>Тип: {% for type in  idate.type.all %} {{ type }} {% if not forloop.last %}, {% endif %}{% endfor %}.</div>
            <a class="delete btn btn-danger" href="{% url 'cid:administration:delete_id' idate.id  %}"><i class="icon-trash icon-white" title="Удалить"></i></a>
        </li>
    {% endfor %}
    </ul>
    {% admin_pagination idates_page %}
{% endblock %}