{% load active_link %}
<ul class="nav nav-list">
    <li class="nav-header">Знаменательные даты</li>
    <li class="{% active 'cid:administration:id_list' %}"><a href="{% url cid:administration:id_list %}">Список</a></li>
    <li class="{% active_path 'cid:administration:create_id' %}"><a href="{% url cid:administration:create_id %}">Создать запись</a></li>
</ul>

{#<ul class="nav nav-list">#}
{#    <li class="nav-header">Темы</li>#}
{#    <li class="{% active 'cid:administration:theme_list' %}"><a href="{% url cid:administration:theme_list %}">Список</a></li>#}
{#    <li class="{% active_path 'cid:administration:create_theme' %}"><a href="{% url cid:administration:create_theme %}">Создать</a></li>#}
{#</ul>#}