<script type="text/javascript">
    window.print();
</script>

<ul style="list-style: none; margin: 0">
    {% for idate in idates %}
        <li>
            <b>
                {% if idate.count_day %}{{ idate.date|date:"d"}}{% endif %}
                {% if idate.count_month %}{{ idate.date|date:"E"}} {% endif %}
                {% if idate.count_year %}{{ idate.date|date:"Y"}} г.{% endif %}
                {{ idate }}
            </b>

            <div>Тип: {% for type in  idate.type.all %} {{ type }} {% if not forloop.last %},
            {% endif %}{% endfor %}.
            </div>
            {% if not forloop.last %}
                <hr/>{% endif %}
        </li>
    {% endfor %}
</ul>