{% extends 'backend_base.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load i18n %}
{% load breadcrumbs %}
{% block module_title %}{% trans 'Filebrowser' %}{% endblock %}
{% block module_menu %}
    {% include 'filebrowser/administration/module_menu.html' %}
{% endblock %}
{% block module_content %}
{#    {% active_path 'accounts:administration:index' %}#}
{#    <a class="{% active 'accounts:administration:index' %}" href="{% url accounts:administration:index %}">wedwed</a>#}
    <ul class="breadcrumb">
    {% block breadcrumb %}
        {% breadcrumb _("Filebrowser")  %}
    {% endblock %}
    </ul>
    {% block action_content %}
        Summary
    {% endblock %}
    <script type="text/javascript">
        $("a.delete").click(function () {
            if (!confirm('Удаленные файлы или директории нельзя востановить, а ссылки, которые указывали на файл перестанут работать! Вы уверены, что хотите удалить?')) return false;
        });
    </script>
{% endblock %}