{% load mptt_tags %}

{#<link href="http://vremenno.net/examples/css-drop-down-menu/css/dropdown/themes/mtv.com/default.ultimate.css" media="all" rel="stylesheet" type="text/css" />#}

{#    <span class="title">{{ menu.title }}</span>#}
    <ul>
        {% if nodes %}
            {% recursetree nodes %}
                <li {% if path == node.item_title.url  %} class="active" {% endif %}>
                    <a href="{{ node.item_title.url }}" {% if node.open_in_new %} target="_blank" {% endif %}>{{ node.item_title.title }}</a>
                </li>
                {% if not node.is_leaf_node %}
                    <li class="dir">
                        <ul class="children">
                        {{ children }}
                        </ul>
                    </li>
                {% endif %}
            {% endrecursetree %}
        {% endif %}
    </ul>

{#<script type="text/javascript">#}
{#    $(document).ready(function() {#}
{#        $("ul.dropdown li").hover(function() {#}
{##}
{#            $(this).addClass("hover");#}
{#            $('> .dir',this).addClass("open");#}
{#            $('ul:first',this).css('visibility', 'visible');#}
{#        }, function() {#}
{#            $(this).removeClass("hover");#}
{#            $('.open',this).removeClass("open");#}
{#            $('ul:first',this).css('visibility', 'hidden');#}
{#        });#}
{##}
{#    });#}
{#</script>#}

