{% extends 'themed_frontend_base.html' %}
{% load pagination_tag %}
{% block title %}Детальная информация о записи{% endblock %}
{% block index_content %}
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
                <li>
                    <a href="{% url 'search:frontend:index' %}">Поиск по ресурсам</a> <span class="divider">/</span>
                </li>
                {% if request.GET.back %}
                    <li>
                        <a href="{{ request.GET.back }}">Результаты</a> <span class="divider">/</span>
                    </li>
                {% endif %}
                <li><a class="current">Детальная информация</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span9">
            {{ record.libcard|safe }}

                {% with annotation=record.object.330.0.a.0.get_data %}
                    {% if annotation %}
                        <hr/>
                        <h4>Аннотация:</h4>
                        <p>{{ annotation }}</p>
                    {% endif %}
                {% endwith %}

                <div id="holdings_info"></div>
                {#                {% if record.source.onwer %}#}
                {#                    <hr/>#}
                {#                    <h4>Входит в состав:</h4>#}
                {#                    <p>{{ record.source.onwer }}</p>#}
                {#                    <p>{{ record.source.union }}</p>#}
                {#                {% endif %}#}
                {% if linked_records.linked_records %}
                    <hr/>
                    <h4>Содержит:</h4>
                    <ul style="padding: 0; list-style: none">
                        {% for linked_record in linked_records.linked_records %}
                            <li>
                                <div>
                                    {{ forloop.counter }}. <a target="_blank"
                                                              href="{% url 'search:frontend:detail' %}?id={{ linked_record.model.record_id }}">
                                    {{ linked_record.title.title }}
                                </a>
                                </div>
                                {% if inked_record.attrs.author %}
                                    <div>Автор:
                                        {% for author in linked_record.attrs.author %}{{ author }}{% endfor %}</div>
                                {% endif %}

                                <div>
                                    {% if linked_record.attrs.date_of_publication %}
                                        {% if linked_record.attrs.document_type.0 != 'статья' %}
                                            Дата публикации: {{ linked_record.attrs.date_of_publication.0 }}
                                        {% endif %}
                                    {% endif %}
                                    {% if linked_record.attrs.document_type %}
                                        Тип документа: {{ linked_record.attrs.document_type.0 }}
                                    {% endif %}
                                    {{ linked_record.attrs.url }}
                                </div>
                                {% if not forloop.last %}
                                    <hr/>{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% pagination linked_records.result_page %}
                {% endif %}
                {% if record.cover %}
                    <img style="display: block; border: #eee solid 3px; margin-top: 20px"
                         src="{{ record.cover.large }}"/>
                {% endif %}
        </div>
    </div>
{% endblock %}
