{% load add_get_tag %}
<div class="acc-container facets-container">
<h4 class="selected">Источники</h4>
    <table style="margin: 5px">
        {% for pivot_facet in pivot_facets %}
            <tr>
                {#            {{ pivot_facet.value }} {{ pivot_facet.count }}#}
                <td>
                    <a style="font-weight: bold"
                       href="{% add_get_append attr=pivot_facet.field value=pivot_facet.value %}">
                        {{ pivot_facet.title }}
                    </a>
                </td>
                <td style="text-align: right">
                    {{ pivot_facet.count }}
                </td>
            </tr>
            {% if pivot_facet.pivot %}

                {% for pivot_facet in pivot_facet.pivot %}
                    <tr>
                        <td style="padding-left: 10px">
                            <a href="{% add_get_append attr=pivot_facet.field value=pivot_facet.value %}">
                                {{ pivot_facet.title }}
                            </a>
                        </td>
                        <td style="text-align: right">{{ pivot_facet.count }}</td>
                    </tr>
                    {% if pivot_facet.pivot %}

                        {% for pivot_facet in pivot_facet.pivot %}
                            <tr>
                                <td style="padding-left: 20px">
                                    <a href="{% add_get_append attr=pivot_facet.field value=pivot_facet.value %}">
                                        {{ pivot_facet.title }}
                                    </a>
                                </td>
                                <td style="text-align: right">{{ pivot_facet.count }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </table>
</div>

<div class="acc-container facets-containe">
    {% for facet in facets %}
        {% if facet.values %}
            <div class="acc-btn {% if facet.code == 'source_s' %}acc-btn-open{% endif %}"><h4
                    class="selected">{{ facet.title }}</h4></div>
            <div class="acc-content {% if facet.code == 'source_s' %}open{% endif %}">
                <div class="acc-content-inner">
                    <div class="boxer" style="width: 100%">
                        {% for value in facet.values %}
                            <div class="box-row">
                                <div class="box">
                                    <a href="{% add_get_append attr=facet.code value=value.value %}">
                                        {{ value.title }}
                                    </a>
                                </div>
                                <div class="box" style="text-align: right">
                                    <span title="{{ value.count }}" class="badge pull-right">{{ value.count }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div facet="{{ facet.code }}">
                        <button class="load_more_facet btn btn-mini">Показать еще</button>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="facet_modal modal" style="display: none">
    <div class="modal-dialog" style="width: 100%; max-width: 900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-facets btn-facets-blue" data-dismiss="modal" aria-hidden="true"
                        style="float: right"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" style="font-size: 130%; color: #333">Исследование фасета</h4>
            </div>
            <div class="modal-body">
                <p>Загрузка...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-border btn-blue" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('.load_more_facet').on('click', function () {
        var facetEl = $(this).parent();
        var facetAttr = facetEl.attr('facet');

        var facetExploreModal = $('.facet_modal');
        facetExploreModal.modal();
        $.get("{% url 'search:frontend:facet_explore' %}?{{ request.META.QUERY_STRING|safe }}&fe=" + JSON.stringify({
                    facet: facetAttr
                })).done(function (result) {
            var modalBody = facetExploreModal.find('.modal-body');
            modalBody.html(result);
            {#            $(document).on('click', '.facet_eexit
            explore .ajax_link', function () {#}
            {#                alert('click');#}
            {#                return false;#}
            {#            });#}
            $(modalBody).on('click', '.facets-container a.ajax_link', function (event) {
                $.get($(this).attr('href')).done(function (result) {
                    modalBody.html(result);
                });
                return false;
            });
            $(modalBody).on('submit', '.facets-container .ajax_form', function (event) {
                //$.post(event.baseURI)
                console.log('submit', $(this).attr('action'));
                return false;
            });
        });

    });
</script>

<script type="text/javascript">


</script>
