{% extends 'index/frontend/index.html' %}
{% load hash %}
{#{% load search_tags %}#}
{% load mydocs_tags %}
{% block title %}Сохраненные поисковые запросы{% endblock %}
{% block breadcrumb %}
    <section>
        <div id="breadcrumbs">
            <ul class="breadcrumb">

                <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
                <li><a href="{% url 'search:frontend:index' %}">Поиск</a> <span class="divider">/</span></li>
                <li class="active">Сохраненные поисковые запросы</li>

            </ul>
        </div>
    </section>
{% endblock %}
{% block index_content %}
    <div class="saved_requests">
        {% if srequests %}
            <table class="table table-striped">
                {% for srequest in srequests %}
                    <tr>
                        <td>
                            {% for search_breadcumb in srequest.breads %}
                                <a title="Выполнить запрос"
                                   href="{{ search_breadcumb.href }}"><b>{{ search_breadcumb.title }}</b>: {{ search_breadcumb.value }}
                                </a> {% if not forloop.last %}→{% endif %}
                            {% endfor %}
                            <div class="actions">
                                <a class="delete"
                                   href="{% url 'search:frontend:delete_search_request' srequest.saved_request.id %}">Удалить</a>
                                <span style="float: right;">{{ srequest.saved_request.add_time }}</span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="alert alert-info">Список сохраненных запросов пуст.</div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
        <script type="text/javascript">
        $('.delete').click(function () {
            var button = $(this);
            $.ajax({
                url: $(this).attr('href'),
                type: 'GET',
                dataType: "json",
                async: true,
                success: function (response) {
                    if (response['status'] == 'ok') {
                        button.parent().parent().hide();
                    }
                    else {
                        alert('При удалении возникла ошибка');
                    }
                }
            });
            return false;
        });
    </script>
{% endblock %}