{% extends 'events/administration/index.html' %}
{% load static %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}
{% block breadcrumb %}
    {% breadcrumb "События" events:administration:events_list %}
    {% breadcrumb "Создание события" %}

{% endblock %}

{% block action_content %}
{% get_static_prefix as  STATIC_URL%}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
<script type="text/javascript">window.__admin_media_prefix__ = "{{ STATIC_URL }}admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "10800";</script>

<script type="text/javascript" src="/ru/radmin/jsi18n/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/actions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/calendar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/inlines.js"></script>
    <style>
    form input[type=text], textarea{
        width: 95%;
    }
    </style>
    <form class="form" method="POST">{% csrf_token %}
        <legend>Создание события</legend>
        <fieldset>
            {% include 'administration/base_form_fields.html' with form=event_form %}
            {% for event_content_form in event_content_forms %}
                <p>Описание события на языке: <b>{{  event_content_form.lang }}</b>↴</p>
                {% include 'administration/base_form_fields.html' with form=event_content_form.form %}
                <hr/>
            {% endfor %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Создать</button>
                <button type="reset" class="btn">Отмена</button>
            </div>
        </fieldset>
    </form>
    <script type="text/javascript">
        (function($) {
            var field;
        })(django.jQuery);
    </script>
    {% include 'events/administration/editor.html' %}
{% endblock %}