{% extends 'events/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}
{% load adminmedia %}
{% block breadcrumb %}
    {% breadcrumb "События" events:administration:events_list %}
    {% breadcrumb "Редактирование события" %}

{% endblock %}

{% block action_content %}

    <script type="text/javascript" src="{% url 'jsi18n' %}"></script>
    <script type="text/javascript" src="{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}js/jquery.init.js"></script>
    <script type="text/javascript" src="{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}js/core.js"></script>
    <script type="text/javascript" src="{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}js/calendar.js"></script>
    <script type="text/javascript" src="{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}js/admin/DateTimeShortcuts.js"></script>
    <link rel="stylesheet" type="text/css" href="{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}css/widgets.css"/>

    <script type="text/javascript">
        window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
    </script>
    <style>
    form input[type=text], textarea{
        width: 95%;
    }
    </style>
    <form class="form-horizontal" method="POST">{% csrf_token %}
        <legend>Создание события</legend>
        <fieldset>
            {% include 'administration/base_form_fields.html' with form=event_form %}
            {% for event_content_form in event_content_forms %}
                <p>Описание события на языке: <b>{{  event_content_form.lang }}</b>↴</p>
                {% include 'administration/base_form_fields.html' with form=event_content_form.form %}
                <hr/>
            {% endfor %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Создать</button>
                <button type="reset" class="btn">Отмена{{ ADMIN_MEDIA }}</button>
            </div>
        </fieldset>
    </form>
    {% include 'events/administration/editor.html' %}
{% endblock %}