{% extends 'index/frontend/index.html' %}
{% load pagination_tag %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <ul class="breadcrumb">

        <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
        <li class="active">Гостевая книга</li>

    </ul>
    <p>
    <a href="{% url 'guestbook:frontend:send_feedback' %}" class="btn btn-success">Написать отзыв</a>
    </p>
    <hr/>
    <ul class="feedbacks" style="list-style: none; margin: 0">
    {% for feedback in feedbacks_page.object_list %}
        <li>{{ feedback.content|safe }}</li>
        {% if not forloop.last %}<hr/>{% endif %}
    {% endfor %}
    </ul>
    {% admin_pagination feedbacks_page %}
{% endblock %}