{% extends 'index/frontend/index.html' %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <style type="text/css">
    form.feedback_from textarea{
        width: 99%;
    }
    </style>
    <ul class="breadcrumb">
        <li><a href="{% url index:frontend:index %}">Начало</a> <span class="divider">/</span></li>
        <li><a href="{% url guestbook:frontend:index %}">Гостевая книга</a> <span class="divider">/</span></li>
        <li class="active">Оставить запись</li>

    </ul>
    <div class="alert alert-success">
        <p><b>Спасибо, что остались неравнодушными  к порталу!</b></p>
        <p>Мы учтем Ваши пожелания и замечания. Ваш отзыв будет опубликован после проверки модератором на предмет спама</p>
    </div>
{% endblock %}